[2021-03-01 12:36] mcollina commented on #414
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-03-02 12:21] jonnydgreen opened #415 "Add service metadata to `preGatewayExecution` hook"
Hi! I have a use case that requires me to infer the called federated service from within the `preGatewayExecution` hook. At the moment, I don't think this is possible as there is insufficient information in the `context` as far as I'm aware. In the code, this hook is called in two places:

- [`make-resolver`](https://github.com/mercurius-js/mercurius/blob/master/lib/gateway/make-resolver.js#L454)

[2021-03-02 15:25] mcollina commented on #415
I think it's better to use a 4th parameter.

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-03-02 15:27] jonnydgreen commented on #415
For sure, I'll start work on a PR now including unit tests, typings, typings tests and docs!

[2021-03-02 16:45] mrazauskas commented on #295
This shape came to my head last night. Leaving it here.

Perhaps it makes sense to keep GraphQL’s hexagon? People recognise it. (3) is here just to try out something else. (4) simply shows how shape was build (based on GraphQL’s logo).

I was working more on (2), seemed more interesting. But right now I would vote for (2). “Mercurius is a GraphQL adapter” and an adapter is rather simple thing. (2)

[2021-03-02 18:20] mcollina commented on #295
I love these drafts! The one I like the most is the 4th one actually!

What do other think?

@PacoDu @PabloSzx?

[2021-03-02 19:13] PabloSzx commented on #295
I like the 4th one too, but maybe making the grey a little bit darker, o even going for the simpler 2nd looks good too

[2021-03-03 06:19] mrazauskas commented on #295
Glad you like it. Now I see how to improve it a bit. Will be back soon.

[2021-03-03 10:06] #415 closed

[2021-03-03 10:08] PacoDu commented on #295
Thanks for these drafts ! I also like the 2nd and the 4th.

[2021-03-03 16:30] musabkhunaijir opened #417 "issue: has no exported member"
am using:

and keep getting the following errors in lots of modules

[code]

and,

error e.g.:

[code]

[2021-03-03 16:42] PabloSzx commented on #417
Do you have graphql installed?

[2021-03-03 16:48] musabkhunaijir commented on #417
yes

[2021-03-03 17:01] mrazauskas commented on #295
Next round:

- full GraphQL logo behind
- the shape now looks more like a lightening. Before it reminded me some mountains
- M does not touch bottom line in this version.
- the look is overall more dynamic. I try to give a hint to Fastify’s performance
- perhaps it is better to stick with two colours? Seems enough.

<img width="400" alt="mecurius-5" src="https://user-images.githubusercontent.com/7

[2021-03-03 18:13] mcollina commented on #295
It seems enough! Could you add some text to the right as well?

[2021-03-03 20:46] PabloSzx commented on #417
it seems to be a Fastify version mismatch, make sure to have installed ^3.13.0

[2021-03-04 07:05] musabkhunaijir commented on #417
same errors

[2021-03-04 08:01] mcollina commented on #417
As usual, I recommend you to upload a repository showing how to reproduce your problem.

[2021-03-04 08:07] emanuelet opened #418 "JIT setting causes Javascript heap out of memory error on mutation"
Hi,

I found a pattern where when the JIT compiler is engaged by a mutation, that triggers a loop which in turn causes an out of memory error.

The mutation were generated with `sequelize-graphql-schema` and once I disabled jit, it all worked perfectly.

I have attached a CPU profile and in case I can send an heapdump that is pretty big tho.
[CPU-20210304T121833.zip](https://github.com/mercurius-j

[2021-03-04 08:09] mcollina commented on #418
Thanks for reporting @emanuelet. We would need a minimal reproduction to be able to open a bug report to graphql-jit (and trying to fix it).

[2021-03-04 08:26] emanuelet commented on #418
You're right.

First of all here's a [gist](https://gist.github.com/emanuelet/fe4ca539977b900f5f55a7088cebf594) of my fastify setup.

For reproduction:

1. Run the server
2. Execute the mutation auto-generated from the model like so
[code]
3. execute another query
4. execute the same mutation from before with a new value
5. execute another query
6. the server should still spin for a few more secon

[2021-03-04 14:29] mrazauskas commented on #295
There are so many fonts. Would be interesting to compare the number of digital fonts and the amount of `npm` packages. It is a job to pick the right one. Here is what I was looking for:

- sans serif.
- open source font.
- spiky M (bottom spike could be enough, but then it definitely should not touch the base line).
- with monospaced companion (optional, but would be useful for website some day).

[2021-03-05 09:55] mcollina commented on #418
It does seem the combination of those dependency is not really expected:

[code]

Could you try to upload a full repository? I have not been able to run your gist.

After some tries I got to:

[code]

If you could reproduce it by removing most of those dependencies it would be great, thanks.

[2021-03-05 09:56] mrazauskas commented on #295
I will clean last details, create a repo with png & svg files and will send Transfer Request. Hm.. Or is there a better option?

In any case I have to create a repo with logos. And then let’s see.

[2021-03-05 10:12] mcollina commented on #295
PTAL for all formats that are needed: https://github.com/fastify/graphics

[2021-03-05 10:13] mcollina commented on #295
@mrazauskas you can just send a PR to https://github.com/mercurius-js/graphics.

[2021-03-05 23:59] emanuelet commented on #418
That's quite weird.
I tried creating a new folder and run the same `npm install` command you run and I got through.
[code]
I should point out also that in my project `package.json` I don't specify or require a specific version of the `graphql` package

[2021-03-07 10:59] #417 closed

[2021-03-09 20:22] runeh opened #419 "mercurius references `Window` type that is not always available"
Mercurius uses types from `Window`. That type is not available in typescript
unless the `lib` setting is set to `DOM` or is omitted.

See testcase here: https://github.com/runeh/mercurius-window-bug-repro

Steps to reproduce:

- `npm install`
- `npm run build`

Expected:

Compiles

Actual:

Typescript fails with

[code]

[2021-03-09 21:08] mcollina commented on #419
Would you like to send a Pull Request to address this issue?

Removing it is totally ok.

[2021-03-10 07:04] mrazauskas commented on #419
For me it seems that all is correct in the code.

The reported issue is related with typings of `playgroundHeaders` option. Documentation of the option: `If it is a function, it is serialised, injected in the generated HTML and invoked with the 'window' object as the argument.` It will not work without `Window`.

Mercurius is Node library. It includes two browser side IDEs: GraphiQL and GraphQL Pl

[2021-03-10 11:06] mrazauskas commented on #419
Apologies. I concentrated on Mercurius only to explain why there is no need to change anything. This did not answer the original question.

To make the example repo build, add `"skipLibCheck": true` in your `tsconfig.json`:

[code]

Without this setting `tsc` will check all *.d.ts files including `node_modules/mercurius/index.d.ts` as we can see in the error. These checks make compile time slower

[2021-03-10 11:26] runeh commented on #419
It should not be required to use `skipLibCheck: true` in order to use mercurius. I explicitly turn that setting OFF in all my projects because I want typescript to complain about potential errors.

Furthermore, mercurius does not run in a browser, thus enabling the DOM lib does not make sense. To quote  the typescript documentation https://www.typescriptlang.org/tsconfig#lib :

Most importantly, h

[2021-03-10 11:27] mcollina commented on #419
https://github.com/mercurius-js/mercurius/pull/420 should fix this.

[2021-03-10 14:41] mrazauskas commented on #419
I agree with all what is said. At the same time we should keep in mind that Mercurius was written in JS and typings were added later. I hope you will agree that in this case best practise is to have typings which reflect the code.

Perhaps it makes sense to rework the code instead of changing uncomfortable parts of typings into `any` to make `tsc` happy?

#306 fits here too. Unfortunately implemen

[2021-03-10 16:01] mcollina commented on #295
One of our designers in NearForm came up with the following design.

![Mercurius Concepts](https://user-images.githubusercontent.com/52195/110658283-d65ca880-81c1-11eb-802f-aa73f1e69b92.jpg)

What do you think of the 3rd design? It's very similar to the above, possibly a bit more streamlined.

[2021-03-10 16:22] PacoDu commented on #295
I really like the 2nd and the 4th 😍, it's hard to choose between them.

The 3rd is beautifully too but IMO the M shape alone reminds me more of a chart library than a graphql one.

[2021-03-10 17:10] PabloSzx commented on #295
I like the 2nd one too, the color contrast looks very good.

I completely agree, maybe adding the GraphQL shape behind the M shape like the previous one would fix it

[2021-03-11 12:43] nherment commented on #418
@emanuelet I'm going through this and trying to reproduce your issue but it would be of great help if you could provide a fully working example. As Matteo mentioned, the provided gist does not run.

[2021-03-14 16:13] kuznetsov-online commented on #225
@asciidisco do you have progress with it?

[2021-03-15 23:26] jkirkpatrick24 opened #422 "safeBuildSchema swallowing errors"
Hello!

I think the introduction of the [safeBuildSchema method](https://github.com/mercurius-js/mercurius/pull/385/files#diff-061d3468d2bcef7c7e9e1a06bbe3e8d14fa2edabd3f090c099ac8718c8ec5a3aR107-R114
) has lead to the swallowing of errors that should be surfaced to users. Previously, if trying to build an invalid schema, a useful error message would be returned pointing them to the issue.

Given

[2021-03-16 08:10] mcollina commented on #422
Could you upload a runnable script to reproduce your issue? Otherwise it would be hard to understand what's going on.

As a general rule I would consider it ok to throw and error if both fails if this results in runtime errors / inability to access the graph.

[2021-03-16 10:54] 0x77dev opened #424 "Gatway subscriptions doesn't execute subscribe on service side second time"
[code]

Both clients subscribe to `Subscription.testEvent` through gateway, but on a service side `subscribe` executes only once, thus they both receive the same connection.

As a result, `userId: 1` gets `userId: 2` events and `userId: 2` either does not receive any, or receives same events as `userId: 1`.

If clients subscribe to service directly without gateway it works as expected: `userId: 1`

[2021-03-16 11:27] mcollina commented on #424
Can you write a small example to demonstrate your issue (both client and server, check the unit tests)? Would you like to send  a PR to fix it?

[2021-03-16 13:51] 0x77dev commented on #424
### reproduce example

https://gist.github.com/0x77dev/662309d334348758e19af329d2d9b0ec

### without gateway

<img width="1416" alt="Screenshot 2021-03-16 at 15 46 19" src="https://user-images.githubusercontent.com/46429701/111319628-e4517400-866e-11eb-92e0-c6d8e2b30574.png">

### with gateway

<img width="1423" alt="Screenshot 2021-03-16 at 15 45 28" src="https://user-images.githubusercontent.com

[2021-03-16 15:22] mcollina commented on #424
I'm not sure the example in your screenshot matches the code. It does not seem to be any input variables in your query.

Can you add a client to your example to reproduce the problem?

[2021-03-16 15:27] 0x77dev commented on #424
### Expected behaviour:

`userId: 1` receives: testEvent.userId = 1

`userId: 2` receives: testEvent.userId = 2

### Client 1 (First Tab)
#### GraphQL Body
[code]
#### connection_init payload
[code]

### Client 2 (Second Tab)
#### GraphQL Body
[code]
#### connection_init payload
[code]

[2021-03-16 15:37] mcollina commented on #424
Confirmed. Would you like to send a PR to fix this?

[2021-03-16 23:12] jkirkpatrick24 commented on #422
Ah this is actually nothing to do with safeBuildSchema. It's to do with how the gateways handle remote services (specifically when those remote services have invalid schemas) so this isn't actually a bug.

I do think some improved error messaging would help here so I've spun up a quick PR to address that.

https://github.com/mercurius-js/mercurius/pull/425

[2021-03-17 09:17] 0x77dev commented on #424
I will look at it when I have time

[2021-03-19 13:46] FedericoBiccheddu commented on #414
For sure. I already done the update, but I don't know how to test this particular refactoring. Any hint or suggestion?

[2021-03-19 13:52] mcollina commented on #414
I don't know, I imagine this was sparked from some real-world issue.

[2021-03-19 14:58] FedericoBiccheddu commented on #414
It is a real-world issue (the code in the first comment is actually used in our repo) but we don't test those types or we have to support old installation of this library.

I'll try to update `types.ts` to reflect this change.

[2021-03-19 22:51] jessekrubin opened #426 "Accessing fastify instance in type-graphql resolvers?"
How do you access the fastify-instance from a type-graphql resolver?
I have a very decorated server and am trying to see what is involved in adding graphql to it.

[2021-03-20 09:35] mcollina commented on #426
Unfortunately I can't help out as I've never used TypeGraphql.

[2021-03-20 17:46] PabloSzx commented on #426
If you add the fastify instance in your buildContext you can access it in your resolvers:

[code]

[2021-03-20 17:46] #426 closed

[2021-03-23 13:15] jonnydgreen commented on #343
Hi! I've been starting to look at this in detail based on @adamovittorio 's suggestion and have come up with an implementation suggestion for it. Let me know what you think!

## The general approach

Register a plugin after Mercurius is registered with user defined checks and directives in options:

[code]

Utilise the new Mercurius hooks to run the authn/authz checks:

 - authentication - `preExe

[2021-03-23 14:14] mcollina commented on #343
I think we should also support authorizing local resolvers, not just remote servers.

Apart from that, go for it. Would you like me to create a new repo in this org?

[2021-03-23 14:41] jonnydgreen commented on #343
No problem, I'll make sure that's included!

Awesome, thanks! :) Yes please, if that's okay with you?

[2021-03-23 15:35] #422 closed

[2021-03-25 01:20] jonnydgreen opened #428 "Query aliases are not handled correctly in the gateway"
Hi! I've encountered an issue when using aliases in queries to the gateway. This occurs within nested types where aliases are not handled correctly on fields. I'm able to reproduce it with a test and I think I have identified a potential solution for the fix as well.

To reproduce, we take the following gateway setup:

### User service schema

[code]

### Post service schema

[code]

If we make th

[2021-03-25 07:11] PabloSzx commented on #428
I think it's very import for this issue to be fixed, thanks for reporting it

I just created a repo for benchmarking mercurius very easily with autocannon https://github.com/PabloSzx/mercurius-benchmark, made it with a gateway with 2 services of only hello worlds, but it's a nice start, with some logic to make it very easy to use, there you can also modify mercurius as you need and the changes wil

[2021-03-25 08:54] jonnydgreen commented on #428
No problem, I'll get started on a PR asap if that works for you!

Awesome, I'll give that a go - thanks very much for the tip! :)

[2021-03-26 11:40] #428 closed

[2021-03-27 10:16] SkeLLLa opened #430 "Unhandled errors in subscriptions crashes server."
I've recently had some errors in logs after which the whole server got crashed.

Here's an example:

[code]

Is there any way to add custom error handler to it, to log more details?

[2021-03-27 11:42] mcollina commented on #430
Looks like a bug somewhere between mercurius and fastify-websocket.

You can get the websocket via https://github.com/websockets/ws/blob/HEAD/doc/ws.md#event-connection, you should have the websocket server exposed via https://github.com/fastify/fastify-websocket/blob/c99252b99d2ed23ca804d85a75805f8c3e199d96/index.js#L37. If you register fastify-websocket before mercurius, your instance will be us

[2021-03-28 09:13] SkeLLLa commented on #430
Yes, I'll try to create a reproduction. So far I can tell that bug might be connected to create react app built-in proxy, because before such errors like
[code]

[2021-03-29 13:14] theGlenn opened #431 "Access context in rewriteHeaders"
Hi, first of all, kudos for this awesome repo.

I was implementing the gateway but realised we cannot access context information in `rewriteHeaders`, it's quite a broad use case to pass  headers from context info to underlying services, Apollo allows it  in `RemoteGraphQLDataSource` by providing context in `willSendRequest`.

[2021-03-29 13:20] mcollina commented on #431
Good spot!
Would you like to send a Pull Request to add this feature? Remember to add unit tests.

[2021-03-29 14:32] theGlenn commented on #431
Yes I could not sure where to start tho.
Could it the context parameter be passed to `service.sendRequest` ?

[2021-03-29 23:34] jonnydgreen opened #432 "Query directives do not handle operation variables in the gateway"
Hi! I recently came across an issue in the gateway when passing variables through to `skip` directives in the query. When variables defined in the operation are used by directives, they are not included in the constructed query sent to federated services and an error is returned in the gql response. Note, this issue seems to be applicable when passing variables to any query directive supported by

[2021-03-29 23:36] mcollina commented on #432
Excellent write up! Go ahead and send the PR!

[2021-03-29 23:37] jonnydgreen commented on #432
Thanks! :) Will do that now!

[2021-03-30 07:56] mcollina commented on #431
Maybe, unfortunately I do not have time right now to dig into a design. It's definitely available in the resolver, it's just a matter of the few steps it must passed through to get it to `rewriteHeaders`.

[2021-03-30 10:52] cobraz commented on #295
IMHO, the logo above from @mrazauskas is the better option. It references GraphQLs logo. I would personally try to find some other colour scheme (that is purely my personal taste).

The alternatives that @mcollina sent are all super cool but has been branded «on their own». They don't reference GraphQL in any way; ergo Mercurius has to communicate what it is and over time build a relationship to t

[2021-03-30 14:53] #432 closed

[2021-03-30 16:09] HashDot opened #434 "shared schemas with @external/@extends dont work"
Hi, first of all thanks for this great project.

I am in the process of switching from Apollo Federation to Mercurius and am running into a few problems. Everything I describe here works with Apollo Federation and I would like to continue doing the same. Here's the problem:

I am using the same schemas in different services such as meta information, person, address, etc. These basic schemas are in

[2021-03-30 16:57] mcollina commented on #434
Thanks for reporting! I currently do not have much time to diagnose this but I'm happy to review any PRs.

[2021-03-30 18:14] HashDot commented on #434
Thanks for your quick reply. Then I will try another variant in the meantime and when I have time I will take a closer look. But maybe someone else has an idea what it is.

[2021-03-31 08:36] Santinell commented on #431
I have the same problem, I tried to make a workaround - just generate context in method `rewriteHeaders`,
but unfortunately method `rewriteHeaders` can't be async method because it's doesn't awaiting in `request` method.
It works only with synchronous methods. 😞

[2021-03-31 13:10] teovillanueva opened #435 "GraphQL Subscriptions onConnect access context and socket"
Hi, I’m currently trying to implement authentication for my subscriptions and i found out the onConnect method is very limited. I can't access the context to set some properties neither the socket. I can open a PR, let me know if this makes sense ;)

[2021-03-31 13:24] teovillanueva commented on #435
Cool!

[2021-04-01 12:29] Santinell commented on #370
@mcollina  @0x77dev, what I could do if I need return scalar type? `JSONObject` in my case (from `graphql-scalars`)

[code]

[2021-04-01 14:14] simoneb commented on #370
@Santinell if that doesn't work it may be the same reason as what's originally reported in this issue. The current workaround would be to wrap that into a type. Apparently there hasn't been progress in figuring out the root cause of the issue.

[2021-04-01 15:00] ruheni commented on #352
Hi @PeteSolid 👋🏾

I created a [PR](https://github.com/mercurius-js/mercurius/pull/436), giving an example of how you can work with databases in Mercurius using [Prisma](https://prisma.io).  You can work with other ORMs too other than Prisma too. 🙂

In case you hit any snag, feel free to reach out! 😉

[2021-04-02 08:00] Santinell commented on #370
@simoneb Thanks for your comment, now I understand. I wrapped it in another type and now it works.
I did it this way:

[code]

[2021-04-02 08:09] simoneb commented on #370
No problem, glad it helped. That's a workaround, I would be happy if somebody could look more closely why it doesn't work with plain scalars.

[2021-04-06 05:23] acro5piano commented on #376
This could be helpful for subscriptions while it is still in beta:

https://github.com/andyrichardson/subscriptionless

[2021-04-06 10:09] jonnydgreen commented on #343
Hey @mcollina, sorry for the bother - I just wondered if you'd had a chance to create a new repo for this in the org? Cheers! :)

[2021-04-06 10:52] jonnydgreen commented on #343
Thanks very much! :)

[2021-04-07 13:05] valdestron commented on #343
@jonnydgreen

Your solution would be very nice.

How I am doing this is a little bit different. I am using custom authChecker middleware in federated services, it parses RBAC headers. Then field level @authorized() directive calls the authChecker where the RBAC logic is defined.

But I am not sure how to pass RBAC headers to downstream services from the gateway. In apollo federation its possible t

[2021-04-08 15:34] jonnydgreen commented on #343
@valdestron thanks, I'm getting started on it asap :)

In Mercurius gateway and depending on how you are generating the RBAC headers, you can set the [`rewriteHeaders`](https://mercurius.dev/#/docs/federation?id=use-graphql-server-as-a-gateway-for-federated-schemas) option which may help you in passing RBAC headers to federated services. I have also used it in combination with [Mercurius hooks](ht

[2021-04-08 19:37] valdestron commented on #343
Yes I saw this issue with rewriteHeaders. I am having a problem of generating RBAC headers using rewriteHeaders as I need to access some remote Identity Provider like Auth0 and caching like Redis, before forwarding RBAC headers to downstream.

If your solution would be in place, there would be three auth options IMO using mercurius gateway:
1. access context in rewriteHeaders, and pass RBAC header

[2021-04-09 10:53] #431 closed

[2021-04-09 13:31] alex-parra commented on #343
As of [release 7.4.0](https://github.com/mercurius-js/mercurius/releases/tag/v7.4.0) (Apr 9th, 2021) `context` is now passed as a second argument to `rewriteHeaders`.

[code]

[2021-04-10 15:29] pukarsharma112 opened #455 "CREATING OWN CONTEXT FOR SUBSCRIPTION"
The authorization header for subscription context is always undefined.
I followed the example for custom context for subscription but didn't worked for me

[2021-04-10 15:47] mcollina commented on #455
Could you please provide an example to reproduce what you are trying to achieve?

[2021-04-10 16:31] PabloSzx commented on #455
Maybe @pukarsharma112 is confused because of this:
https://stackoverflow.com/questions/4361173/http-headers-in-websockets-client-api

In websockets graphql/context you have to use connection parameters, and with those, create the subscription context, you can extend the context using "options.subscription.onConnect" function, See [options](https://mercurius.dev/#/docs/api/options?id=plugin-options

[2021-04-12 05:36] pukarsharma112 commented on #455
@PabloSzx I followed https://github.com/mercurius-js/mercurius/blob/master/docs/subscriptions.md#build-a-custom-graphql-context-object-for-subscriptions, but i was not able to directly access authorization header from there so i used onConnect and found that the headers are present withing `payload` object, this helped me but i was wondering if there is any way to get the header from `subscription

[2021-04-12 10:30] alex-parra commented on #434
Hi @HashDot
I've looked into your `federation-example` repo but as far as I can tell the graphql schemas are loaded from the vault which isn't provided.

Have you looked at the [gateway example](https://github.com/mercurius-js/mercurius/blob/master/examples/gateway.js) which includes @extends cross service and works as expected?
What's different from your setup/needs?

The test [extends-directive]

[2021-04-13 13:00] mcollina commented on #299
Clsoed as done in https://github.com/mercurius-js/mercurius/pull/436

[2021-04-13 13:00] #299 closed

[2021-04-14 09:20] Santinell opened #456 "Directive @requires doesn't work correctly"
In one service `HOST` I have such schema:

[code]

and in service `DICT` I have such schema:

[code]

When I make such request:

[code]
I expect that field `size` will be requested automatically, and I could be able to fetch size data by its id.
But instead of it I don't receive `size` in `DICT` service.

mercurius: 7.3.3
nodejs: 14.16.0

[2021-04-14 10:53] mcollina commented on #456
Would you like to send a PR to fix this? That'd be great.

Can you provide a full example to reproduce?

[2021-04-15 07:51] Santinell commented on #456
Hi, I made example to reproduce problem:
https://github.com/Santinell/mercurius-bug-requires

I am afraid I don't know where the problem is, to make a PR, I only can guess that it somewhere in gateway

[2021-04-18 09:24] HosseinAgha opened #457 "Error: websocket handler can only be declared in GET method when exposeHeadRoutes is used"
When `exposeHeadRoutes` is true in fastify factory function options, I get the `Error: websocket handler can only be declared in GET method`.
I think this error is from Mercurius as I don't use WebSocket plugin.

[2021-04-18 10:54] mcollina commented on #457
This option is not enabled by default. It will be enabled in the next major release.

[2021-04-18 10:54] mcollina commented on #457
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-04-18 13:11] HosseinAgha commented on #457
Thank you,
I'd be happy to. But I'm so busy at the moment.
I'll try to open a PR as soon as I could.

[2021-04-18 13:35] lewispham commented on #169
I think this issue should be reopen as there is still no official solutions. We can have a workaround via adding a `postExecution` hook for parsing the error response. This hook should be executed right after the resolvers. Right now with the `onResolution` hook, we can only access the parsed errors, not the original ones.

[2021-04-19 07:01] lewispham opened #458 "Missing field names in errors thrown by class validator"
As I'm trying to integrate typegraphql with mercurius, validation errors thrown by class validator are always this error.
[code]
As you can see from the error log then the related field names are not included. Shouldn't they be included in the field `extensions` (ErrorWithProps) automatically?

P/s. Related issue on typegraphql repo https://github.com/MichalLytek/type-graphql/issues/863

[2021-04-19 07:23] mcollina commented on #458
I think we are missing a property called `originalError` in our error handler.

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-04-19 08:36] lewispham commented on #458
@mcollina I think I'm not yet qualified for having that PR. Please help with it. Thanks.

[2021-04-20 11:12] HashDot commented on #434
Hi @alex-parra thanks for your response. I've tried to fill in the services without the vault and the result is the same. I try to build a better and less complex example of my problem for better debugging.

[2021-04-20 11:20] HashDot opened #460 "Federation Upload"
Hi, I try to upload files with a federation but it does not work. I tried various examples and without a federation it is working smoothly. In the case of the federation I get an error and I have tried to debugging it but I have no plan where it comes from.

I think it is a wrong payload from the gateway? If it were only the file payload I think it should work. Has anyone a idea how I can make it

[2021-04-20 22:05] mcollina commented on #460
I have a feeling this is not supported right now.

[2021-04-21 14:55] alex-parra commented on #434
@HashDot sounds good!

[2021-04-21 15:17] simone-sanfratello commented on #456
working on that

[2021-04-21 17:18] sharmapukar217 opened #463 "custom directive support"
Is there any other way to implement custom directives other than stuffs done on their test file?

[2021-04-21 17:25] mcollina commented on #463
Did you read https://github.com/mercurius-js/mercurius/blob/master/test/directives.js?

[2021-04-22 00:49] danielrearden commented on #278
It would be nice for Mercurius to be compatible with [envelop](https://github.com/dotansimha/envelop), which provides a mechanism for providing a wide array of plugins for your GraphQL server regardless of the server implementation. That would make [all these plugins](https://github.com/dotansimha/envelop#available-plugins) available to Mercurious users. But this would require a way to provide not

[2021-04-22 05:34] HashDot commented on #460
Okay thats a problem for me. I can help to implement this feature. So that I can help, can you give me a hint where I can start?

[2021-04-22 06:18] mcollina commented on #460
I would:

1. study how graphql-upload works
2. study how the gateway works and how we forward data to the target microservices
3. add some logic to convert a normal request to a multipart request _if the target microservice use the upload scalar_, forwarding all the needed parts.

It's a complex feature and it likely won't scale well, as it accumulates files in memory. I would recommend to use a d

[2021-04-22 07:23] mcollina commented on #278
@danielrearden
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-04-22 07:36] sharmapukar217 commented on #463
@mcollina yes i've already read that but its too much there.. i'm searching for easy way. Currently I'm using `makeExecutableSchema` but there's a problem using this and working with unions. `mercurius-codegen` creates `resolveType` for resolving unions but `makeExecutableSchema` throw error and __resolveType works but then typescript get angry 😠 .

[2021-04-22 07:38] sharmapukar217 commented on #463
@mcollina btw is it good to use `makeExecutableSchema` with `mercurius` 🤔 ?

[2021-04-22 08:43] mcollina commented on #463
Yes it's possible and tested. I have no clue about the typescript problems. I would recommend starting with a minimal repro and maybe open an issue on mercurius-codegen.

[2021-04-22 10:57] sharmapukar217 commented on #463
@mcollina it good to use makeExecutableSchema with mercurius ?

[2021-04-22 11:13] mcollina commented on #463
Sure, it's just graphql.

[2021-04-23 15:56] akoenig opened #465 "Context type when creating sub-resolver"
Thanks for building `mercurius` 🤗 It's a pleasure to work with it – so lightweight 🪶 I have a question though 🙂

It is related to working with TypeScript and the context type binding via `declare module "mercurius"`. What I want to achieve is modularizing the resolver map a little bit. Let's say I have the following `Project` type:

[code]

I want to define a "sub-resolver" for just the `members`

[2021-04-24 06:22] kuznetsov-online commented on #225
@asciidisco any news, please?

[2021-04-24 07:47] mcollina commented on #465
Thanks for reporting! Unfortunately I'm not an expert on TS and I can't help you directly. I hope some other member of the community could!

[2021-04-24 12:51] #463 closed

[2021-04-24 15:39] PabloSzx commented on #465
Can you create a small repo reproducing this issue? Thank you

[2021-04-24 15:58] Sven65 opened #466 "Support for extensions similar to express-graphql"
In the [express-graphql](https://github.com/graphql/express-graphql/) package, I'm able to define an extension method that adds extra data to the output data as such;

[code]

I'm unsure if this is possible to do with Mercurius, if it is, I'd like to know how, and if not, I'd like to see it added.

[2021-04-24 16:23] mcollina commented on #466
In mercurius we have hooks: https://mercurius.dev/#/docs/hooks?id=onresolution. You can also use fastify onSend to alter the final payload: https://www.fastify.io/docs/latest/Hooks/#onsend.

Would you like to send a PR to add an example?

[2021-04-24 19:44] SkeLLLa commented on #435
I also wanted to modify onConnect behavior, since now it's just uses shallow merge which means that some nested props will be overridden.

So what I've found so far that `this` argument in `onConnect` function points to `SubscriptionConnection` instance which has `context` property. Is this behavior considered as valid?
If so, then I guess it needs to be documented and types for `SubscriptionConne

[2021-04-25 08:02] Sven65 commented on #466
Thanks!
I'll give the hooks a go and send a PR once I get my desired result!

[2021-04-26 07:41] Sven65 opened #467 "[Bug] onResolution hook extensions do nothing."
While trying to add extensions to my GraphQL return data as mentioned in #466, I tried using mercurius `onResoluton` hook to do so, as it has a `exec.extensions` property, but when I get my results back, I don't have any extensions.

What I expect is for there to be extensions data.

A minimum code example:

[code]

[2021-04-26 07:41] Sven65 commented on #466
After some tinkering, the only way I was able to add any extensions is through fastifys own `onSend` hook, even though mercurius has an `exec.extensions` property in its `onResolution` hook.

I believe this is a bug, and created a new report at #467

[2021-04-26 08:35] mcollina commented on #467
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-04-26 08:35] mcollina commented on #466
Using `onSend` would have been my first choice anyway.

[2021-04-26 08:37] Sven65 commented on #467
I could give it a go, yes.

[2021-04-26 08:38] Sven65 commented on #466
As I have more endpoints than just graphql, fastifys `onSend` hook would affect those too. I could check the URL and methods, but I prefer to register it directly on the plugin methods.

I appreciate the help, and I'll close this issue now.

[2021-04-26 08:38] #466 closed

[2021-04-26 10:58] Sven65 commented on #466
Sorry, would you mind giving me an example on how you'd use `onSend` to add the extensions (with data from mercurius)?

[2021-04-26 12:55] mcollina commented on #466
I currently have no time :(.

[2021-04-26 12:59] Sven65 commented on #466
No worries!

I figured out the issue behind this and #467 and I created a PR (#468) for you to look at when you do 😄

[2021-04-26 15:58] #467 closed

[2021-04-27 16:04] akoenig commented on #465
@PabloSzx Sure 🙂 Here it is: https://github.com/akoenig/tmp-mercurius-context-type – The example represents basically the example from the readme and uses the `QueryResolvers` type directly for separating the resolver in an [own function](https://github.com/akoenig/tmp-mercurius-context-type/blob/e2419026d695b90efe1a88bcbd7d0b04f83543b7/src/resolvers/hello.ts#L9). In this case, the `context` is ty

[2021-04-27 16:25] PabloSzx commented on #465
To solve this issue you have 2 options:

[code]

or

[code]

[2021-04-27 17:07] akoenig commented on #465
Ahhhh, thanks @PabloSzx for the heads-up. You're completely right. I thought it would catch up the type due to the `declare module` declaration, but passing the context explicitly helps. 👍🏽  Awesome! 🙂

[2021-04-27 17:07] #465 closed

[2021-04-28 14:51] simone-sanfratello commented on #456
solved and released in [version 7.6.0](https://github.com/mercurius-js/mercurius/releases/tag/v7.6.0)

[2021-04-28 14:52] #456 closed

[2021-04-28 15:24] simone-sanfratello commented on #458
Worked on that, I haven't found a solution.

I see `type-graphql` create the whole schema with resolvers, then schema is executed at https://github.com/mercurius-js/mercurius/blob/master/index.js#L527

but then error contained in `context` is already a `GraphQLError` and details are missing.

I haven't found some options to pass to the `graphql.execute` function to get the `originalError`

[2021-04-28 19:11] DevelopmentByDavid opened #471 "Subscriptions and withFilter Typings error"
## TL;DR
Typings error having to do with subscriptions when using `withFilter`.  Not sure if I'm doing something wrong or the generated typings are wrong.  Am willing open to open PR if necessary for fix.  Am somewhat new to graphql.
### Problem
Given the following code
[code]

I'm getting the following typing error on the subscribe field
[code]
### Research
I looked in the [typings file](https://

[2021-04-28 20:19] mcollina commented on #471
Thanks for opening this up! Maybe one of other collaborators with typescript skills could help... it's not really my forte.

[2021-04-28 22:00] PabloSzx commented on #471
Hi @DevelopmentByDavid, thanks for reporting this issue, I just opened a PR that fixes this issue https://github.com/mercurius-js/mercurius/pull/472 👍

[2021-04-28 22:26] DevelopmentByDavid commented on #471
Happy to help.  Thank you both @mcollina and @PabloSzx for being so responsive and opening the PR!  I appreciate it.

[2021-04-29 08:57] #471 closed

[2021-04-30 06:15] steinroe opened #473 "Federation and Server in one"
Hi,

is it possible to provide (a small) part of the federated schema from the same server the gateway is running on? From the docs (and also apollos docs), it seems like the gateway not only should but also has to be running separately and cannot merge a local schema into the federated schema.

[2021-04-30 06:16] steinroe commented on #460
Don't know whether this is helpful, but maybe inspiration can be drawn from this: https://github.com/profusion/apollo-federation-file-upload

[2021-04-30 06:28] mcollina commented on #473
It's currently not supported.

[2021-04-30 08:25] vesparny opened #474 "real world examples"
Hi,
are there any open source real world examples of projects using mercurius?

Thanks

[2021-04-30 13:37] mcollina commented on #474
I do no think there are.

[2021-04-30 13:37] #474 closed

[2021-04-30 13:38] Vispercept commented on #473
**+1 for schema and resolver inside the gateway instance**

This feature would be awesome. Sometimes running a whole server for some little adjustments and extensions is overkill.

[2021-04-30 13:59] mcollina commented on #473
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-05-01 18:43] steinroe commented on #473
Do you have a hint where we can start? I was thinking to join the schemas and resolvers created by the gateway with the local ones but I am not quite sure yet what side effects that may have.

[2021-05-01 20:00] mcollina commented on #473
Yes exactly.

[2021-05-02 14:45] StarpTech commented on #347
Hi all, I'm currently working on a GraphQL Registry https://github.com/StarpTech/graphql-registry I'm open to contributions. My goal is to provide a similar experience with Apollo Studio in terms of schema and client management.

[2021-05-02 17:47] jonnydgreen opened #476 "Improve Mercurius test stability"
As suggested in this conversation https://github.com/mercurius-js/mercurius/pull/470#issuecomment-828245464, I'm opening this issue to discuss improvements to the Mercurius test stability before refactoring them to be more stable.

## Observed issues

| Test

[2021-05-02 20:09] mcollina commented on #476
Go for it!!

[2021-05-03 04:51] DevelopmentByDavid opened #477 "Consider moving Fastify from devDependencies to peerDependencies"
### TLDR
I believe `fastify` should be moved from devDependencies to peerDependencies

### Problem
When using yarn v2 workspaces, fastify types within mercurius are implicitly evaluated as `any`.

I can post a reproduction repo that I have set up locally if necessary.

Here is the relevant output from running `yarn workspace <relevant workspace> tsc --traceResolution --noEmit`
[code]

### Research

[2021-05-03 07:07] romeerez commented on #477
Hi, I'm using mercurius with yarn v2 workspaces too, high five!
But I didn't have any issue with deps, it just works

[2021-05-04 08:27] mcollina commented on #477
peerDependencies are weird as they work differently in different version of npm, yarn, pnpm etc. I just avoid them to avoid all sort of problems: fixing it for yarn would _definitely_ break some other use case. Also typescript has its own set of problems.

Thanks, it's good discussion anyway.

[2021-05-04 08:27] #477 closed

[2021-05-05 21:48] jonnydgreen commented on #476
Quick update! I've tracked down the issue in `Polling schemas (subscriptions should be handled)` - this was due to the `SubscriptionClient` not being ready when a subscription is created. The reason this was happening only occasionally was due to the fact that the `connection_init` and `start` were sent at the same time. I've got a potential fix which is looking promising from my testing. I'll sub

[2021-05-06 12:28] fookit opened #478 "How to get FastifyRequest in resolvers?"
Say I have this resolver:

[code]

Is there any way I can get request: FastifyRequest?

---

Versions: typescript (v4.2.4), node (v14.16.1), fastify (v3.15.0), mercurius (v7.6.0)

[2021-05-06 15:38] mcollina commented on #478
Take a look at https://github.com/mercurius-js/mercurius/blob/master/docs/context.md.

I'm not sure how to make that available to TypeScript.

[2021-05-06 15:44] PabloSzx commented on #478
"MercuriusContext" already has "reply", which is a "FastifyReply", that contains the request inside
![image](https://user-images.githubusercontent.com/8672915/117327237-63d61500-ae60-11eb-9abb-7f7189f1f76e.png)

[2021-05-06 16:27] puchm opened #479 "Federated Subscriptions: Could not connect to websocket endpoint"
I've been trying to set up federated subscriptions. I followed the docs for subscriptions without a custom pubsub (for now). This is the error I got when trying to subscribe to the subscription using the playground:
[code]

My gateway is on port 3000 so it is trying to connect to the gateway via the WS protocol even though the service with the actual subscription is on port 3002.

Do I need to do

[2021-05-06 16:59] fookit commented on #478
Thank you @mcollina and @PabloSzx

[2021-05-06 16:59] #478 closed

[2021-05-06 22:10] mcollina commented on #479
Did you read https://github.com/mercurius-js/mercurius/blob/master/examples/gateway-subscription.js?

[2021-05-07 09:00] robertherber commented on #342
Support for this would be awesome! Any updates on this?

This blogpost could provides some more context, with examples:
https://graphql.org/blog/2020-12-08-improving-latency-with-defer-and-stream-directives

[2021-05-07 09:04] mcollina commented on #342
Would you like to send a PR @robertherber?

[2021-05-07 09:26] robertherber commented on #342
@mcollina I'd love to - but not sure I have the time to dig into it right now.. =/

[2021-05-08 11:26] Davide-Gheri opened #481 "Cached validation error because of variables error return errors on subsequent correct queries"
This is a particular case, but happened to me a couple of times already.

Let's say we have validation rule that takes into account variables like `graphql-query-complexity`:
[code]

and a query like this:
[code]

If a client makes a request with an incorrect `$id` variable (a number, or even `undefined`) the server will respond with an error. Since the validation rule checks variables, this error

[2021-05-08 11:26] puchm commented on #479
I didn't but I looked at it now. After setting up the gateway properly I faced a new error:

`Subscription field must return Async Iterable. Received: undefined`

I was confused for a pretty long time but I have now also found the solution to that. The issue seems to occur when a subscription's return type is a scalar type (e.g. String). Then, the subscribe resolver is never executed and the error

[2021-05-08 13:36] mcollina commented on #479
Can you create a reproducible example of your problem? Adapting the example above to crash with that error would be of help.

[2021-05-08 13:44] mcollina commented on #481
I think you have found a really interesting bug, good spot!

I think the solution is a bit more complex, because adding variables to the cache key completely defeat the purpose of caching the query (it's very close to disabling it).

I think the only solution is to move the `validationRules` outside of that caching logic, as those cannot be cached.

Would you like to send a PR?

[2021-05-08 18:07] puchm commented on #479
Here is a fork - I just changed 2 lines. Launch the gateway-subscriptions example and try the following query on playground:

[code]

The error is this one:

[code]

I don't know if subscriptions returning scalar types are allowed with GraphQL. If they are, the bug should be fixed. Otherwise there should be a more explicit error message, e.g. `Subscription field must not return a scalar. Received:

[2021-05-08 19:30] Davide-Gheri commented on #481
@mcollina You are suggesting moving calls to `preValidationHandler` and `validate` after the caching logic, so basically caching only the document parsing (and maybe we can keep caching queryDepth check).

With that we could remove entirely `lruErrors` since it is used only there, do you agree?

I'll start working on a PR the next days

[2021-05-09 09:55] mcollina commented on #479
I think this is fixable, we should just understand where we are causing the problem.

I would love to get a PR for this as I do not have much time on my hands right now.

[2021-05-09 21:27] steinroe opened #482 "Allow rewriting of connectionInit payload for gateway"
Hi,

similar to `rewriteHeaders`, it would be great if it would be possible to rewrite the `connection_init` payload before it is passed to the federated services. This way, all authentication can be handled within the gateway.

I would be happy to provide a PR, but would like your feedback on it first. My approach would be to provide an `rewriteConnectionInit` option, that accepts the `connection

[2021-05-10 06:54] Davide-Gheri commented on #481
I don't think it will fix, the keys don't change if the query source don't change, the values however are what causes the problem and can change without affecting the query source string

[2021-05-10 07:07] mcollina commented on #481
Could this happen only with the custom rule you mentioned?

[2021-05-10 07:43] Davide-Gheri commented on #481
It will happen with all rules that checks variables values, and since variables are passed to all validationRules, we can't know.

[2021-05-10 10:27] mcollina commented on #481
I'm not sure I follow. This is passed only in `validationRules` that are defined as a function. Otherwise `variables` are not used anywhere else.

I'm preparing a tiny fix that would require caching to be disabled in case `validationRules` is a function.

[2021-05-10 10:28] mcollina commented on #482
Add the new option!

[2021-05-10 11:46] Davide-Gheri commented on #481
@mcollina you’re right my bad, I’ve always used `validationRules` as a function.

[2021-05-12 13:42] darrenfurr opened #488 "Question: Subscription Gateway caching?"
Does the federation gateway cache subscriptions? I'm seeing issues where if I add a new field to a schema & deploy that graphql instance. The gateway doesn't appear to return the result. It just returns null.

I have to restart the gateway. Am I missing a setting somewhere to disable this?

Thanks!
-Darren

[2021-05-12 14:07] mcollina commented on #488
It should update automatically. Could you upload a full example?

[2021-05-14 16:39] Floffah opened #489 "Idea: context returns valid graphql error"
Currently, if you throw an error in the context or subscription.context option function it will just make the server return status 500 and a json object of the format `{"data":null,"errors":[{}]}`

i feel like it would be a good idea to respond to the client with errors thrown in these context functions.

if this is already a thing it doesnt work with async/promise context functions

this is quite

[2021-05-14 16:54] mcollina commented on #489
I'm all in for providing better error messages. I think this really needs an example with a failing test.

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-05-14 17:04] Floffah commented on #489
if i have time i might

[2021-05-14 18:56] darrenfurr commented on #488
@mcollina - working on getting you an example. Sorry for the delay

[2021-05-15 00:51] muco-rolle commented on #65
@stolinski were you able to set cookies with https://github.com/fastify/fastify-cookie ?

[2021-05-15 08:53] mcollina commented on #65
I think there is a solid example in https://github.com/mercurius-js/auth.

[2021-05-15 12:00] muco-rolle commented on #65
@mcollina this is so good, the problem I have, is Fastify plugins are not working, like `fastify-cookie` and `fastify-jwt`

I'm using this example project https://github.com/mercurius-js/mercurius-typescript/tree/master/examples/codegen-gql-files

and I installed `fastify-cookie`  with the field credentials field set to include in playground `"request.credentials": "include",` but cookies are not

[2021-05-15 12:45] muco-rolle opened #490 "How to access plugins in resolvers"
[code]

In the code above I would like to set the cookie from resolvers but it's not working and I tried other fastify plugins like `fastify-jwt` not working too, how can I set them up?

[2021-05-15 17:17] mcollina commented on #490
what do you mean with "it's not working"? Which error are you getting?

[2021-05-15 23:29] #476 closed

[2021-05-15 23:38] mcollina commented on #65
I don't see fastify-cookie in there.

[2021-05-16 17:51] muco-rolle commented on #490
I don't get any error but I'm unable to set cookies, like the example about I can't see a cookie with the name `qid` in the browser

[2021-05-17 01:27] frndvrgs commented on #65
I spend some time trying to figure out why my fastify-cookie is not sending my cookies to the client from my graphql resolvers.

The first problem I found was on the client side, axios just not parsing/setting the cookie correctly, and the second one is because the authentication query are coming through my gateway service. The cookies headers are sent back with the response to the gateway but the

[2021-05-17 06:59] mcollina commented on #65
I don't think we are forwarding the cookies back in gateway mode.

[2021-05-17 11:05] frndvrgs commented on #65
Thank you for clarifying, so I will keep my authentication out of the gateway and work the authorization with some ideas I found here.

As soon as it is ready I will share another example of project with both auth processes, including federation and microservices

[2021-05-17 12:47] mcollina opened #492 "Forward back cookies in Gateway mode"
See the discussion in: https://github.com/mercurius-js/mercurius/issues/65#issuecomment-842060477.

[2021-05-17 14:59] darrenfurr opened #493 "Subscription Gateway: Connection is not ready"
Occasionally when starting the subscription gateway I receive:
[code]

I am also seeing this in my deployed version if I do a mid-day deployment.

I have to restart the gateway to resolve this issue. Any ideas what's going on here?
I'm happy to do a PR if someone can point me in the right direction.

[2021-05-17 22:29] mcollina commented on #493
It would recommend to start writing a small test to reproduce the problem. Then use the debugger and console.log to find out where the problem is.

[2021-05-19 14:11] simoneb commented on #490
I copied your example as-is, just adding `.listen(3000)` and I get the cookie just fine in the response:

[code]

The last line of the curl output shows the cookie received in the response.

[2021-05-19 22:06] darrenfurr commented on #488
@mcollina - After some research...I tracked this issue down. It is **not** the gateway.

I migrated our Apollo server(s) with subscriptions to mercurius with federation, so the issue is with the [withFilter](https://github.com/mercurius-js/mercurius/blob/master/lib/subscriber.js#L78) implementation in mercurius.

The Apollo [implementation](https://github.com/apollographql/graphql-subscriptions/bl

[2021-05-20 00:21] mcollina commented on #488
The best approach would be to send a PR to fix our implementation!

[2021-05-20 01:00] muco-rolle commented on #490
It was my misunderstanding of how cookies work in the browser. I was looking in the Devtools - Application/Cookies tab, I couldn't see the cookie, checking the response headers I could see it, actually, the browser was blocking it because of the `sameSite` field that was set to `None` and the `secure` field to false. I changed it from "none" to "strict" it is now working.

Thanks, guys for your ti

[2021-05-20 07:55] #490 closed

[2021-05-20 21:32] StarpTech opened #494 "Why is service url necessary when we provide the schema?"
According to https://github.com/mercurius-js/mercurius/blob/master/docs/federation.md#using-gateway-mode-with-a-schema-registry

[2021-05-20 22:38] muco-rolle commented on #169
In the apollo server there's `apollo-error` do we have something similar in Mercurius?

[2021-05-21 00:00] #494 closed

[2021-05-21 00:34] StarpTech commented on #347
https://github.com/StarpTech/graphql-registry/tree/main/examples/mercurius

[2021-05-21 12:35] StarpTech opened #495 "Support Apollo Managed federation"
The difference between federation is that the gateway is no longer responsible to pretend the service configurations. The entire composed graph is fetched by the gateway. This allows to dynamically adding and removing new services without restarting the gateway.

https://www.apollographql.com/docs/rover/supergraphs

Example:

https://github.com/StarpTech/graphql-registry/tree/main/examples/apollo-

[2021-05-21 12:43] mcollina commented on #495
I think this is extremely simple to add, we should just expand [`refresh()`](https://github.com/mercurius-js/mercurius/blob/master/docs/federation.md#programmatically-refresh-federated-schemas-in-gateway-mode) to accept a new list of services.

[2021-05-21 12:55] StarpTech commented on #495
That would be a workaround. Apollo produces a supergraph-sdl that includes service endpoints and the federated schema. The gateway is only responsible to read the schema and make the federated schema working.

For example, based on the federation example:

[code]

[2021-05-21 15:15] StarpTech opened #496 "Implement proper benchmarks with expectations"
Hi, as titled. I have very good experience with https://github.com/k6io/k6 where you can define thresholds for different metrics like request duration, latency etc... Those tests should run in the CI and fail when the threshold can't hold.

For example: https://github.com/StarpTech/graphql-registry/blob/main/benchmark/composed-schema.js
CI: https://github.com/StarpTech/graphql-registry/blob/main/.

[2021-05-24 21:19] steinroe commented on #273
Does anyone has experience with implementing the proposed workaround with nestjs/graphql or type-graphql?

Unfortunately, I don't have enough time right now to fix the issue, hence I need the workaround...

[2021-05-25 17:25] steinroe commented on #273
For future readers: The workaround was implemented in nestjs-mercurius. [PR](https://github.com/Davide-Gheri/nestjs-mercurius/pull/118)

[2021-05-27 04:54] YuriFontella opened #497 "the playground can break using makeExecutableSchema?"
Hello,

I was testing the functionality all in one file, and everything was working perfectly.
[https://gist.github.com/YuriFontella/72d84cf91fc421f0be0c6abcea240405](https://gist.github.com/YuriFontella/72d84cf91fc421f0be0c6abcea240405)

I decided to create a structure with fastify-autoload and some other plugins. I ended up using some tools from graphql-tools.
[https://github.com/YuriFontella/me

[2021-05-27 06:33] mcollina commented on #497
You have a problem in the default CSP added by Helmet

[2021-05-27 11:54] YuriFontella commented on #497
It was exactly that, I went deeper into the doc of the fastify-helmet and solved the problem.

[2021-05-27 11:54] #497 closed

[2021-05-27 16:20] YuriFontella commented on #300
Did this have any implementation to use the federations @key directive using makeExecutableSchema?

As shown in the second code of the first comment.

[2021-05-31 07:06] steinroe opened #499 "Value Types"
[According to the Apollo Federation Docs](https://www.apollographql.com/docs/federation/value-types/), it is possible to share types, so-called value types, among subgraphs. This is e.g. useful when using a relay-based graph, where all connections share a `PageInfo` type. These value types don't "originate" in a particular subgraph. Instead, all of the subgraphs that define a value type share owne

[2021-05-31 09:45] simoneb commented on #460
@HashDot are you still considering to implement this feature?

[2021-06-01 09:23] steinroe commented on #499
Should we keep this open to implement the todo I mentioned? Otherwise feel free to close. :)

[2021-06-01 10:45] mpiorowski opened #503 "Help with subscription"
Hey Guys, i would really need Your help with subscription. I cannot get it to wrok properly. I am not sure how should i name my request. This is what i got:
[code]

and then on the client side i am trying to send data as :

[code]

But i got nothing when i hit mutation createChat. I am listening on ws://localhost:4000/graphql

Would be really greatful for help

[2021-06-01 13:23] mcollina commented on #499
Can you please document them here?

[2021-06-01 14:16] steinroe commented on #499
Sure!

As of now, we search for duplicates based on the type names and decide whether it is a value type by filtering out all entities (determined by the key directive) and types that are neither object, input nor interface.

[According to the Apollo Federation docs on Value Types](https://www.apollographql.com/docs/federation/value-types/) however, for types with field definitions, all fields and

[2021-06-01 14:41] simoneb commented on #479
This sounds like a duplicate of https://github.com/mercurius-js/mercurius/issues/370. It's probably not a good first issue though as a few people have already looked into it and the root cause doesn't seem to be obvious.

[2021-06-01 15:36] mcollina commented on #503
Can you provide a full example? The subscription protocol is a bit more complex than just sending something over a WebSocket connection. You can see a few examples in https://github.com/mercurius-js/mercurius/blob/master/test/subscription-client.js

[2021-06-01 15:54] simoneb commented on #424
I had a quick look at this and I confirm there is an issue somewhere, even though I haven't been able to nail down were exactly, because the repro does a few things which deviate from a standard scenario.

I forked the original gist here: https://gist.github.com/simoneb/f1a61a1424f8ea7a38cc0606bfb33dcb

This shows that a more typical scenario works correctly:

- remove `onConnect` and `onDisconnec

[2021-06-01 19:43] mpiorowski commented on #503
Ok, i though its that easy :) i went with appolo subscription client and its works :) Thank for help.

[2021-06-01 19:43] #503 closed

[2021-06-03 16:30] StarpTech opened #504 "Propose gateway use in cluster mode"
Hi, Node.js has a very solid https://nodejs.org/api/cluster.html module. Is there any reason not to recommend it? This would make it possible to utilize all cores. This is especially useful for an infrastructure component like the GraphQL Gateway.

[2021-06-03 19:09] mcollina commented on #504
The load balancing algorithms are quite poor. Haproxy or analog perform a much better job at it.

I generally recommend to scale up using infrastructure instead, e.g. Kubernetes or AWS.

[2021-06-03 20:07] 0x77dev commented on #424
@simoneb We are using the `connection_init` payload to authorize requests in our project, in the `connection_init` payload we have token encoded with user id inside, and all our events are scoped to the token.

[2021-06-03 21:11] darrenfurr commented on #493
@mcollina - OK...after researching this further. This issue was caused by my `onConnect` function doing a `throw new AuthenticationError`. This was a port from our Apollo implementation.

It appears that the Apollo implementation allows:
``` if the return value is an object, its elements will be added to the context. return false or throw an exception to reject the connection.```

Reference: https

[2021-06-03 21:55] StarpTech commented on #504
Are there any results available?

Definitely, but running a gateway in cluster mode is less complex than running it by orchestration software.

[2021-06-04 07:48] mcollina commented on #504
Yes exactly!

I think we should be looking into an option to run the graphql-processing logic (and possibly the whole gateway logic) within worker threads. I think we'd have better results.

[2021-06-04 08:24] StarpTech commented on #504
Thanks, this answers my question.

[2021-06-04 08:28] StarpTech commented on #504
Do you think of https://github.com/piscinajs/piscina? Then I'd rather prefer to scale up Node.js processes but it would be fun to experiment.

[2021-06-04 08:41] mcollina commented on #504
My experience in all of this is that almost nothing beats infra for efficiency and flexibility and one process is enough for the dev experience.

[2021-06-04 08:54] StarpTech commented on #504
I agree but it still requires infra. Other languages can scale up vertically with no code change.

[2021-06-04 09:41] #504 closed

[2021-06-05 07:29] mcollina commented on #493
Amazing research? Would you like to send a PR to handle the case where that function throws?

[2021-06-05 13:40] alaarihan opened #506 "Set-Cookie header accepted by browser but not saved!"
Hi,

I have an issue using fastify-cookie with a Mercurius GraphQL resolver, the cookie is sent by the response but the browser didn't save it, I tried everything, I tried with and without cors and tried with localhost, https, http, secure httpOnly but it doesn't work, while when I use the same code with a normal fastify route the cookie is saved in the browser with no issues!
you can check my cod

[2021-06-05 14:08] abevince commented on #506
Did you change the Playground `request.credentials` settings to `include`?
`"request.credentials": "include"`

[2021-06-05 14:41] alaarihan commented on #506
No actually :(
It didn't occurred to me because I tried another GraphQL endpoint with the same playground instance and it sets the cookies without problems but I just tried it with "request.credentials": "include" and it just worked! thank you very much @abevince  for your help

[2021-06-05 14:41] #506 closed

[2021-06-07 08:37] simoneb commented on #424
@0x77dev thanks for the explanation, this clarifies it. I have updated the gist to use `onConnect` to handle that and removed the `userId` parameter from the subscription because the topic the uses subscribes to is inferred from the header as per your original intent. With those changes and my earlier modifications to your example this still works correctly as far as I can see.

Check out the [upd

[2021-06-07 08:50] simoneb commented on #479
@mcollina @puchm can we close this issue as a duplicate of #370?

[2021-06-07 08:55] #479 closed

[2021-06-07 08:55] puchm commented on #479
Yes - Closed as duplicate of #370

[2021-06-07 13:15] frndvrgs commented on #65
For those who still need an example for authorization / authentication using fastify-cookies + mercurius, these solutions worked very well for me:

graphql resolver authorization:
[https://github.com/frndvrgs/electronic-publishing/blob/main/server/account/src/infrastructure/services/graphql/resolvers.ts](https://github.com/frndvrgs/electronic-publishing/blob/main/server/account/src/infrastructure/

[2021-06-08 15:49] simoneb commented on #370
Fix proposed in https://github.com/mercurius-js/mercurius/pull/508

[2021-06-08 16:04] #370 closed

[2021-06-08 20:32] jonnydgreen commented on #343
@dragonfriend0013 I don't have an example I can share unfortunately but I can point you in the right direction for sure and am happy to help get it working for you! :)

The Mercurius docs are a good starting point for basic OTEL tracing on a Mercurius server: https://mercurius.dev/#/docs/integrations/open-telemetry

Once you have this (or equivalent) up and running, if you wanted to get distribute

[2021-06-09 12:26] dragonfriend0013 commented on #343
@jonnydgreen I just copied the example from https://mercurius.dev/#/docs/integrations/open-telemetry and had to make a change in the tracer.js (HttpTraceContext undefined, changed to HttpTraceContextPropagator),  Now i am getting `getSpan is not a function` in the serviceAdd.js example when running a query.  This is coming from @autotelic/fastify-opentelemetry/index.js:109:18.  I was getting this

[2021-06-09 15:51] ColeTownsend commented on #88
Is this something the team would consider revisiting? [Apollo Server](https://www.apollographql.com/docs/apollo-server/performance/caching/) has some decent examples using directives.

[2021-06-09 21:14] jonnydgreen commented on #343
Yeah, I was about to say it sounds like a version issue from the error you're describing - looks like 0.13.0 has been released as of 2 hours ago, let me know if that works for you: https://www.npmjs.com/package/@autotelic/fastify-opentelemetry?activeTab=readme

[2021-06-09 22:29] jonnydgreen opened #509 "Validation in Mercurius with directives"
Defining validation constraints through directives is a really nice pattern in GraphQL - I think it would be awesome to discuss a solution to help people implement this in Mercurius!

Consider the following schema definition:

[code]

When the `userById` query operation is called, the validation implementation could recognise that the `id` input field is protected and run the specified validation

[2021-06-10 07:00] smolinari commented on #343
If authentication and authorization via SDL becomes a thing with Mercurius, will it be 100% optional?

Scott

[2021-06-10 18:17] jonnydgreen commented on #343
This is available as a plugin via [`mercurius-auth`](https://mercurius.dev/#/docs/plugins?id=mercurius-auth), so yes, 100% optional :)

[2021-06-12 21:29] kidqueb opened #511 "Loaders cause subscriptions to error"
It looks like loaders are undefined for subscriptions and will return "Cannot read property 'X' of undefined". I made a repro but havent been able to really dig into it yet.

What I've gather so far is this line here https://github.com/mercurius-js/mercurius/blob/master/index.js#L367 is where it originates and we can at least allow the payload to return what data it has passed by making sure we ha

[2021-06-13 20:21] jonnydgreen commented on #511
Good catch! As I understand it, the problem is the fact that loaders are `undefined` on the reply object when used in subscriptions.

From a quick glance at the codebase, it seems the loaders are only created in a GraphQL request:

[code]

The `reply` object for subscriptions is constructed here: https://github.com/mercurius-js/mercurius/blob/master/lib/subscription-connection.js#L192, so if we ta

[2021-06-13 22:06] kidqueb commented on #511
Currently the way I understand the way loaders work is by creating a cache for each request, leveraging that cache to minimize db access, and then after the reply is sent it gets garbage collected.

Does that sound about right? Is it safe to assume this cache would be problematic on a connection?

If so, maybe the simple solution is to abstract away the creation of loaders and create the subscript

[2021-06-13 22:10] mcollina commented on #511
Good analysis, Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-06-13 23:25] jonnydgreen commented on #509
I'll get started on this towards the end of next week if that works! :) @mcollina would you be okay if I created a repo for this in the `mercurius-js` org when I start the work?

[2021-06-14 20:54] kidqueb commented on #511
https://github.com/mercurius-js/mercurius/pull/513

[2021-06-14 23:00] muco-rolle commented on #345
Any updates on this issue @simoneb

[2021-06-15 09:50] simoneb commented on #345
No really, I guess GitHub [is already telling us that](https://github.com/mercurius-js/mercurius/network/dependents?package_id=UGFja2FnZS0xMzY4NDI5OQ%3D%3D).

[2021-06-15 09:50] #345 closed

[2021-06-15 16:17] #511 closed

[2021-06-16 14:22] DanTsk opened #514 "Custom GQL Context as class instance loses context (class `this`) during merge with default Mercurius context props"
Looks like provided `context` must be `Object.assign` target (first argument) but not the source (second argument).

https://github.com/mercurius-js/mercurius/blob/58fe4c631285737f826be2436f5169017300bc8c/index.js#L427-L428

Are there any drawbacks, limitations, reasons why `context` is passed as a second argument?
I can create a simple PR to fix this behavior.

[2021-06-16 14:42] mcollina commented on #514
I don't understand the problem, could you make an example?

[2021-06-16 14:51] DanTsk commented on #514
For example:
[code]

`Object.assign(target, ...sources)` actually copy `sources` properties to `target`, so `sourses` lose their prototypes.

[2021-06-16 16:24] mcollina commented on #514
Ah, yes. Would you like to send a PR?

[2021-06-17 11:23] DanTsk commented on #514
Sure, will submit it shortly.

[2021-06-18 02:44] jessekrubin opened #517 "Mercurius + typegraphql + @Ctx() decorator"
How do you get the type of the context when using mercurius with typegraphql where a resolver has a ctx param such as:

[code]

[2021-06-18 03:00] jessekrubin commented on #517
Is it an instance of MercuriusContext? How would I modify it?

[2021-06-18 08:17] mcollina commented on #517
Thanks for asking, I have never used typegraphql, so I do not know.

[2021-06-18 08:24] smolinari commented on #517
@jessekrubin - Try out NestJS. There is a Mercurius module and being Nest has a modules system and a GraphQL code first approach almost the same as TypeGraphQL, it is a step up from TypeGraphQL.

https://docs.nestjs.com/graphql/quick-start
https://www.npmjs.com/package/nestjs-mercurius

Scott

[2021-06-18 08:26] jonnydgreen commented on #517
It is, yep

Are you referring to the type or the value (or both?)?

[2021-06-18 08:46] #514 closed

[2021-06-18 16:52] darrenfurr commented on #493
@mcollina - I'm still investigating this issue. I am still seeing Connection is not Ready occasionally in our release candidate environment. I'm running 2 gateway pods behind an ALB.

[2021-06-18 16:55] darrenfurr opened #518 "Subscription Gateway: KeepAlive messages?"
Is there an option to have the gateway send the keep-alive messages? I'm not seeing them come from the Gateway.

In Apollo Server it is just setting the keepAlive timeout:
[code]

[2021-06-18 18:50] mcollina commented on #493
Let us know of your fundings!!

[2021-06-18 18:51] mcollina commented on #518
What those keep alive messages would be? TCP keep alive?

[2021-06-18 22:51] jessekrubin commented on #517
Both

[2021-06-19 00:57] jessekrubin commented on #517
@smolinari i might give it a look. I tried out nest a while ago and thought super over engineered and not very well documented.

I adore fastify.
Json schema validation is fantastic.
I love how fastify's plug-in system works.
I like that @mcollina writes easy to understand plugins and they basically always work perfectly.
Fastify has a way better name than nest.
Fastify with typescript is a dream.

[2021-06-19 04:43] smolinari commented on #517
@jessekrubin - I like Nest, because it offers a modularization system (fashioned after Angular, but that is definitely not why I like it). So, this modularization helps the application be split up smartly for testing and scaling due to its DI container system. And, it is above and beyond Fastify. By that I mean, Nest can use Fastify (or Express) as the HTTP server basis, but Nest builds on top of

[2021-06-20 11:43] jonnydgreen commented on #517
For the value, you can customise this with the `context` option: https://mercurius.dev/#/docs/api/options?id=plugin-options

For the type, there are two options I can think of:

 - Create a type matching the return type of your `context` (e.g. `Context`) option function and use this type as follows:

[code]

 - Extend the `MercuriusContext` type using:

[code]

Hope that helps :)

[2021-06-21 08:49] actraiser opened #520 "How to handle downstream/network errors on gateway initialization?"
I have encountered the scenario that federated services may not be up yet when the gateway has initialized. In this case, the gateway will not retry polling those services in question. It's a different behavior as opposed to when everything (all services, the gateway) is up and running and, say, one of the federated services goes down. In this case, the gateway will retry polling that service acco

[2021-06-21 11:19] mcollina commented on #520
I think this scenario was overlooked in the polling mechanism. A PR would be highly welcomed.

[2021-06-21 13:46] rbonillajr commented on #489
Hello, the problem is when you set the response (!) As required and return an error.
This happened to me recently and what I did to solve it was to remove it from being required.

[2021-06-21 13:52] darrenfurr commented on #518
Yep...they are these:
`GQL_CONNECTION_KEEP_ALIVE`

[2021-06-21 15:11] mcollina commented on #518
I don't think we are sending them.
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-06-21 15:30] simoneb commented on #424
@0x77dev just checking in if you had any news on this. to summarize my last message, a more typical use case which preserves the features of yours seems to work fine.

[2021-06-21 15:56] Floffah commented on #489
ah yeah didnt think about that i thought just throwing an error would have the same behaviour as throwing an error in a resolver

[2021-06-21 15:56] #489 closed

[2021-06-23 05:17] raymclee opened #521 "How to disable GraphQL introspection in production like Apollo Server?"
below message from apollo server production backend

message: "GraphQL introspection is not allowed by Apollo Server, but the query contained __schema or __type. To enable introspection, pass introspection: true to ApolloServer in production"

[2021-06-23 07:03] mcollina commented on #521
I don't think this is possible right now but it should be easy to add.

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-06-27 11:46] actraiser commented on #521
I have not deployed my app into production yet, but I added validationRules like this and was under the assumption that this would work. Maybe you could try this.

[code]
Greets
-act

[2021-06-27 15:04] mcollina commented on #521
I think that would do.. I didn't know about it!

[2021-07-02 02:08] jessekrubin opened #525 "Mercurius is fire"
No issue, just here to say that Mercurius is super excellent. I quite like the fastify-y hooks.

[2021-07-02 05:31] mcollina commented on #525
thanks!

[2021-07-02 05:31] #525 closed

[2021-07-06 14:47] #306 closed

[2021-07-06 23:43] angelvega93 opened #529 "Status error 500 with TypeGraphQL"
When using TypeGraphQL and throwing an error, the server responds with a 500 status code.
This seems to happen only with TypeGraphQL.

![Screenshot_432](https://user-images.githubusercontent.com/9835055/124679504-c314cd80-de81-11eb-9c07-764aca3c2c56.png)

Example:
https://github.com/angelvega93/mercurius-typegraphql

The problem seems to be that typegraphql returns data: null, instead of data: { r

[2021-07-07 00:32] #529 closed

[2021-07-08 13:38] Santinell opened #530 "Gateway stopped sending subscription data without wrapping scalar value"
At first I faced with a problem described in #370
As recommended I wrapped my data and this:

[code]
became this:

[code]

where JSONObject is scalar type from `graphql-scalars`.

When issue #370 was closed, I tried to change my schema back
and faced with another problem - gateway stopped sending data on subscription.
Of course for test I changed: 1. schema 2. resolver 3. query for subscribing.
Co

[2021-07-08 13:41] mcollina commented on #530
I'm pretty sure it's connected. However i don't have much time to investigate/fix this. Would you like do send a PR?

[2021-07-08 19:35] lucasbittencurt commented on #521
I believe the @actraiser solution really works, I found another possibility with a library called "graphql-disable-introspection", that library do a similar approach and can be used in this way:

[code]

I don't have access but @mcollina I recommend that issue can be closed.

[2021-07-08 20:34] mcollina commented on #521
@lucasbittencurt would you like to send a PR with a unit test to validate this and then add it to the docs?

[2021-07-09 09:28] Santinell commented on #530
Ok, I'll try to investigate this problem, but it would take a while.

[2021-07-10 16:20] xxSkyy opened #532 "How to accept queries and mutations over websocket? (client-server)"
I've got problem with accepting queries and mutations over websocket in mercurius and I can't find solution how to handle them. I'm implementing chat and social functions to my project and don't want every message sent over http, its overkill.
I did add to split if query/mutation has websocket property it will be sent over it than http but despite subscriptions goes well queries don't want to and

[2021-07-10 16:29] mcollina commented on #532
That's not currently supported..
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-07-11 12:42] #532 closed

[2021-07-12 09:06] xxSkyy commented on #532
I figured it out for my project [in this fork](https://github.com/xxSkyy/mercurius) if someone wants to use it or implement fell free, I don't have enough time right now to make full PR

[2021-07-13 13:22] benjaminIDruide opened #533 "validationRule not working even when setting cache to false"
Hi, I have installed mercurius 8.0.0 and when I try to make validatioRule options working, I no other choice to set cahce to false. Doing this, server starts but for any request I am passing to the gateway , I get this king of error

[code]

here is my configuration on the 2 apollo server services

[code]

just removing the validationRules option , and setting back to cache:true makes the call suc

[2021-07-13 13:42] benjaminIDruide commented on #533
did another test right now, **just setting   cache to false**    induce this error

[2021-07-13 15:58] mcollina commented on #533
Could you add a script to fully reproduce the problem? Or at least enable the logs of fastify and include the full stacktrace?

[2021-07-15 16:36] darrenfurr commented on #493
@mcollina - more research on this...We are using Horizontal Pod Autoscaler to scale-out our services. It appears that when that happens the subscriptionClient in the gateway does not know to reconnect. If I keep all the HPAs at a static value, then everything works great.

Any ideas where I can add some reconnect logic in the gateway subscriptionClient?

[2021-07-16 08:32] mcollina commented on #493
You should add it here: https://github.com/mercurius-js/mercurius/blob/9084eab681fb4fd480a11935d8997cd215904f1e/lib/subscription-client.js#L56

[2021-07-16 11:17] #530 closed

[2021-07-17 11:26] puchm opened #535 "Error formatter questions"
Hi,

I am writing a custom error formatter and I've been looking at [`defaultErrorFormatter`](https://github.com/mercurius-js/mercurius/blob/0cc41fbeb529954425b94a5c79e08347f51747a8/lib/errors.js#L63) for that. I have a few questions regarding that:

1. In what cases would there be multiple errors? I would assume there can only be one error at max since execution would be stopped when an error occ

[2021-07-19 08:06] simoneb commented on #521
Closed via https://github.com/mercurius-js/mercurius/pull/531

[2021-07-19 08:06] #521 closed

[2021-07-19 15:25] mcollina commented on #535
What are you trying to achieve? It's probably better if you explain your goals.

There can definitely be multiple errors are GraphQL resolvers could be executed in parallel.

I don't think you need to specify this unless you have a specific sets of goals you want to achieve.

---

I would recommend to create a proof-of-concept repo.

[2021-07-19 15:25] #535 closed

[2021-07-20 20:01] dougg0k opened #537 "bug / graphiql not opening"
Hi, I just upgraded Mercurius to 8.0 and set `graphiql` to true and it's just a empty screen with the errors below.

![Screenshot from 2021-07-20 17-00-21](https://user-images.githubusercontent.com/10801221/126387877-902572bb-d5b4-4e7d-b3ad-74b4a38e30ab.png)

[2021-07-20 21:00] mcollina commented on #537
Can you try clearing out the cache?

[2021-07-20 21:17] dougg0k commented on #537
Same thing and same thing in Private Window. I just end up adding Altair which seems better than GraphiQL.

[2021-07-21 08:13] mcollina commented on #537
Can you provide some code to reproduce? I can't, everything works smoothly here.

[2021-07-21 16:55] dougg0k commented on #537
Altair was enough here, but thanks for the help.

[2021-07-21 16:55] #537 closed

[2021-07-22 19:14] puchm commented on #535
Thanks for the suggestion of making a repo for that - it helped a lot to not have a lot of other stuff around.

My goal was to replace any unknown errors with something like "An unknown error occured" which I managed to do.
For anyone wondering, this is how I did it:
[code]

[2021-07-25 17:05] NickMandylas commented on #537
@mcollina Found the issue. Was experiencing the same problem, with only a blank screen appearing and the same error.
It appears that when you try to access GraphiQL from a domain other than localhost (like a local IP address, 192.168..).

[2021-07-28 19:56] j opened #543 "Gateway Service HTTP Errors"
It looks like the Mercurius Gateway service expects "errors" to exist in the response, however, if I have a fastify plugin that throws an error before it ever hits GraphQL, then the gateway emits an error.

[code]

It might be nice if Mercurius handled common HTTP errors (Unauthorized, Forbidden, etc) so that it just emits that error on those types of exceptions, or if each gateway service could c

[2021-07-28 20:19] mcollina commented on #543
Sure thing! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-08-04 01:00] muco-rolle opened #546 "GraphQL Playground not accessible"
I'm not sure if I missed something in the new updates, I'm able to access the GraphQL playground on Mercurius version 7.9.1 but versions above that especially the latest version 8.1.1 I'm unable to access it.

[2021-08-04 13:23] mcollina commented on #546
The playground was removed. See https://github.com/mercurius-js/mercurius/pull/453 for the full discussion.

[2021-08-04 13:23] #546 closed

[2021-08-09 15:37] puchm opened #550 "Errors lose class instance in errorFormatter"
It seems like errors lose their class when passed into the `errorFormatter`.

Here is an example repo: https://github.com/puchm/mercurius-issue-demo

Just run `npm start` and run the `testQuery` via GraphiQL.
It will demonstrate that the error is an instance of the custom `AuthenticationError` class I made if you check from inside the resolver, but it is not if you check from the custom `errorForm

[2021-08-09 19:17] mcollina commented on #550
would you like to send a PR?

[2021-08-09 19:24] puchm commented on #550
I don't know what the issue is. I was just speculating.

[2021-08-09 20:30] puchm commented on #550
I did a lot of debugging and I found out that it is the graphql package which formats the errors before they reach mercurius. After I found out, I found a similar issue with Apollo: https://github.com/apollographql/apollo-server/issues/2898

It turns out that you can access the original error at `error.originalError` and you can also use that to check which class the error is an instance of.

I tr

[2021-08-09 20:30] #550 closed

[2021-08-10 07:59] asciidisco commented on #550
Might be a worthy addition to the docs though :)

[2021-08-12 14:31] #424 closed

[2021-08-13 02:29] YuriFontella opened #554 "behavior of hooks"
Hello,
I would like to know if it is normal behavior for a hook to be triggered with graphql queries?
Considering, that it has its own hooks function.

hook that is loaded:

[code]

graphql specific hook in mercurius:

[code]

Demo project:
[https://github.com/YuriFontella/graphql-add-hook-test](https://github.com/YuriFontella/graphql-add-hook-test)

The hook loaded as a plugin, is called for ever

[2021-08-13 06:21] smolinari commented on #554
@YuriFontella - Every request to a Mercurius drivin graphql server triggers a hook.

https://mercurius.dev/#/docs/lifecycle

Scott

[2021-08-13 17:07] YuriFontella commented on #554
I looked at it, and it was weird. Because in the lifecycle there is no preHandler hook.
And mercurius has its own function to add hooks "app.graphql.addHook"

[code]

It didn't make sense for me to call this hook in graphql queries

[2021-08-13 19:13] smolinari commented on #554
Yeah, so app.addhook would be for a fastify hook, right? And the same goes, they are for all requests.

https://www.fastify.io/docs/latest/Hooks/

Scott

[2021-08-15 00:07] xxSkyy opened #556 "Subscription "Message must be a JSON string""
Hey, I'm not doing pull request because I've got fork of modified version of mercurius with other customizations.
When today I fresh installed mercurius (from this repo) and I've had error from title on response. Checked it and it was because buffer looked like
` <Buffer 7b 22 74 79 70 65 22 3a 22 63 6f 6e 6e 65 63 74 69 6f 6e 5f 69 6e 69 74 22 2c 22 70 61 79 6c 6f 61 64 22 3a 7b 7d 7d>,
  false`

[2021-08-15 07:30] mcollina commented on #556
Thanks for the message. I'm not sure how or why this problem happens, or why you felt the urge to fork. We need a bit more to land this change:

1. an example to reproduce the problem
2. a test

It seems you are not interested in contributing back, so I'm going to close this issue. If this problem appears for others too, we'll know it's here for fixing. Let us know if you change your mind and woul

[2021-08-15 08:37] PabloSzx commented on #556
@mcollina this issue is of the v8 of ws that has a big amount of breaking changes https://github.com/websockets/ws/releases/tag/8.0.0 and it was released as a patch in v3.2.1 of fastify-websocket https://github.com/fastify/fastify-websocket/releases/tag/v3.2.1

[2021-08-15 11:15] #556 closed

[2021-08-17 20:04] dragonfriend0013 commented on #343
I am using mercurius-auth on my different services.  as per the docs i have added

`directive @auth(requires: String!) on OBJECT | FIELD_DEFINITION`

and have coded my specific code to do the authorization.  this works per service.  however when i use mercurius gateway to stitch the services together, i get duplicates of the @auth directive and this is causing the parsing to fail.

[code]
schema:

[2021-08-17 20:55] jonnydgreen commented on #343
I've written a quick test and can confirm that it's an issue in gateway mode: https://github.com/jonnydgreen/mercurius/blob/bugfix/duplicate-directives/test/gateway/custom-directives.js

Test result:

<img width="126" alt="Screenshot 2021-08-17 at 21 31 55" src="https://user-images.githubusercontent.com/31290910/129797598-ec8d6c96-1574-47f7-8c3d-a92622bf700f.png">

Schema:

<img width="248" alt="S

[2021-08-17 21:14] jonnydgreen commented on #509
Hi! Have started to draft a basic version (that doesn't use default validation and leaves it up to the user) in this repo: https://github.com/jonnydgreen/mercurius-validation/tree/feature/basic-validation. I'm very happy to donate this to the `mercurius-js` organisation if you would like! :)

Quick update so far:

 - From my exploration ^^, I found an initial approach creates new graphql scalars.

[2021-08-17 22:02] mcollina commented on #509
I agree that the scalar approach does not work very well (I tried it in a previous project). If you'd like to donate to the org we can definitely work on this together... I was just in a call today with @simone-sanfratello talking about writing one.

[2021-08-18 08:19] jonnydgreen commented on #509
Sounds great and good timing! :) I'll get this in the org this evening and open up a PR to show what I've already done so we can start from there if that works for you!

[2021-08-18 08:52] mcollina commented on #343
I would recommend taking the first directive.

I think we might want to supoprt a few things:

1. deduplicate if all the directive are the same (if possible)
2. filter out directives that should not be present in the supergraphl

It is also ok to error if services could not be composed together.

[2021-08-18 08:52] mcollina commented on #343
Could you open a PR?

[2021-08-18 09:18] jonnydgreen commented on #343
Yeah no problem! I'll start that this evening

[2021-08-18 11:59] nghiepit commented on #342
Any updates on this?

[2021-08-18 13:05] mcollina commented on #342
This requires work :(. Would you like to help?

[2021-08-20 14:34] jonnydgreen commented on #343
@dragonfriend0013 a fix for this is now shipped in https://github.com/mercurius-js/mercurius/releases/tag/v8.1.3 :)

[2021-08-20 15:11] #343 closed

[2021-09-02 21:06] SkeLLLa opened #562 "Opentelemetry & GraphQLInstrumentation don't work"
Hi. I've setup opentelemetry like in example with some modifications that were required by opentelemetry version updates and package name changes. Provider code looks like this

[code]

Other instrumentations work fine, GraphQLInstrumentation registers it's hooks, but then they are never called.

Are there any thoughts or suggestions where the issue could be?
Thanks.

[2021-09-03 13:19] mcollina commented on #562
Are you using node ESM? Don't expect any of this to work.

[2021-09-03 14:55] steinroe commented on #562
I am having the same issues (without ESM). The trace works, but only on a route "/graphql" level and not for each individual resolver.

[2021-09-03 19:31] SkeLLLa commented on #562
No, unfortunately that's just typescript.

[2021-09-03 19:41] jonnydgreen commented on #562
Have you tried seeing if the OTEL diagnostic logger gives you any more info? https://github.com/open-telemetry/opentelemetry-js#setting-the-global-diagnostic-logger

[2021-09-03 20:05] SkeLLLa commented on #562
Seems I've found the problem.

Instrumentation patches 3 function of 'graphql' library. So the main thing I've missed in example that `require` and registering instrumentation should happen before any other `require` happen (including requiring `mercurius` itself), since require will be cached and "patching" will happen on a function that already required by mercurius.

Maybe it worth mention this

[2021-09-03 20:14] jonnydgreen commented on #562
That makes sense, yeah!

[2021-09-04 06:16] #562 closed

[2021-09-16 15:12] puchm opened #568 "GraphiQL fetcher uses HTTP for subscriptions"
I have been experimenting with subscriptions and the way mercurius currently uses GraphiQL is slightly wrong. The [fetcher](https://github.com/mercurius-js/mercurius/blob/e0f672c4a3dc2054e9557d863183aa58e265f34b/static/main.js#L21-L30) always uses the fetch API which should not be used for subscriptions which use WebSockets.

Apparently, there is a package (`@graphiql/create-fetcher`) which comes

[2021-09-16 15:18] mcollina commented on #568
Would you like to send a PR? Using that package would be spectacular, I did not know it existed.

[2021-09-18 17:27] Bas950 opened #569 "Question: Multiple GraphQL/Mercurius instances"
Right now I have this for a public API:
[code]

But I also need a private API, "/graphql-private", but if I just register it again, it says:
`FastifyError: The decorator 'graphql' has already been added!`
Is there anyway to have multiple Mercurius instances?

[2021-09-19 11:03] puchm commented on #568
I have created a PR that tries to address this but I am stuck with the WebSocket closing with code 1002. Read the PR for further info. It's a draft for now - any ideas on how to fix that?

[2021-09-20 09:57] lewispham opened #571 "Error 400 on valid graphql query"
I'm having error 400 for this query.
[code]

output
[code]

This issue happens when I updated to latest mercurius version 8.2.1 . Also the error message is so ambiguous that I can not debug the issue. It looks like v8 is having several breaking changes like removing playground and this issue. Is there any notes or change log for this version?

Note: The above query is working well with mercurius v

[2021-09-20 10:05] lewispham commented on #571
Closing this issue as this is my mistake. But the error message is indeed quite unclear and hard to debug.

[2021-09-20 10:05] #571 closed

[2021-09-20 10:41] lewispham opened #572 "Ambiguous error message 400"
After upgrading to version 8.2.1, I'm receiving this error for all syntax errors and also the query depth error.

[code]
This error is obviously not enough for debugging.

After double-checking the issue then it's because of my custom error formatter.
[code]
I still can not figure out the issue of that error formatter function. It's only for changing the http status code. But removing it solves th

[2021-09-20 10:55] mcollina commented on #572
Which was the last released that worked fine for you?

I think you might want to add some logging to your errorFormatter.

[2021-09-20 11:08] lewispham commented on #572
@mcollina It's v7.4.0 . Which sort of logs do you need? I tried to log `result.errors` and the error is the correct one.

[2021-09-20 12:58] mcollina commented on #572
What is the correct error?

Could you please upload an example to reproduce?

There is nothing that strikes me as changing this between v7.4.0 and v7.5.0.

[2021-09-20 13:56] lewispham commented on #572
@mcollina I've just created this repo for reprducing the issue.
https://github.com/lewispham/mercurius-572
You can follow the readme to reproduce it.

[2021-09-21 09:13] steinroe opened #574 "Subscription Protocols: graphql-transport-ws"
Hi,

we are currently moving away from Apollo client and using urql now (highly recommend!). Urqls recommended subscription client is graphql-ws, [which is using](https://github.com/enisdenjo/graphql-ws/discussions/237#discussioncomment-1337652) the `graphql-transport-ws` protocol and not the `graphql-ws` protocol that is used by the [deprecated subscriptions-transport-ws](https://github.com/apoll

[2021-09-21 09:30] mcollina commented on #574
This might be explaining why https://github.com/mercurius-js/mercurius/pull/570 is failing cc @punchm.

I think we should support both.

[2021-09-21 10:10] puchm commented on #574
Yes this is probably the same reason why I was failing there, I found a workaround though.
I think it would be good to support the new protocol since the one we are using right now is deprecated.

[2021-09-21 14:11] #569 closed

[2021-09-22 01:32] trey-m opened #578 "Export MercuriusPlugin type"
I'm looking to decorate my fastify instance with the `MercuriusPlugin` type but it's not exported for use.

Line: https://github.com/mercurius-js/mercurius/blob/037cc1f35c3e4901d3dc219a9ef88b43ac017b0e/index.d.ts#L232

ie.
[code]

So we can properly call the following without type errors:
[code]

[2021-09-22 12:49] destumme opened #580 "Specifying the schema object causes error & crash when using federationMetadata: true"
Minimal example repository recreating bug: https://github.com/destumme/fastify-sample/tree/example/mercurius-schema-object-bug

When the schema object is present in the schema definition and federationMetadata is turned on the service fails to start with the following error message:

[code]

Discovered issue while trying to use Apollo's `@contact` directive: https://www.apollographql.com/docs/stud

[2021-09-22 13:21] mcollina commented on #578
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-09-23 09:40] mcollina commented on #580
Can you take a look if https://github.com/mercurius-js/mercurius/pull/581 solves your problem?

[2021-09-23 13:30] destumme commented on #580
It does indeed, thanks for taking a look so quickly. And as always, thanks for everything you do for the community.

[2021-09-23 16:36] #580 closed

[2021-09-24 07:54] #568 closed

[2021-09-29 09:49] jonnydgreen commented on #509
For those following, `mercurius-validation` is now released! https://github.com/mercurius-js/validation/releases/tag/v1.0.0

[2021-09-29 09:49] #509 closed

[2021-10-01 16:09] mcollina opened #592 "Add a statusCode optional parameter to ErrorWithProps"
Instead of

[code]

We should be doing

[code]

Note that we should also add some documents on how errorFormatter works as there has been a few issues about it. There might be something more to change under the hood - we might want to return a `200` by default in case of errors for example (sigh).

_Originally posted by @mcollina in https://github.com/mercurius-js/auth/issues/32#issuecomment-93235

[2021-10-05 12:33] brainrepo commented on #592
@mcollina ErrorWithProps signature already supports a second parameter **extensions**,

`constructor(message: string, extensions?: object); `

we can create a new signature

`constructor(message: string, statusCode?:number, extensions?: object)`

This can be a breaking change. Can we do it?

The alternative is to parse the param type and assign it to the correct property (extensions or statusCode)

[2021-10-05 12:37] mcollina commented on #592
No, let's keep the `statusCode` as the third parameter.

[2021-10-05 12:42] brainrepo commented on #592
Occam wins 😁

[2021-10-05 16:20] #574 closed

[2021-10-06 00:42] mqnguyen5 commented on #592
Hi, I would want to give the issue a try.
Is there anything I should be aware of before I begin?

[2021-10-06 06:17] mcollina commented on #592
nothing, go for it! Remember to add tests, types and docs.

[2021-10-07 11:04] capaj opened #596 "impossible to configure built-in graphiql to work on vercel serverless functions"
While testing https://github.com/capaj/vercel-serverless-mercurius-sample-api I noticed it is currently impossible to configure the path for graphiql.

`ide` takes two values: `boolean | 'graphiql'`

and it always uses the same url for graphiql: `/graphiql`.

I would like to propose addition of a new config for mercurius plugin: `graphiqlUrl`.
Default value would be the same as now, so : `/graphiq

[2021-10-07 11:13] #596 closed, assigned to nobody

[2021-10-07 12:47] #578 closed

[2021-10-07 16:42] darrenfurr opened #598 "Loaders: cache disabled by default?"
Is caching disabled by default on loaders?

It looks that way...(which I am ok with)...
https://github.com/mercurius-js/mercurius/blob/b671de31178395ea53f2ea39c19cc3f8d80be8eb/index.js#L389

But the docs make it seem that it is enabled by default.
https://mercurius.dev/#/docs/loaders

[2021-10-08 07:22] mcollina commented on #598
The cache must be disabled for subscriptions, otherwise long running connections would cache data indefinitely, leaking memory in the process. It's also not functionally correct, as if you are using subscriptions you want fresh data, not possibly stale ones.

[2021-10-08 20:25] mcollina commented on #598
For Query resolvers?

[2021-10-09 01:11] jonnydgreen opened #599 "Behaviour of Mercurius errors and their associated HTTP status codes"
I have been looking into the following reported issue: https://github.com/mercurius-js/auth/issues/32#issuecomment-937886976

And have replicated with the following test:

[code]

However, it got me thinking about how we should be handling HTTP status codes in general.

As it stands, we have the following behaviour for valid GraphQL queries in Mercurius:

- If GraphQL execution response `data ===

[2021-10-10 09:55] mcollina commented on #599
It's important to note that this behavior can be fully customized by changing the `errorFormatter`.
This issue refers to the _default_ behavior.

In general I think we should change this as:

1. if there is one error and no data, use the statusCode property. If it's not set, use 500.
2. if there are both errors and data, use 200.

The alternative is to always return 200 even if there are errors, l

[2021-10-11 01:33] darrenfurr commented on #598
Yes...A loader is an utility to avoid the 1 + N query problem of GraphQL. Each defined loader will register a resolver that coalesces each of the request and combines them into a single, bulk query.

[2021-10-11 15:27] mcollina commented on #598
By default the loaders specified for the resolved caches the value for the duration of that query.

[2021-10-11 15:27] #598 closed, assigned to nobody

[2021-10-11 22:43] jonnydgreen commented on #599
Here's a quick update from the survey I did:

| Real APIs      | Results                                                                                                                                                |
| -------------- | ------------------------------------------------------------------------------------------------------------------------------------------------------ |
| Hasura.i

[2021-10-12 07:19] mcollina commented on #599
I think we should use 400 in case there are multiple errors and no data. It likely means the request was accepted but there were some controlled errors.

I think we should also document clearly all the above... and how to implement the 200-for-everything behavior.

This would be a good contribution!

[2021-10-12 15:34] chemicalkosek opened #600 "Can't run Graphiql nor Altair"
Hello. I can't run graphiql and altair.
Sorry upfront if the issue is not related to Mercurius, I'm not sure whether it is or not.
I have posted a similiar issue on the Altair repo as it didn't work for me: https://github.com/altair-graphql/altair/issues/1701

How I'm starting graphiql or altair:

[code]

Error when running altair at `localhost:4444/altair` (with just Altair logo on screen):
[code

[2021-10-12 15:40] #600 closed, assigned to nobody

[2021-10-13 14:16] JasonMurphy13 opened #601 "example using under-pressure with mercurius"
I am looking to implement under-pressure with mercurius (not my whole server).  does anyone have an example on how to accomplish this?

[2021-10-13 16:12] #601 closed, assigned to nobody

[2021-10-14 00:32] mikaelkaron opened #603 "unable to get __resolveReference to execute"
I've copied the [Federation with __resolveReference caching](https://mercurius.dev/#/docs/federation?id=federation-with-__resolvereference-caching) example and made a _small_ modification:

[code]

However when I try to query the only thing I see on the console is `Resolver:Query` - so to me it looks like the `__resolveReference` is never called (neither on the `resolvers` _or_ `loaders`)

I've al

[2021-10-14 08:21] PacoDu commented on #603
`__resolveReference` is the resolver used for the `_entities` Query which is sent by the gateway when it needs to resolve a reference between services (like https://github.com/mercurius-js/mercurius/blob/master/examples/gateway.js#L107)

[2021-10-14 08:24] mikaelkaron commented on #603
That makes a lot more sense. Maybe just mentioning it in the fereration page could help others like me.

[2021-10-14 08:24] #603 closed, assigned to nobody

[2021-10-20 16:14] sooxt98 opened #610 "errors path missing"
both errors should include `path` as below, how could i obtain the path info
[code]
Path missing from the example
![image](https://user-images.githubusercontent.com/13378059/138130982-4d8b8c45-8c45-4c13-82a4-5e303c464752.png)

### What we expected
https://github.com/rmosolgo/graphql-ruby/issues/1967
![image](https://user-images.githubusercontent.com/13378059/138553883-778e5e6c-2553-45ba-a871-b594b

[2021-10-29 10:39] wiktor-obrebski opened #616 "`errorHandler` question"
Currently `errorHandler` [plugin option](https://mercurius.dev/#/docs/api/options?id=plugin-options) function sometimes is triggered, but sometimes is ignored.

In `index.js` file `errorFormatter` is used to format some errors, without calling `errorHandler`.
https://github.com/mercurius-js/mercurius/blob/6c523d96f57eb08a33a3a2b7b2e1d48c4e12e869/index.js#L558-L563

But in routes, `errorHandler` ha

[2021-11-02 08:14] ramiel opened #619 "Best place to log errors"
I looked into documentation and among issues but I couldn't find anything relevant. My goal is to simply log any error before it get sent as response. I don't need to do anything on the error but logging it. Where should I hook to do that?

[2021-11-03 16:07] mcollina commented on #619
What kind of errors would you like to catch? You want to log all resolver errors?

[2021-11-03 16:31] ramiel commented on #619
Yes, I just want to log all resolver errors. I don't know if this should be done at fastify level, but probably through mercurius would be better.

[2021-11-03 23:15] ramiel commented on #619
Ok, this way I'm able to log the same error that is sent to the requester. I'm trying to find a way to log the proper error, with stack trace.

[2021-11-04 08:00] mcollina commented on #619
what's your current code?

[2021-11-04 08:36] ramiel commented on #619
This is the relevant part

[code]

[2021-11-04 09:08] mcollina commented on #619
In your example, `error` should be the "proper" error. Could you make an example of why it is not the "proper" one?

[2021-11-04 11:06] ramiel commented on #619
Indeed. The problem is with my usage of pino: `logger.error(error)` cannot show the right stacktrace. This is working instead

[code]

The right version shows

[code]

while using `logger.error(error)` just shows

[code]

[2021-11-04 11:06] #619 closed

[2021-11-04 12:13] paolochiodi opened #625 "GraphiQL IDE not loading without service worker support"
When using GraphiQL IDE in a browser that doesn't support service workers the editor doesn't load and users can only see a blank screen.

The code rendering GraphiQL IDE has some level of service worker support detection in https://github.com/mercurius-js/mercurius/blob/master/static/main.js#L42-L62
When service worker is not supported, the code tries to render the app without first downloading de

[2021-11-05 12:48] markrzen opened #626 "Error response doesn't trigger Fastify `onResponse` hook?"
I wanted to check if this was expected. I know that Mercurius doesn't have `onResponse` as a lifecycle hook, but I would expect that any response at all from Mercurius would trigger the `onResponse` hook in Fastify.

Expected or a bug to be fixed?

[2021-11-05 14:24] markrzen commented on #626
And example would be submitting an invalid query. No `onResponse` hook is called.

Though when a normal route schema validation issue occurs, we certainly do have `onResponse` hook called.

[2021-11-05 16:49] paolochiodi opened #627 "Pass the resolvers info parameter to loaders"
The documentation states that

This is implemented in https://github.com/mercurius-js/mercurius/blob/b671de31178395ea53f2ea39c19cc3f8d80be8eb/index.js#L371-L376

I'm suggesting to also pass the "info" param (it's the fourth one) from a normal resolver.

[2021-11-05 17:28] mcollina commented on #627
Will it all be the same? Why do you need it?

[2021-11-05 17:48] paolochiodi commented on #627
To be honest, I'm not sure. I think in most cases it will be the same but this will need to support the case when it's not.

We mainly use it to derive which fields have been requested for an object and optimise database queries to only load necessary data (this is likely a minor optimisation in most cases, but for some bigger objects it may make a difference).

Loaders make this more complicated

[2021-11-05 20:03] mcollina commented on #627
How would you implement it? As part of the array?

I think that's useful only if it's  going to be the same for all.

[2021-11-05 20:28] mcollina commented on #626
Could you please prepare an example to reproduce this problem? Something that uses fastify.inject() would be fine.

[2021-11-08 11:11] wiktor-obrebski commented on #616
@mcollina any chance you can take a look? I would like to confirm if this is a real issue, or I do not understand something correctly. If I'll get confirmation I will try to provide a pull request to fix this.

[2021-11-08 11:44] mcollina commented on #616
It's ok the flow is split. If a resolver rejects/throw, that error is going to end inside errorFormatter: these errors will be part of the "usual" GraphQL response.
The Fastify `errorHandler` is being called if there is an error _outside_ of the GraphQL flow. These are outside of the GraphQL responses.

Can you make an example that makes this confusing?

This might be better documented, would you

[2021-11-08 13:38] Manubi opened #628 "Doesn't work with graphql v16+"
Hi,
just wanted to update the graphql package to version 16 but fastify/mercurius doesn't seem to like it.

![CleanShot 2021-11-08 at 14 38 09](https://user-images.githubusercontent.com/20935138/140751737-964b551d-9499-4d23-a480-dbcc1c04285a.png)

`No overload matches this call.
  Overload 1 of 3, '(plugin: FastifyPluginCallback<MercuriusOptions, Server>, opts?: FastifyRegisterOptions<MercuriusOpt

[2021-11-08 13:41] coder-se opened #629 "getProtocolByName has the wrong mapping for GQL_STOP?"
When using `graphql-transport-ws` for subscriptions, `GQL_STOP` is mapped to `stop` but according to the protocol it seems like it should be `complete` both for Server > Client and Client > Server.

https://github.com/enisdenjo/graphql-ws/blob/master/PROTOCOL.md#complete

https://github.com/mercurius-js/mercurius/blob/813e940dc2941efa3d85551bc45224e73a19d0ea/lib/subscription-protocol.js#L18-L19

[2021-11-08 13:49] mcollina commented on #629
That document you are referring to is the reference for the `graphql-ws` protocol, so it's ok that things are different.

It's hard to debate protocol compliance over just an issue. Have you got an example to reproduce your problem?

[2021-11-08 13:50] mcollina commented on #628
Seems about right, we have not updated to GraphQL v16 yet.

[2021-11-08 13:50] mcollina commented on #628
Would you like to send a Pull Request to address this issue?

[2021-11-08 14:10] coder-se commented on #629
I will try to put together a standalone example to reproduce the problem. What we're seeing is that our client (from the graphql-ws package) is sending `complete` message and our mercurius backend is responding with `Invalid payload type`.

Regarding the document, maybe it's me being confused by the name change of the package, https://www.npmjs.com/package/graphql-transport-ws

But at the top of t

[2021-11-08 15:45] Manubi commented on #628
Guess that doesn't make sense right now.
graphql-shield doesn't have updated to v16. either.
[PR](https://github.com/maticzav/graphql-middleware/pull/477)

Also why this PR for an update of graphql in mercurius failed.  [PR](https://github.com/mercurius-js/mercurius/pull/620)

[2021-11-08 16:33] sameer-coder commented on #627
I am working on this issue. Will create a PR soon.

[2021-11-08 19:19] victororlyk opened #632 "Add graphql playground"
Hi, It would be cool if the package would have playground instead/along with regular grpahiql ide.
I believe there was a pr merged before but now we do not have playground in the package. or it is strongly hidden
https://github.com/mercurius-js/mercurius/issues/52
Thanks

[2021-11-08 19:30] smolinari commented on #632
@victororlyk - you can plugin in Altair. It blows away Playground and Graphiql.

https://mercurius.dev/#/docs/plugins?id=altair-fastify-plugin

Or use the Altair Chrome Extension: https://chrome.google.com/webstore/detail/altair-graphql-client/flnheeellpciglgpaodhkhmapeljopja?hl=en

Scott

[2021-11-09 08:13] mortifia opened #634 "update doc for tracing"
[code]
have renamed multiple times

now is ```W3CTraceContextPropagator``` https://github.com/open-telemetry/opentelemetry-js#025x-to-1xy

[2021-11-09 09:11] coder-se commented on #629
Here's a standalone example of the issue. If you inspect the websocket messages in your browser then there should be a `Invalid payload type` error message visible.

https://gist.github.com/coder-se/f1d445b50f0efe26b303d373af792bde

![image](https://user-images.githubusercontent.com/5502726/140895569-2cbfce30-5377-4cfd-8377-56ea607f88c4.png)

[2021-11-09 09:26] #625 closed

[2021-11-09 10:15] mcollina commented on #632
We supported Playground in the past. however As https://github.com/mercurius-js/mercurius/issues/306 states, Playground is deprecated / unmaintained - so we removed it.

If features are missing, they can be added to https://github.com/mercurius-js/mercurius/blob/master/static/main.js. It should be a preset or some other missing configuraiton.

[2021-11-09 10:15] #632 closed

[2021-11-09 15:58] #627 closed

[2021-11-10 08:24] Eomm opened #642 "Add mercurius to the GraphQL website"
At the moment, mercurius is not listed on the official GraphQL website:

https://graphql.org/code/#javascript

https://github.com/graphql/graphql.github.io/blob/source/notes/ContributingToCodePage.md

I think it would be good for the project to be listed there too

[2021-11-10 08:25] #629 closed

[2021-11-10 08:29] sameer-coder commented on #610
Not able to reproduce the problem. I tested with the example mentioned above(basic.js) and I am able to get back `path` in the errors array

[2021-11-10 08:31] #610 closed

[2021-11-10 08:32] mcollina commented on #642
Could you send that PR?

[2021-11-10 08:35] sooxt98 commented on #610
@sameer-coder @mcollina did you guys really tested out? path is still missing
![image](https://user-images.githubusercontent.com/13378059/141078261-74fb66f2-d1d9-41ed-b13d-d9bf2c8845bc.png)

[2021-11-10 08:36] paolochiodi commented on #627
@sameer-coder that was quick, thanks for the fix!
@mcollina any plan for a release?

[2021-11-10 08:37] paolochiodi commented on #627
@mcollina never mind, just noticed a new release has been published a few minutes ago

[2021-11-10 08:39] mcollina commented on #610
I don't think this is fixable without a change inside graphql-js, which is not going to happen unless the spec changes.

[2021-11-10 13:49] MoritzGruber opened #643 "Gateway mode - Validation of federationSchema fails - should ignore multiple _service queries"
Hi together,
first i have to thank you for all the work you put into this amazing project!

I currently got the problem that i have running
3 graphql services that got a _service Query exposed (as the federation spec)

but then at runtime i can not start my gateway because i get this error twice:
`GraphQLError [Object]: Field "Query._service" can only be defined once.`

which has its root in

this

[2021-11-10 14:01] mcollina commented on #643
Sure thing!
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-11-10 14:28] MoritzGruber commented on #643
Sure. Amazing response time, thanks!  😮

While digging into it. I am releasing the problem can also be solved by the **gateway** **or** the **service**. Apollo solving this in the service.

In our use case we use gqlgen(golang) https://github.com/99designs/gqlgen
Which does not follow with what apollo states. They include the _service in the Query by default in the SDL.

 I was reading trough the

[2021-11-10 14:51] wiktor-obrebski commented on #616
I need to add logic to hande resolvers errors by myself. I need to log information about this (contextually, with request info etc.) to stdout. Additionally, I want to report it to Sentry. On both cases, I want add few contextual information (like e.g. `reqId` added automatically by fastify).
But `errorFormatter` has been designed to format errors, not handle them. So there is not access to curren

[2021-11-10 15:03] mcollina commented on #616
resolver errors __must__ be sent to the user. The `errorFormatter` is the option we use to do so. You cannot handle the errors there as they still need to sent to the end user.

I see no problem in adding the informations that are missing to the errorFormatter. I think the graphql context would suffice.
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-11-10 15:14] mcollina commented on #643
I'm pretty flexible in landing these kind of changes. Let's be inclusive.

[2021-11-11 17:47] MoritzGruber commented on #643
since the PR is merge i think we can close this

[2021-11-11 17:47] #643 closed

[2021-11-12 11:19] giacomorebonato commented on #628
Hi @Manubi , the PR seems to be failing because of this:

[code]

graphql-middleware (Mercurius dev dependency) has peer dependency on graphql < 16, so it needs to be upgraded too.

[2021-11-12 11:38] mcollina commented on #628
We can actually remove that dependency and add the relative example: https://github.com/mercurius-js/mercurius/blob/b671de31178395ea53f2ea39c19cc3f8d80be8eb/examples/graphql-shield-authorization.js.
That dependency is not needed to run, build or test Mercurius.

[2021-11-12 11:57] giacomorebonato commented on #628
Thanks @mcollina , I'll look into that.

[2021-11-12 11:59] mcollina opened #649 "Optimize Gateway"
It's possible to severely optimize the Gateway.

https://github.com/mercurius-js/mercurius/blob/master/lib/gateway.js#L384-L425

The logic _could_ batch the entity queries in a single GraphQL request to be sent to a target peer, fully leveraging the dataloader pattern.

[2021-11-12 12:01] mcollina opened #650 "Remove secure-json-parse from Gateway"
I think we could safely consider the target services as trusted and remove the secure-json-parse call in https://github.com/mercurius-js/mercurius/blob/25500ddf95f3cfafaab23d03248ac6c52740142c/lib/gateway/request.js#L92.

Even better, we could put it behind an option.

[2021-11-12 12:03] mcollina opened #651 "undici has a promise API, use it in Gateway"
https://github.com/mercurius-js/mercurius/blob/25500ddf95f3cfafaab23d03248ac6c52740142c/lib/gateway/request.js#L63-L110 uses the callback API of undici and `eos`. We could refactor this to use the undici promise API and maybe remove the use of `eos` and use async iterators instead.

This change must be benchmarked.

[2021-11-15 11:59] #386 closed

[2021-11-16 00:15] louwers commented on #65
@frndvrgs Anndd it's donw.

[2021-11-16 06:37] smolinari commented on #65
I'd consider authentication and authorization much too faceted in terms of ways to get them accomplished to be able to give good examples. They will most definitely only fit certain use cases and no way could the examples cover all possible use cases. Thus, I think this issue can be closed.

Scott

[2021-11-17 08:13] sooxt98 commented on #610
@mcollina In addition, is it possible to know which input field causing type error? since the path is missing,
[code]
![image](https://user-images.githubusercontent.com/13378059/142160993-70300946-470b-425c-8255-15c9c3b023f9.png)

[2021-11-17 10:05] wiktor-obrebski commented on #616
ok, I will try to provide a PR this week.

[2021-11-18 15:19] radomird commented on #650
I'll create a PR for this.

[2021-11-18 15:42] radomird commented on #650
@mcollina is there a name for the option that you prefer?

[2021-11-19 16:02] #650 closed

[2021-11-19 19:49] #295 closed

[2021-11-20 12:53] #616 closed

[2021-11-23 10:55] #651 closed

[2021-11-23 14:18] ghyath5 opened #665 "Couldn't use typegraphql with mercurius"
I am trying to use typegraphql prisma generator, when I pass the built schema to mercurius plugin it shows this error

`No overload matches this call. Overload 1 of 3, '(plugin: FastifyPluginCallback<MercuriusOptions, Server>, opts?: FastifyRegisterOptions | undefined): FastifyInstance<...> & PromiseLike<...>', gave the following error. Type 'GraphQLSchema' is not assignable to type 'string | stri

[2021-11-23 15:40] mcollina commented on #665
I don't have a clue, I'm sorry I can't help.

[2021-11-23 15:55] ghyath5 commented on #665
@mcollina
I just delete `graphql` from my dependinses it works perfectly, because mercurius doesn't support graphql 16 yet

[2021-11-23 15:56] #665 closed

[2021-11-23 16:06] ja-bravo commented on #298
I'm going to give this a try if no one else is working on this, will share some details once I have something running

[2021-11-25 11:41] ja-bravo commented on #298
I've been doing some research and found this repository: https://github.com/autotelic/mercurius-postgraphile
It looks like it works alright with some warnings about enums being used inconsistently across subschemas.
I haven't been found a way to fix the warnings as the generated GQL looks okay to me but they could be turned off by adding ```typeMergingOptions ``` to the ```stitchSchemas``` call in

[2021-11-25 11:47] mcollina commented on #298
I think we could just list that project here: https://github.com/mercurius-js/mercurius/blob/master/docs/plugins.md. Could you send a PR?

[2021-11-25 12:08] ja-bravo commented on #298
Done, https://github.com/mercurius-js/mercurius/pull/668

[2021-11-25 16:51] #298 closed

[2021-11-30 08:19] sameer-coder commented on #390
I will take a look at this today if no one else is working on this

[2021-12-01 03:35] deckchairlabs opened #674 "8.11.0 is missing safe-stable-stringify dependency"

[2021-12-01 08:24] #674 closed

[2021-12-01 08:39] sameer-coder commented on #390
@mcollina Should we just expose the full `compilerOptions` from graph-jit in mercurius?
Here's what it looks like:

[code]

User can then simply enable the `customJSONSerializer` from mercurius when needed.

[2021-12-01 11:32] mcollina commented on #390
I think that would be a good idea.

[2021-12-01 16:53] mcollina opened #677 "Context can be undefined in the error handler"
In production it's possible to see:

[code]

This can happen if an error is thrown in a hook. We should be adding back the check for Context in the error handler.

_Originally posted by @SimenB in https://github.com/mercurius-js/mercurius/pull/653#discussion_r760304267_

[2021-12-01 18:34] #677 closed

[2021-12-05 20:26] indatawetrust commented on #532
do you have a pull request plan for this topic?

[2021-12-07 20:55] #390 closed

[2021-12-08 17:01] DanTsk commented on #628
Any updates on this?

[2021-12-08 17:21] mcollina commented on #628
Would you like to work on it?

[2021-12-08 17:49] DanTsk commented on #628
Yes, on the next week I will have some capacity to fix this, but don’t want to interrupt someone’s existing work.

[2021-12-08 18:02] mcollina commented on #628
Go for it!

[2021-12-09 00:54] phantomk commented on #529
set `nullable` will return 200
[code]

[2021-12-10 22:45] markrzen opened #683 "Anyone attempt setting up Subscriptions based on SSE instead of WebSockets?"

[2021-12-13 14:43] giacomorebonato commented on #628
Sorry, I can't help with this at the moment

[2021-12-14 16:40] markrzen commented on #626
I have this on my list, sorry for the delay. Busy busy as usual.

[2021-12-19 21:18] sooxt98 opened #689 "Scalar with variable inputs detected for parsing AST literals. This is not supported."
Im getting this error when using JSONObject scalars, and i cant find a way to mute it,
im not sure where that error came from, fastify `setErrorHandler` & mercurius `errorFormatter` capture nothing

This error shows at 2nd request when server restarted or input variable changes

https://github.com/mercurius-js/mercurius/issues/53

[2021-12-19 22:12] mcollina commented on #689
Can you please include a reproducible example? A repo with everything setup to reproduce it would be great. Thanks!

[2021-12-20 17:41] #628 closed

[2021-12-23 06:59] cipto-hd commented on #683
sorry, would be great to move to discussions tab? I also try to implement graphql subscription using SSE. There is documention of subscription implementation at https://mercurius.dev/#/docs/subscriptions?id=subscriptions. Maybe it can be the starting point

[2021-12-24 10:05] simone-sanfratello opened #693 "defineResolvers behaviour in version 9"
There is a different behavior of `defineResolvers` between version `8` and version `9`.
When it's called after `replaceSchema` with the same resolvers, it doesn't allow that; it works fine after `extendSchema`

Here a reproducible example

[code]

this code works fine in version 8 but get the follow error in version 9

[code]

[2021-12-24 10:12] mcollina commented on #693
Would you be able to issue a PR to fix?

[2021-12-24 10:14] simone-sanfratello commented on #693
Not sure what the correct behavior is, the previous one?

[2021-12-24 10:39] simone-sanfratello commented on #693
Anyway, I can't make the v9 works, at least passing regular resolvers

[2021-12-24 10:56] mcollina commented on #693
Yes. The change is likely derived from the upgrade to graphql-js v16.

[2021-12-24 12:10] simone-sanfratello commented on #693
ok I'm working on it

[2021-12-24 14:42] simone-sanfratello commented on #693
the issue is caused by using `graphql-jit` that uses `graphql@15`

installing `graphql` in the app solves the issue

[2021-12-24 14:42] #693 closed

[2021-12-29 07:37] higgins opened #694 "Question: logging the operation name"
Hello, I'm hoping to log the parsed graphql operation name of every request our fastify server receives.
Using
[code]
I see I have access to the `fastify` [Request object](https://www.fastify.io/docs/latest/Reference/Request/) but it doesn't look like that stores the parsed graphql operation name.

**Question:** Will mercurius decorate the fastify Request object with the graphql operation name and

[2021-12-29 10:18] mcollina commented on #694
We don't store the operation name. Adding it is going to break https://mercurius.dev/#/docs/batched-queries where there are mulitple queries in the same HTTP request.

Why would you need to log the operation name?

[2021-12-29 17:15] higgins commented on #694
I see, no worries! We'll decorate our resolvers with a debug logger

We aren't batching (yet) and for the time being it's helpful to have the operation name logged with the http request logger we setup on fastify init. We should get the same effect with the resolver decorator though.

thank you!

[2021-12-29 17:15] #694 closed

[2021-12-31 14:34] simoneb commented on #649
This issue can be closed as the corresponding PR has been merged

[2021-12-31 14:39] #649 closed

[2022-01-03 03:45] sooxt98 opened #696 "ErrorWithProps custom status code always return 200"
the last sentence got mention this issue, but how to not return null? even if everything is empty the data stills return null
https://github.com/mercurius-js/mercurius/blob/master/docs/api/options.md

[code]

and there's no way to get ErrorWithProps statusCode in mercurius errorFormatter

![image](https://user-images.githubusercontent.com/13378059/147898999-d81aee55-f0a7-4ca9-8a18-b78a60f6d3a2.png

[2022-01-03 05:53] angelvega93 commented on #458
I'm having this problem right now, still no solution?

[2022-01-03 08:38] simoneb commented on #599
Shall we close this issue since the PR which addresses it is merged? Or are we waiting for the next release in which it will be included?

[2022-01-03 09:05] #599 closed

[2022-01-03 11:44] simoneb commented on #683
We may consider looking into providing a way to integrate with https://the-guild.dev/blog/graphql-over-sse instead of building it up from scratch

[2022-01-03 15:03] gilach commented on #458
Picking the issue up - will update with the progress.

[2022-01-03 17:25] mcollina commented on #683
I'm not sure it's a viable option given how the code is structured inside this module. Anyway it would be a good PR.

[2022-01-04 14:58] gilach commented on #458
I've managed to reproduce the scenario mentioned above. The `originalError` is actually contained within the errors in `ExecutionResult` object.

The default error formatter is not rendering details about the validation results, because of how `type-graphql` creates the error object (ie. `apollo-server` uses `extensions` field to send additional information whereas `type-graphql` does not). To acc

[2022-01-04 15:34] mcollina commented on #458
@gilach can you add a quick solution here that would help solve this? Also, could we include some info on that in our docs? It seems error formatting is one of our weak spots.

[2022-01-05 08:43] grillmeistertodafleisch opened #698 "MercuriusGatewayService keepAlive property not available"
According to the documentation the gateway services should expose a `service.keepAlive` property. However the `MercuriusGatewayService` interface does not provide this property.

Is there any way to enable keepalive messages from the gateway to the services?

Thanks in advance for your help.

[2022-01-05 08:54] mcollina commented on #698
I think we forgot to add it to the types.
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-01-05 09:04] grillmeistertodafleisch commented on #698
Sure, I can try to fix that

[2022-01-05 15:58] gilach commented on #458
Sure. Here's a simple example of how you could define your own error formatter:
[code]

Now, in this case, it gets a little more complicated. The problem is that validation errors coming from `type-graphql` are stored in `originalError` field which is non-enumerable (meaning it won't get serialized/logged - this is a design decision made by `graphql-js` in their implementation of GraphQLError clas

[2022-01-05 16:19] gilach commented on #458
We have a separate doc about integration with `type-graphql`, so I will definitely mention this there.

[2022-01-06 02:28] sooxt98 opened #699 "ErrorWithProps extensions missing when throw in mercurius context/single error"
[code]

[2022-01-06 08:41] sameer-coder commented on #696
I think this is as per the graphql spec (https://spec.graphql.org/June2018/#sec-Data)
`If an error was encountered during the execution that prevented a valid response, the data entry in the response should be null.`

Also, as mentioned in the mercurius docs, if you specify a `data` property on the error then the `statusCode` will always be 200

However, if you still want to get rid of the `data`

[2022-01-06 09:04] gilach commented on #696
You can access the statusCode from the exception via `originalError` property:
[code]

[2022-01-06 10:34] jonnydgreen commented on #699
Hi - can you provide some more context about this?

[2022-01-06 10:37] sooxt98 commented on #699
@jonnydgreen trying throw ErrorWithProps in `app.graphql.addHook('preParsing')`, but ErrorWithProps's extensions.code missing

[2022-01-06 13:46] #458 closed

[2022-01-06 14:08] sooxt98 commented on #699
mercurius v8.12.0 breaks the context error handling, might due to jit

[2022-01-07 07:41] sooxt98 commented on #699
I think i found it, the ErrorWithProps in contextFn is handled by fastify now instead of mercurius, im not sure whether this is better or not

https://github.com/mercurius-js/mercurius/compare/v8.11.2...v8.12.0#diff-2119cae306240011c3c05c96fe0436eacf198677b4dc0cbe99d644a00bfbcdf4R136-R148

[2022-01-07 07:43] #696 closed

[2022-01-07 08:50] mcollina commented on #699
I don't understand the issue. Could you please include a reproducible example? Or send a fresh PR to fix it.

[2022-01-07 09:46] sooxt98 commented on #699
@mcollina its related to mercurius specs, before v8.12.0, errorFormatter could handle and format all of the error which occurs in mercurius context function, but after it all error are handled by fastify, the error format has changed as table shown below, thats why my PR doesnt work for newer version, as mentioned in issue title

| 8.11.2 | 8.12.0 |
| --- | --- |
| ![image](https://user-images.git

[2022-01-07 09:54] mcollina commented on #699
I would encourage you to open a PR because I do not understand your use case.

[2022-01-07 09:56] sooxt98 commented on #699
@mcollina for example fastify-jwt decode failed, but i need to return in graphql format with ErrorWithProps extensions instead of 500

[2022-01-07 09:58] sooxt98 commented on #699
using mercurius hook to handle this error would be abit messy, although it works but i cant makesure it wont change in the future

[2022-01-08 15:32] mcollina commented on #699
I'm not exactly sure what you are looking for right now and what you are asking us to do.

[2022-01-08 15:37] sooxt98 commented on #699
Here’s the question, do you think that the error throw from the context
should be handled by mercurius errorFormatter or Fastify. If it’s fastify
you may close the issue since it’s mercurius specs. If not please revert
back the error handling from mercurius v8.12.0 to v8.11.0 in routing.js
file

On Sat, 8 Jan 2022 at 11:32 PM, Matteo Collina ***@***.***>
wrote:

[2022-01-08 17:58] mcollina commented on #699
What PR actually broke you? I don't think that was intended. Unfortunately a full revert is not  on the table as those changes were needed to fix other bugs. However I think it should be possible to support this use case and the rest of the features. Would you like to  give it a spin and send a PR?

[2022-01-09 16:11] essarn commented on #665
Facing the same problem using the latest versions of all packages, how can this be fixed?

[2022-01-10 11:30] jonnydgreen commented on #665
Could you output the following or even better provide a reproducible example please?

[code]

[2022-01-10 11:44] grillmeistertodafleisch commented on #698
@mcollina sorry, for the delay, just opened the PR

[2022-01-10 12:38] essarn commented on #665
Actually the problem seems to be that `type-graphql` doesn't support `v16` yet (see https://github.com/MichalLytek/type-graphql/issues/1100). Everything is working when using older versions so I guess that's the blocker.

[2022-01-10 17:29] #698 closed

[2022-01-11 11:50] ramonmulia commented on #488
hey @darrenfurr could you create a demo repo with some examples?

[2022-01-11 16:53] nuragic commented on #195
I'll try to do this on a separate repository to see if we need to change anything or it's just adding documentation.

[2022-01-11 18:41] darrenfurr commented on #488
@ramonmulia  - We ran into a number of issues using the subscription gateway + load balancing. We've moved away from using the subscription gateway & just have our clients connect directly to the subscription service.

[2022-01-12 13:40] sameer-coder commented on #543
@j I guess these http errors can be handled using a custom `errorFormatter` (https://mercurius.dev/#/docs/api/options?id=error-formatter). Have you tried it?

[2022-01-12 15:40] nuragic commented on #195
Ok, after some research I found out that this is not _just_ adding documentation, (that is also needed but…) we need to change some code in order to support this, indeed. I think I'd need some guidance on there, but let's move the discussion on an actual PR (I hope to open a draft soon).

[2022-01-12 16:11] eduhenke commented on #616
I have the same use-case as @wiktor-obrebski, and I too found it confusing and only figured why it wasn't working because of this issue

[2022-01-13 09:52] nuragic commented on #683
This would be an interesting discussion (feel free to move to the _Discussion_ section).

I'm currently looking to add support for the full WS transport (i.e. to be able to send all operations via WS: query, mutation and subscription, see #195) and I also thought about SSE. I feel that we are maybe reinventing the wheel here... my first thinking was, ok cool let's do that by integrating with these

[2022-01-18 15:57] #499 closed

[2022-01-19 06:47] sameer-coder commented on #543
@mcollina Do you think we should we should change the error implementation in mercurius to accommodate these http errors or leave it for now since the same can be achieved using the `errorFormatter`?

[2022-01-19 07:16] mcollina commented on #543
I think some minimal change is needed, the described error is not a good DX. At a minimum, we should   avoid that: make sure that we support the errors property to not be there.

I'm unsure we should add specific handling of http status codes.

[2022-01-21 10:16] ansavchenco commented on #569
Is't possible to register hooks in child contexts? Docs say:

When I add this line in a child context (not top level) I receive a timeout error.

[2022-01-21 10:34] mcollina commented on #569
Can you include a full example to reproduce?

[2022-01-21 10:57] ansavchenco commented on #569
Sure! I was able to reproduce it with the following.

[code]

[code]
It results in this.
[code]

[2022-01-21 13:49] mcollina commented on #569
You should just remove ` await childContext.ready();`

[code]

[2022-01-21 13:52] ansavchenco commented on #569
Then `graphql` on `childContext` is `undefined`.

[code]

[2022-01-21 13:56] mcollina commented on #569
[code]

[2022-01-21 14:00] ansavchenco commented on #569
Yeah, this one works. Thanks a lot!

[2022-01-24 14:50] tiagoheliob commented on #230
Is this still an occurring issue @mcollina?

[2022-01-24 19:35] tiagoheliob commented on #276
@heri16 after some digging and tests I end up finding that it's not an issue, `graphql-jit` internally handles it as you can see in [here](https://github.com/zalando-incubator/graphql-jit/blob/50855a2540502ee78dd034bc55853c255a5500b5/src/execution.ts#L1429) in case the operation is `OPERATION_DEFINITION` and there is no `operationName` it assigns `operation = definition` which prevents it from thr

[2022-01-25 07:17] #276 closed

[2022-01-25 07:50] mcollina commented on #230
I'm going to close this as I never felt we needed more validations.

[2022-01-25 07:50] #230 closed

[2022-01-25 14:27] tiagoheliob commented on #493
@darrenfurr is it still an issue? could you please set up an example repo?

[2022-01-25 16:59] darrenfurr commented on #493
@tiagoheliob - I am not sure. We were having so many problems with the Subscription Gateway in front of our load-balancer that we moved away from it. We are now connecting directly to the graphql servers hosting the subscriptions.

[2022-01-25 17:21] tiagoheliob commented on #493
@darrenfurr thanks for the quick reply, on this case, I believe we can close this issue for now since it doesn't seem to be directly related to the initial topic.

[2022-01-25 17:25] #493 closed

[2022-01-25 17:28] mcollina commented on #493
@tiagoheliob I think we should check/implement some reconnection logic in Mercurius. Could you take a look?

[2022-01-25 19:25] tiagoheliob commented on #493
@mcollina sure, i'll take a look

[2022-01-26 14:54] tiagoheliob opened #707 "Implement reconnect logic"
We should create some mechanism to allow reconnection when the getaway connection is failing.

Occasionally when starting the subscription gateway the following message is received:
[code]

More context on: https://github.com/mercurius-js/mercurius/issues/493

[2022-01-26 16:36] tiagoheliob commented on #707
As suggested in [here](https://github.com/mercurius-js/mercurius/issues/493) I've created this ticket to investigate a mechanism to try reconnecting, but apparently, we already have something in place, you check [here](https://github.com/mercurius-js/mercurius/blob/9084eab681fb4fd480a11935d8997cd215904f1e/lib/subscription-client.js#L85)

[2022-01-26 16:36] #707 closed

[2022-01-27 09:28] #642 closed

[2022-01-27 14:37] sameer-coder commented on #543
@mcollina Do you mean we should remove the `errors` property if the error is thrown by a fastify-plugin before the request reaches GraphQL?

[2022-01-27 15:17] mcollina commented on #543
Let me close this issue as I do not have much time to scope it.

[2022-01-31 11:35] sameer-coder commented on #543
@j can you please provide a repo that reproduces the issue?

[2022-02-03 11:11] #520 closed

[2022-02-03 14:32] destumme opened #718 "Apollo Subgraph Compatibility Verification"
Has anyone looked at getting mercurius added to Apollo's list of verified libraries for creating federation compatible subgraphs?

https://github.com/apollographql/apollo-federation-subgraph-compatibility
https://www.apollographql.com/docs/federation/other-servers/

I'd be happy to take a swing at it, as well as open the corresponding issue in their testing repo, but if there is work that has alre

[2022-02-03 14:37] mcollina commented on #718
Go for it! I don't think any work has been done.

[2022-02-05 13:18] #195 closed

[2022-02-06 14:01] p-kuen opened #725 "Reduce package dependencies"
I installed mercurius the first time today and I recognized it has a lot of dependencies which could be reduced quite easily in my opinion:

#### [promise.allsettled](https://www.npmjs.com/package/promise.allsettled):
As of NodeJS 12.9 and up Promise.allsettled is available natively without a package dependency. If there would be a node minimal version of 12.9 set, we could remove this dependency

[2022-02-06 15:39] mcollina commented on #725
If you would like to send PRs for promise.allsettled and events.on, it would be amazing.

As for graphql-jit, it seems it is not clear to you how it works. It will improve the performance of your queries independently on how you generate the schema. The peerDep warning does not affect the actual operations and it will soon be fixed. It's great to keep it where it is.

readable-stream is not remova

[2022-02-07 13:26] destumme commented on #718
For visibility: https://github.com/apollographql/apollo-federation-subgraph-compatibility/pull/69

The only thing that failed out of the box, was apollo's federated trace header (https://www.apollographql.com/docs/federation/metrics/#how-tracing-data-is-exposed-from-a-subgraph). I started looking at it, but didn't get very far. I assume that is functionality that should be in it's own lib though,

[2022-02-07 16:32] Eomm opened #726 "Federated node can't return external Type"
Hi,
I'm facing this issue: when a query returns an external type, the right node is not called.
By calling `meDirect` the Gateway tries to fetch the `Node 1` instead of the `Node 2`

### Schema Node 1:

[code]

### Schema Node 2:

[code]

|query|results|
|---|---|
`meWrap { user { name } }` | works
`meDirect { id name }` | 🚫 error

The error:

[code]

Here is a test that replicates the error:

htt

[2022-02-10 09:20] #726 closed

[2022-02-10 17:01] aleccool213 opened #729 "@requires directive not found in gateway list of directives"
Hi!

My team writes the gateway schema to disk for a number of reasons. We like seeing what our federated graph schema compiles to and its nice for communicating what the schema looks like to other teams (we dont use a schema registry).

We recently started to use the `@requires` directive in a service and the gateway doesn't list it in the directives available. Because of this, `@requires` does n

[2022-02-10 17:04] mcollina commented on #729
Good spot! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-02-11 12:20] codeflyer opened #731 "Gateway query fails if a type is redefined"
Hi,
I'm facing this issue using the gateway feature:

I've 2 nodes that declare the same type, it's a wrapper to normalise the return list:

[code]

The first node declare and resolve the `User` type

[code]

The second one has a query that return the list of the users:

[code]

The query that uses the type with a diffrent name, works properly as expected:

[code]

Instead the query that used the

[2022-02-11 13:15] mcollina commented on #731
Can you please make a reproducible example?

I don't understand why you are redefining the type.

[2022-02-11 13:20] mcollina commented on #731
Why are you not using the @external directive on `edges`?

[2022-02-11 13:28] codeflyer commented on #731
I-ve created a test in the PR in the comment, this the direct link to the file:
https://github.com/mercurius-js/mercurius/blob/c03f25657400323a93f0744ad13617db51f30300/test/gateway/type-redefined.js

[2022-02-11 14:06] paolochiodi opened #732 "Add logs for queries and mutations"
When a fastify + mercurius application receives a request with a query or a mutation, only the original fastify http request is logged.
Unfortunately this is not very useful as everything will be logged as a `POST /graphql`.

It would be great if mercurius could instead:
- log the name of the mutation or query
- extend the logger passed to the resolvers to include informations about the query or m

[2022-02-11 14:16] mcollina commented on #732
I think this should be implemented logging the query source right before https://github.com/mercurius-js/mercurius/blob/5760b066339241c51b6da80c9098032673fc08d7/index.js#L511 as a new logging value at a debug level.

[2022-02-11 14:19] paolochiodi commented on #732
But what should be logged? I.e. I send multiple named queries like

[code]

Will both queries be logged separately? Will it log the query name or the actual query?

[2022-02-11 18:57] mcollina commented on #732
If you check in the actual code, it's just the source that is sent by the user before parsing it.

[2022-02-14 08:54] #731 closed

[2022-02-14 08:54] #732 closed

[2022-02-16 12:23] subhero24 opened #737 "Schema and resolver errors"
When loading Mercurius with a schema option as a string, and the schema contains syntax errors or there are resolvers that do not match the schema, the server just quits without any error message whatsoever. This makes debugging really hard. Is it possible to throw relevant errors when schema and/or resolvers contain errors?

[2022-02-16 15:05] mcollina commented on #737
Can you include an example? It does error so maybe you are not handling/logging them?

[2022-02-16 16:30] subhero24 commented on #737
I used the first example from the docs:

[code]

[2022-02-16 19:04] mcollina commented on #737
Where is the error?

[2022-02-17 01:51] bmccorm2 commented on #665
Sorry for being dense is there a resolution for this?  I am getting the same errors as above and have downgraded my graphql package to 15.3.0.

![image](https://user-images.githubusercontent.com/11781610/154388973-2b6738d3-60a2-42ad-97bd-9920332b8d58.png)

[code]

[code]

[2022-02-17 04:55] smolinari commented on #665
@bmccorm2 - The issue is with TypeGraphQL. Not Mercurius.

If you are looking for the TypeGraphQL experience, where it also works with v16 of GraphQL (and also gives you a modules/DI system which you have to add with TypeGraphQL), you could try NestJS' code-first approach. Nest now supports Mercurius out of the box.

Scott

[2022-02-17 07:19] subhero24 commented on #737
This example from the docs runs fine. When I change anything about the resolvers or schema that should result in an error, the program just quits.

If for example the schema has an additional method that is not there in the resolvers.

[code]

[2022-02-17 09:53] subhero24 commented on #737
I understand that it is allowed in graphQl, but the fastify server just shuts down immediately.

[2022-02-17 14:39] destumme commented on #718
They merged the PR for this, mercurius now shows in the readme of the testing repo, listing the features that are supported. This can probably be closed.

[2022-02-17 14:39] #718 closed

[2022-02-17 17:02] mcollina commented on #737
the above example you pasted works fine here.

[2022-02-17 18:25] subhero24 commented on #737
I upgraded my node version, and now it works fine 🤔 . Thanks for looking into it.

[2022-02-17 18:25] #737 closed

[2022-02-18 03:19] fahmifan opened #738 "Federation Gateway not work properly behind reverse proxy"
I am testing mercurius as federation gateway, everything works correctly until i try to put it behind a proxy using caddy server.

This is my Caddyfile
[code]

This is the error i got
[code]

[code]

Caddy Version: v2.4.6
node dependencies
[code]

[2022-02-18 05:50] fahmifan commented on #738
So i clone the mercurius master to do some debug. And found the cause, it was this code, this request never reached the federated service when the original request comes from caddy proxy

<img width="744" alt="image" src="https://user-images.githubusercontent.com/19581621/154621149-bd2c3268-2195-43c4-9ad2-8a415ccf5386.png">

The SDL query was ok

<img width="425" alt="image" src="https://user-imag

[2022-02-18 06:42] fahmifan commented on #738
So the issue is the federated service return response in gzip, but the mercurius gateway can't handle it if the request comes from reverse proxy

[2022-02-18 20:04] mcollina commented on #738
We are not passing an Accept-Encoding header and it seems your server is always applying gzip encoding.

Could you try a quick fix passing `Content-Encoding: identity` via initHeaders and rewriteHeaders.

It might also be that we need a fix somewhere to handle this. Could you write an example to reproduce this with Node.js?

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Encoding

[2022-02-19 00:50] fahmifan commented on #738
The federated service is written in Go and unfortunately I am unable to replicate it outside the project.
But my team decided to disable compression from the federated service.

[2022-02-21 00:56] bmccorm2 commented on #665
Thanks @smolinari.  So if i understand correctly, the stack of fastify/mercurius/typegraphql is not compatible at this time correct?  I tried to get it to work on Nest to no avail and i also tried the vanilla example from the site below.  Same error as above - all with graphql 15.3.0.

https://mercurius.dev/#/docs/integrations/type-graphql?id=integrating-typegraphql-with-mercurius

[2022-02-21 05:47] smolinari commented on #665
@bmccorm2 - Mercurius and TypeGraphQL should work together with v15 of GraphQL. And, when you say "tried to get it to work with Nest" are you speaking of TypeGraphQL? If yes, you don't need it. Nest has it's own TypeGraphQL-like module. In fact, Nest used to use TypeGraphQL in the past, but went away from it, for reasons I don't know. But, their new GraphQL module is just as good as TypeGraphQL.

[2022-02-21 08:14] mcollina commented on #665
You will have to use v8 of Mercurius because that's the one that supports GraphQL v15.

I'm not sure what is blocking the upgrade of TypeGraphql but it seems there is some activity there, so hopefully it will be resolved soon.

[2022-02-21 19:20] bmccorm2 commented on #665
@smolinari  - sorry i didn't know that nest had its own graphql module similar to typeGraphQL.  I'll give that a try.

@smolinari / @mcollina  - I copied the two files from the recipe below.  They won't run because of typing errors. V8 of mercurius and v15 of graphql.  Are you saying you are able to get those to run?
https://mercurius.dev/#/docs/integrations/type-graphql?id=integrating-typegraphql

[2022-02-24 15:26] markrzen commented on #626
I am going to close this until I have time to review.

[2022-02-24 15:26] #626 closed

[2022-02-28 16:48] codeflyer opened #743 "Alias fails on federation if the type is declared in multiple nodes"
Hi,
I'm facing this issue: when a query uses an alias of a type declared in multiple nodes returns null.

Schema Node 1:
[code]

Schema Node 2:

[code]

The query used without an alias:

[code]

return the data:

[code]

Calling instead

[code]

returns

[code]

The erro occur only if the type `PageInfo` is required multiple times.

If the `PageInfo` declaration is removed from the second node, ev

[2022-03-06 16:43] ZiiMakc commented on #600
It may be unexpected that in production something will break. Better configure altair properly:
[code]

[2022-03-07 23:04] tomi-bigpi opened #748 "`defaultErrorFormatter` throws error for federated errors (when downstream service can't be reached)"
Ran into the following issue (locally/in development) using Mercurius in gateway mode to a downstream Mercurius API that isn't running. The error I'm seeing is `error.extensions.errors.map is not a function`.

The relevant code https://github.com/mercurius-js/mercurius/blob/master/lib/errors.js#L57 expects `error.extensions.errors` to be an array:
[code]

However, in reality is just an object with

[2022-03-08 08:20] mcollina commented on #748
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-03-08 22:08] tomi-bigpi commented on #748
I created the above PR to address the issue and help ensure it doesn't accidentally happen elsewhere by validating the input for `FederatedError`.

One thing that is up for discussion is the extension of the options for services that allows passing in a `undici` agent instance. This was based on the recommendation in this open issue: https://github.com/nodejs/undici/issues/996 The other option I t

[2022-03-09 08:08] mcollina commented on #748
Great!

I think the PR is ok as it is, thanks!

Tests seems passing on CI (but they are flaky from time to time). Would you like to send a different PR to address this?

[2022-03-09 11:53] jonnydgreen opened #751 "Different reference types at the same path are not correctly handled by the gateway"
Howdy! I found an issue with the gateway resolver cache resolution where different reference types at the same path are not correctly handled by the gateway. This happens when we define a union list response where each union type contains different reference types at the same field path. Consider the following example as an illustration:

## Problem

Consider the following message service schema:

[2022-03-09 13:52] mcollina commented on #751
Go for it!

In the meanwhile, would you like to set up the backport action? https://github.com/fastify/fastify/blob/main/.github/workflows/backport.yml

So that we can automate the backport.

[2022-03-09 14:02] jonnydgreen commented on #751
Cool - will get something together today!

Absolutely!

[2022-03-09 14:59] tomi-bigpi commented on #748
re: The failing test. I wasn't able to get that test to pass and I don't have the time to troubleshoot it at the moment. Since it's passing on CI, we can probably ignore for the time being.

[2022-03-10 08:15] #751 closed

[2022-03-17 21:30] pkeeley opened #755 "Federation: query for external entity not working"
I have attached a small project with two files, apollo.js and mercurius.js. Both set up a small federation. Running this query against Apollo returns the expected results, mercurius does not. Mercurius also makes extra calls (which is why it is not returning the correct results).

Mercurius makes the following calls:

- Query.userByPost
- User.posts
- Posts already there
- User.posts
- Posts alrea

[2022-03-18 15:13] aleccool213 commented on #729
The reason this happens is that the gateway-specific directives are filtered out of the final list of directives here: https://github.com/mercurius-js/mercurius/blob/ea2e50df36284bab5cae1894e103a851f303234e/lib/federation.js#L240

This is because they aren't used in the final gateway schema, except the `requires` is used in both locations. I propose we do not filter out the `requires` directive wh

[2022-03-21 09:13] pasha-vuiko commented on #435
any updates on this?

[2022-03-23 13:42] xxSkyy opened #758 "Gateway don't load service with middleware/ schema that's not a string"
When schema is loaded by `graphql-tools` - just made executable or added middleware layer gateway doesn't load service schema with error:

![code](https://user-images.githubusercontent.com/16470866/159712300-ff5c9380-5436-44ba-8701-cae07615d865.png)

Only plain string schema are loaded by gateway, but I need to have shield middleware for queries.

Reproducition :
https://gitlab.com/xxSkyy/gateway-

[2022-03-23 13:46] #758 closed

[2022-03-24 09:19] #729 closed

[2022-03-25 15:34] wodCZ opened #760 "Latest NPM version points to v8.12.2 instead of 9.3.6"
During a regular package update (`yarn upgrade-interactive --latest`), mercurius was offered to "upgrade" from 9.3.5 to 8.12.2.

![CleanShot 2022-03-25 at 16 33 16](https://user-images.githubusercontent.com/1174421/160152103-635d1126-2cf0-4ada-8374-4360fc545c95.png)

The 9.3.6 version seems to be [available at NPM](https://www.npmjs.com/package/mercurius), but the `latest` version points to the 8.

[2022-03-25 18:00] mcollina commented on #760
Good spot, I'll fix it asap.

[2022-03-25 22:02] mcollina commented on #760
This is fixed.

[2022-03-25 22:02] #760 closed

[2022-03-27 20:09] ZiiMakc opened #761 "Node __resolveType is not acceptable by typescript types"
While working on ["Global Object Identification"](https://graphql.org/learn/global-object-identification/) I stumbled on issue where `__resolveType` on `Node` is not accepted by typescript types but works fine:
[code]

while `resolveType` without `__` is accepted by ts but doesn't work:
[code]
Without `__resolveType` you will get an error:

Reproduction example:
[code]

[2022-03-27 20:42] mcollina commented on #761
Can you try without mercurius-codegen? I have a feeling it must be the problem.

[2022-03-27 20:43] ZiiMakc commented on #761
@mcollina Seems that setting `internalResolversPrefix: true` in [configuration](https://www.graphql-code-generator.com/plugins/typescript-resolvers) resolves an issue.

Defines the prefix value used for __resolveType and __isTypeOf resolvers. If you are using mercurius-js, please set this field to empty string for better compatibility.

[2022-03-27 20:51] ZiiMakc commented on #761
Without `__` and `mercurius-codegen` I get error

[2022-03-27 20:57] ZiiMakc commented on #761
It also works with and without `__` if I pass resolvers directly to plugin:
[code]

instead of `makeExecutableSchema`:
[code]

[2022-03-28 06:54] mcollina commented on #761
There is likely something odd in meecurius that is preventing this.
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-03-28 18:07] ZiiMakc commented on #761
I think issue is that `makeExecutableSchema` doesn't allow `resolveType` without underscores and throws an error, related issue: https://github.com/mercurius-js/mercurius-typescript/issues/14

I'm not very familiar with graphql and not sure what is the proper solution (overriding `internalResolversPrefix` works for me):
1) Not override `internalResolversPrefix` in `[mercurius-typescript](https://g

[2022-03-28 19:42] mcollina commented on #761
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-03-30 11:46] all2pie opened #762 "Forward custom context to GraphQL service when using Federation"
I am using Mercurius Federation with Nestjs as a Gateway and I want to set user session in the context that should be accessible form the GraphQL service.

I have tried custom context but it dose not work with federation.

[2022-03-30 17:06] mcollina commented on #762
The context cannot be forwarded as-is, it's part of the gateway system. However you can do forward headers with the `rewriteHeaders` option of the gateway. Note that this is mostly a problem of Nest.js in sending this information down, not the reverse.

[2022-03-30 17:14] all2pie commented on #762
@mcollina
Thanks for the suggestion I tried the rewriteHeaders before but it doesn't accept Json so I will stringify it.

And can you please share the details details regarding the Nestjs information sending so I can open an issue there

[2022-03-30 17:20] mcollina commented on #762
I have absolutely no clue. I'm not a Nest.js so you might just ask them. I think they use mercurius under the hood so there some kind of short-circuit here.

[2022-03-30 17:21] all2pie commented on #762
Okay thanks

[2022-03-30 17:21] #762 closed

[2022-04-03 12:37] tuan231195 opened #764 "onResolution hooks not called on bad request"
I am trying to use type-graphql and type-di with Mercurius. Currently, I am creating a new typeDI container inside the context function:

[code]

I have added an onResolution hook to handle clean-up of the container instance. However, it will never be called if the Graphql request fails validation.
[code]
It results in memory leaks. Also, I will not be able to log the validation errors.

Is it pos

[2022-04-03 14:09] mcollina commented on #764
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-04-04 18:38] cr4ftxyz commented on #473
Hi guys, any news on this feature ?

I looked at https://github.com/autotelic/mercurius-remote-schema but the plugin is unmaintained and its graphql dependency is outdated.

[2022-04-05 08:11] all2pie opened #767 "Add Async support in rewriteHeaders"
Please add async (promise) support in `rewriteHeaders`

Use Case:

It is related to this [issue](https://github.com/mercurius-js/mercurius/issues/762)

I want to get session in `rewriteHeaders`  function which is Asynchronous, Because the context setting is not possible as per [this](https://github.com/nestjs/graphql/issues/2114)

[2022-04-05 10:38] mcollina commented on #767
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-04-06 14:07] markrzen opened #768 "`graphql` is both a dependency and a peerDependency"
It looks like someone moved GraphQL to a peerDependency, then someone else re-added GraphQL as a dependency without changing it's peerDependency configuration:

https://github.com/mercurius-js/mercurius/commit/675769acf79a926f0bfdf6cc8e0abd7621798fb7

https://github.com/mercurius-js/mercurius/blob/master/package.json#L62

[2022-04-06 14:16] mcollina commented on #768
Unfortunately that's the only way to handle the pletora of different implementations of package managers :(.

[2022-04-06 14:16] #768 closed

[2022-04-06 14:34] markrzen commented on #768
@mcollina Any chance you have some docs surrounding that? Or just a bit of tribal knowledge?

[2022-04-06 14:37] mcollina commented on #768
npm v6 does not install peerDependencies by default.
npm v8 does install peerDependencies.

Yarn handles it even differently. We target npm v6 environment still.

[2022-04-11 06:59] capaj commented on #358
Weird. I am getting this problem again. My config is:

[code]

and with the newest chrome firefox I started getting:

[code]

But it worked a few chrome versions back for sure.

[2022-04-11 07:04] capaj opened #771 "Graphiql cannot be used with helmet on fresh browsers"
ATM graphiql cannot be used with helmet. This config has worked for me in the past, but I suspect new browser versions broke it:

[code]

and with the newest chrome(100)/firefox(99) I started getting:

[code]

But it worked a few chrome versions back for sure.
As a workaround I won't use helmet for now, but it certainly isn't ideal.

Not sure how to fix it-maybe as a workaround serve those package

[2022-04-11 08:02] mcollina commented on #771
I would still prefer to keep serving them from unpkg so that we avoid their weight on the package and avoid a build step here. Anyway, everything is up for grabs.

[2022-04-11 08:02] mcollina commented on #771
When was this changed? Because things where working for me two weeks ago.

[2022-04-13 11:00] conradthegray commented on #771
I'm looking into this. I have recreated the issue.

[2022-04-14 07:38] artmarydotir opened #772 "Subscriptions: TypeError: Cannot set property 'close' of undefined"
nodejs version: v16.7.0
os version: nodejs official docker image debian 11.2
fastify version: 3.20
mercurius : 8.12.2
mqemitter-redis": 4.1.0
ioredis: 4.0.0

*******

Hi, im using [Subscription support (with redis)], but getting this error at subscribing. im not implemented the publish yet , bcuz at first i can not subscribe.

[code]

[code]
**the pubsub object console log result:**
[code]

And th

[2022-04-14 17:50] mcollina commented on #772
Can you provide steps to reproduce? We often need a reproducible example, e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

[2022-04-15 09:37] artmarydotir commented on #772
ِYes, I understand. I thought to myself, maybe this is a common mistake.
this problem is currently running on a project that I can not publish.
but thank you for your answer and in the next few days I will publish a small repository of my problem again. 🌷

[2022-04-15 12:19] all2pie commented on #767
https://github.com/mercurius-js/mercurius/pull/773

[2022-04-16 12:21] #767 closed

[2022-04-22 09:27] conradthegray commented on #771
From what I gathered, unpkg is not sending the required header to allow cross-origin content loading. There is an issue for that in unpkg repo https://github.com/mjackson/unpkg/issues/290

Here are the possible solutions:
1. switch from unpkg to https://www.jsdelivr.com/ I've made a test change and it works. The downside is that this could be a breaking change. For example, with that solution the

[2022-04-22 09:55] all2pie opened #776 "Subscription Support in Federation"
Please add subscription support for Federation

[2022-04-22 15:36] kurtmilam commented on #771
For a little more detail about the underlying cause of the behavior:

1. `helmet` sends a `Cross-Origin-Embedder-Policy: require-corp` (COEP) header, by default.
2. `unpkg` should send a `Cross-Origin-Resource-Policy: cross-origin` (CORP) header with its resources, but it doesn't.
3. Adding the `crossorigin='anonymous'` attribute to script links to scripts hosted by `unpkg` forces the requests to

[2022-04-22 21:39] mcollina commented on #771
Can we document what config is needed for helmet to work?

[2022-04-22 21:43] mcollina commented on #776
This is supported already.

[2022-04-22 21:43] #776 closed

[2022-04-23 16:06] reezpatel opened #777 "Any way to forward headers from a downstream service in federation mode?"
I want to send `Set-Cookie` from one of the federated service back to user? So, I want to know, right now, is there any way to achieve this?

[2022-04-23 19:02] mcollina commented on #777
I don't think so, but it would be great to add a callback to do that.

[2022-04-23 19:03] mcollina commented on #777
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-04-25 08:51] andreysoktoev commented on #435
[code]

[2022-04-25 09:28] all2pie commented on #776
Please add it in docs as well.

And I set the `subscription: true` in both gateway and service but not able to test in Apollo Studio or any other client, which url should I use for subscription?

The subscription works correctly when checking from service directly through grapihiql but it dose not with Federation Gateway  using Apollo Studio

![image](https://user-images.githubusercontent.com/3462

[2022-04-25 11:38] #771 closed

[2022-04-25 18:43] didiermicoud opened #779 "Throwing ErrorWithProps with required resolver result type."
Ciao Matteo
I have resolvers that are throwing ErrorWithProps on failures.
Looking closer, I see some unexpected behavior.
When more than one resolver are throwing an error, the expectations would be to return all the errors in the response. But it does not seem to be the case.

I have this:

[code]

-> A resolver that returns an optional result, throwing an error
-> A resolver that returns a requ

[2022-04-25 19:25] didiermicoud commented on #779
Note that - with type resolvers, the behavior is as expected:
With something like:
[code]

The response for :
[code]
Does return a 200 with 2 errors.

[2022-04-25 19:38] mcollina commented on #779
Can you provide steps to reproduce? We often need a reproducible example, e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

---

It would be a while before I can tackle this bug. Would you like to send a PR?

[2022-04-25 23:33] didiermicoud commented on #779
Ecco ci qua -
I put this quickly together -
https://github.com/didiermicoud/mercurius-stash

I will look a little deeper to understand how errors are handled when a request contains more than one root query.

[2022-04-28 21:42] tomi-bigpi opened #781 "Federation not fetching downstream simple query result type `Int`"
I ran into an issue with a federated query that simply returns an `Int`. Calling the service directly (also running on Mercurius) returns the value as expected.

Relevant bit from the schema:
[code]

I'm not seeing any calls from the federation service to the downstream service, and calls fail with `Cannot return null for non-nullable field Query.myCount.`. Making the return type nullable causes a

[2022-04-28 21:50] mcollina commented on #781
This is a tough bug that'll need to solve. Unfortunately it would take a while - my schedule is packed for the next couple of months.

If you would like to take a stab and fix it, it would be awesome:

[2022-04-30 22:06] ZiiMakc commented on #761
Sorry for delay, no, I'm not sure what is a proper solution, anyway solutions for `makeExecutableSchema` usage is added above for anyone who will stumble on this issue.

[2022-04-30 22:06] #761 closed

[2022-04-30 22:16] ZiiMakc opened #782 "Error is logged with `disableRequestLogging` and `logger`"
I would like to log errors manually and don't log know handled errors like "Nickname is taken".

With configuration like this:
[code]

When error is thrown from resolver it's logged in info level:
[code]

With `logger` set to `false` log messages are gone, but also `req.log.error` will not work.
[code]

# Expected behavior:

Error thrown from resolver should not be logged if `disableRequestLogging

[2022-05-01 07:59] mcollina commented on #782
disableRequestLogger disables all the logging of Fastify, not mercurius. Currently there is no such option for Mercurius, would you like to add one?

[2022-05-01 15:59] ZiiMakc commented on #782
Got it, maybe I will do it later, will close for now.

[2022-05-01 15:59] #782 closed

[2022-05-02 14:37] lucasGras opened #786 "errorHandler method is not called"
## Global issue description

I'm trying to create a custom error handler and formater for mercurius to match my custom error types. For this I would need
to overwrite errorFormatter and errorHandler implementation.

I have no problem with errorFormatter, it works well and it's being called on every raised errors. But the errorHandler method does not seem to be called.

## Expected Behavior

What I

[2022-05-02 14:46] mcollina commented on #786
errorHandler is Fastify error handler, so it won't be called with `server.query()` as in your example.

[2022-05-02 14:46] #786 closed

[2022-05-02 15:32] simone-sanfratello opened #787 "bug: in gateway, name for services must be mandatory"
as titled, otherwise only the last service is registered

if we want to leave it optional, we must change [here](https://github.com/mercurius-js/mercurius/blob/master/lib/gateway.js#L391) adding something like `service || i` (where `i` is the counter of the loop)

example

[code]

[2022-05-03 07:21] lucasGras commented on #786
I tried to use the fastify errorHandler as you mentioned @mcollina , see my example:
[code]

I think I still don't get any method overload, is there something I'm missing ?
How can I get fastify errorHandler to be called on mercurius errors ? (before being send to errorFormatter)

Thanks anyway !

[2022-05-03 09:25] mcollina commented on #786
The Fastify error handler is called when a route handler rejects with an error. In your example you are not calling any Fastify route, but just doing `.query()`. Therefore, no error handler is triggered.

[2022-05-03 15:44] #787 closed

[2022-05-04 09:11] mcollina commented on #779
What would be the fix to this issue? Would you like to send a PR?

[2022-05-04 13:35] didiermicoud commented on #779
I have not been able to look closer - also I am not 100% sure what is the spec for handling multiple queries in a single request / with one failing -
Let's close this for now - while I look more into it -

[2022-05-04 13:36] #779 closed

[2022-05-04 16:29] fjmoreno opened #790 "¿Is Subscription a reserved type Name?"
Hi, ¿Is Subscription a reserved type Name? i expect to redefine Subscription rootType name as stated on graphql specs:  https://spec.graphql.org/October2021/#sec-Root-Operation-Types

### Steps to reproduce

**Given following example:**
[code]

**I expect following response:**
[code]
**But i get:**
[code]

If i change type and resolver name from Subscriptions to anything else all works as expected

[2022-05-04 17:29] fjmoreno commented on #790
No, is not a graphql subscription, just a regular type named subscription, Series have Subscriptions(as domain entity, not graphql subs)

[2022-05-04 23:57] mcollina commented on #790
This is not supported, mercurius assumes `Subscription` is a GraphQL subscription.

[2022-05-05 00:11] jessekrubin opened #791 "Mercurius 8 throws error about using `fastify-static` after upgrading to use `@fastify/static`"
I get the following warning:

[code]

I can send a PR for this fix if I have time soon.

[2022-05-05 07:55] fjmoreno commented on #790
Why? is not a reserved word in graphql specs just a default name: https://spec.graphql.org/October2021/#sec-Root-Operation-Types.Default-Root-Operation-Type-Names

[2022-05-05 13:22] mcollina commented on #791
Go for it!

[2022-05-05 18:47] jessekrubin commented on #791
Made the PR to the v8x branch

#792

[2022-05-06 17:10] #791 closed

[2022-05-08 17:57] #634 closed

[2022-05-12 11:53] qlaffont-flexper commented on #786
@mcollina as I see, @lucasGras wants to catch errors on query/resolver before they are converted to GraphQL Errors from Mercurius. We are trying to build an adapter for mercurius to Error Handling (https://github.com/flexper/unify-errors). How we can do that ?

[2022-05-12 15:44] mcollina commented on #786
Please open a fresh issue

[2022-05-18 05:18] mattcan commented on #790
I think there are two problems:

1. No way to redefine the root operation types
2. The `Subscription` type is specially treated even if the option is not set in the plugin or set as `subscription: false`

If that makes sense @mcollina, I'll open a couple PRs to get this sorted out.

[2022-05-18 08:02] mcollina commented on #790
go for it!

[2022-05-21 06:53] jmshal opened #798 "Support for multiple @key directives"
It would be great to have support for multiple `@key` directives.

For reference, I'm trying to get something _like_ the following working...

**Entity service**

[code]

**User service**

[code]

The problem is that the first `@key` directive is functional. The second one is completely ignored (it took me longer than I would like to admit to figure out why this wasn't working 🤦‍♂️). This means th

[2022-05-21 08:05] mcollina commented on #798
Multiple `@key` directives are not supported atm. Would you like to send a PR?

[2022-05-21 09:00] jmshal commented on #798
I'm going to have a go - but I'll be honest, I'm not entirely sure where to start. It also appears that my workaround won't... well... work. So attempting to add multiple `@key` directives is probably my best bet at this time.

[2022-05-21 11:14] mcollina commented on #798
happy to review the change!

[2022-05-21 17:51] mohammed-gehad opened #799 "cached.jit.query is not a function"
i have faced this error
`{ "data": null, "errors": [ { "message": "cached.jit.query is not a function" } ] }`

it only happens when jit is enabled and i query with input. queries without input pass.

this query throws cached.jit.query is not a function.
`query findManySpecialty($where: SpecialtyWhereInput) { findManySpecialty(where: $where) { id } }`

this query work fine.
`query findManySpecialty

[2022-05-21 18:07] mcollina commented on #799
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-05-31 18:09] joadr opened #804 "Is there a way to receive query as AST?"
Hello!

Before que used to have apollo-graphql-lambda which supports parsing Graphql AST directly. We've migrated to mercurius but some of our clients sends us graphql AST in the query payload. The thing is we had to create a fastify contentTypeParser to transform that AST back to string, but that is not something we want to keep because it doesn't make much sense as the string is converted back t

[2022-05-31 20:19] GeertWille commented on #799
@mcollina I had the same issue so I added the fix and also a test. Hopefully, this covers the requirements for this issue to be resolved.

[2022-06-01 08:48] mohammed-gehad commented on #799
great job! thanks :)

[2022-06-05 05:55] jamesmeneghello commented on #418
Getting it in one of our projects as well. Occurs when the Input arg of a mutation has a circular dependency, in our instance:

e.g. `chatMessage.tradeCompanies.trade.tradeCompanies[0].trade.tradeCompanies[0]...` until OOM.

[2022-06-05 08:04] mcollina commented on #418
If you would provide a script to reproduce this reliably it would be amazing. This is likely to be a bug in graphql-jit.

[2022-06-10 04:10] knpwrs opened #810 "Disable GET requests"
Is there a way to disable GET requests to `/graphql` or otherwise having some form of CSRF protection ([like Apollo](https://www.apollographql.com/docs/apollo-server/api/apollo-server/#csrfprevention)) for GET requests?

[2022-06-10 14:17] ZiiMakc commented on #810
You can use [fastify-helmet](https://github.com/fastify/fastify-helmet) I assume.

[Plugin options. Serves the Default: true. A graphql endpoint is exposed at /graphql.](https://mercurius.dev/#/docs/api/options?id=plugin-options)

[2022-06-10 15:56] mcollina commented on #810
Check out https://github.com/fastify/csrf-protection

[2022-06-10 15:56] #810 closed

[2022-06-12 13:19] ZiiMakc opened #811 "Update mercurius-typescript"
Can we update [mercurius-typescript](https://github.com/mercurius-js/mercurius-typescript/pull/285)?

[2022-06-12 13:44] mcollina commented on #811
cc @PabloSzx

[2022-06-12 18:21] PabloSzx commented on #811
working on it

[2022-06-12 18:36] PabloSzx commented on #811
[mercurius-codegen@4.0.0](https://github.com/mercurius-js/mercurius-typescript/releases/tag/mercurius-codegen%404.0.0)

[2022-06-12 18:36] #811 closed

[2022-06-20 07:18] mohammed-gehad commented on #418
i had the same issue.
`
     JavaScript heap out of memory
`
 when using Jit

[2022-06-20 07:21] mohammed-gehad commented on #418
that's the error message. i hope it help.

`

                    api:dev: <--- Last few GCs --->
                    api:dev:
                    api:dev: [26391:0x50bb970]    28692 ms: Mark-sweep 2025.5 (2079.1) -> 2006.4 (2064.5) MB, 142.5 / 0.0 ms  (average mu = 0.182, current mu = 0.128) allocation failure scavenge might not succeed
                    api:dev: [26391:0x50bb970]    28867 ms:

[2022-06-20 07:27] mcollina commented on #418
We often need a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

[2022-06-24 19:24] mattkindy commented on #390
I think perhaps the `MercuriusCommonOptions` weren't updated with this change

[2022-06-28 13:17] all2pie opened #817 "Error data, extensions & statusCode not passed from service to gateway"
I have modified the gateway example to add the `errorFormatter`  in both.

I am passing data, extensions & statusCode from the service but I am not able to receive that in gateway, here is the code:

[code]

Use the `hello query` to test this

[2022-06-29 13:25] all2pie commented on #817
@mcollina I would like to do this, but I wont be able to because of the busy schedule

Please assign it to someone else or take a look at it yourself

Thanks

[2022-06-29 14:06] mcollina commented on #817
I've tagged it good first issue, hopefully somebody will pick it up.

[2022-07-03 20:36] harshitkumar31 commented on #777
Started a WIP PR: https://github.com/mercurius-js/mercurius/pull/820

[2022-07-04 16:11] harshitkumar31 commented on #817
I think this is happening because mercurius is throwing a `FederatedError` in this scenario -the data, extensions & statusCode aren't passed from the service to gateway.

https://github.com/mercurius-js/mercurius/blob/master/lib/gateway/request.js#L92

We instead could return a valid response with graphQL errors in payload & read them at the gateway. Let me know what you guys think.

[2022-07-04 16:51] mcollina commented on #817
I'd like to see how that PR would look like in the end.

[2022-07-04 19:46] harshitkumar31 commented on #817
@mcollina ,
Something like this https://github.com/mercurius-js/mercurius/pull/822/files
Would need more thought & work definitely, just a POC.

[2022-07-10 07:58] joaobsantos opened #824 "pubsub.publish in subscription: onConnect / onDisconnect"
Hi guys, quick question, this doesnt work, is there a way to do it?

[code]

[2022-07-11 15:47] simoneb commented on #738
@fahmifan is this issue solved?

[2022-07-11 15:50] fahmifan commented on #738
@simoneb well, yeah we resolved it by remove the gzip compression from the federated service. And we enable gzip only in the Load balancer

[2022-07-11 18:24] p-kuen commented on #725
I already created a PR for promise.allsettled, events.on would be my next try. Will do that soon!

[2022-07-13 16:10] Eomm opened #826 "federation gateway should throw on type's conflicts"
Given the following schemas:

### Node 1

[code]

### Node 2

[code]

The gateway starts correctly instead of throwing.

This is a clear developer's error, as the `Node 2`'s schema should use the `extends` keyword:

[code]

In this case, Mercurius should throw an error when:

- there is a naming conflict without the `extends` keyword
- the `extends` entity must not use the `ID!` property value

In

[2022-07-14 10:59] mcollina commented on #826
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-07-15 11:45] jonnydgreen opened #827 "Align terminology with GraphQL Composite Schemas Working Group Glossary"
Following on from discussions in the GraphQL Composite Schemas Working Group: https://github.com/graphql/composite-schemas-wg it would be good to align terminology.

Current working glossary: https://github.com/graphql/composite-schemas-wg/pull/34

Terms agreed in the inaugural meeting in 14th July 2022:
 - `Subschema` - essentially the schema of a federated service (definition TBD)

## Exploratio

[2022-07-16 17:21] EstebanBorai opened #828 "Relay Support"
Hi, I'm checking out this library and I'm curious about using it along with
Relay support. I also found [GraphQL-Relay][1] repo from the GraphQL
organization and Im wondering if it could be used along with Mercurius.

My goal is to achieve a GraphQL schema using connections as explained
in [this article from Apollo GraphQL Blog][2].

Thanks in advance!

[1]: https://github.com/graphql/graphql-rela

[2022-07-17 05:44] smolinari commented on #828
This should have been a question in the Discussions.

At any rate, how you build out the server itself is up to you. Mercurius is much lower level and allows basically for anything you want in terms of schema design and automation, which Relay is basically about. For instance, I'm using Mercurius with NestJS and a library called nestjs-query. It handles a lot of automation for generating the schem

[2022-07-17 16:15] EstebanBorai commented on #828
Thanks so much @smolinari!

[2022-07-17 16:15] #828 closed

[2022-07-22 13:05] #824 closed

[2022-07-25 17:31] JamesLMilner commented on #826
I have been looking at this today and have some code that and trying to get a better understanding of what the defined behaviour should be for when federated service schemas come together. Is there any specification or guidance on how federated service schemas should behave when they come together? I have been looking at the Apollo v1 documentation - is this what we want to follow? It would be gre

[2022-07-26 08:51] jonnydgreen commented on #826
Good question! This is actually being fleshed out as we speak in the GraphQL Composite Schemas Working Group: https://github.com/graphql/composite-schemas-wg . Unfortunately, there is not much behavioural stuff yet so that will be available down the line - although I don't know how long this will be or what it will look like. E.g. it was discussed in the inaugural WG meet the other week about the

[2022-07-26 08:52] mcollina commented on #826
Indeed

[2022-07-26 08:53] mcollina commented on #826
note that Mercurius fully support `@external`: https://github.com/mercurius-js/mercurius/blob/ef154c50b3efc3f68a2c95269ebb277f379d1a12/test/gateway/requires-directive.js#L124.

[2022-07-26 08:55] JamesLMilner commented on #826
Just to give an example of some ambiguity here, the example given above uses an entity type:

[code]

For extending entities in Apollo v1, [the canonical way](https://www.apollographql.com/docs/federation/v1/entities#example-1) is as so:

[code]

I believe the following attempt to extend (in the initial example) should probably throw an error because it's not the correct way to extend an entity (w

[2022-07-29 18:18] mmahkamov commented on #791
@jessekrubin @mcollina

Using Mercurius 8.13.0 I'm seeing the following error message:
[code]

I've verified that 8.13.0 is referencing @fastify/static in its package.json.

Verified that in node_modules @fastify/static 5.0.2 got installed. However, I see this in index.js of @fastify/static:
[code]

Apparently, @fastify/static supports fastify 4.x starting from 6.0.0

[2022-07-29 18:31] mcollina opened #832 "Fix @fastify/static version in v8."
@jessekrubin @mcollina

Using Mercurius 8.13.0 I'm seeing the following error message:
[code]

I've verified that 8.13.0 is referencing @fastify/static in its package.json.

Verified that in node_modules @fastify/static 5.0.2 got installed. However, I see this in index.js of @fastify/static:
[code]

Apparently, @fastify/static supports fastify 4.x starting from 6.0.0

__Originally posted by @mmahk

[2022-07-29 18:31] mcollina commented on #832
I'll fix it asap.

[2022-07-29 19:46] jessekrubin commented on #832
@mcollina you will fix fastify static? or this pr fix?

[2022-07-29 22:13] mcollina commented on #832
Unfortunately I can't reproduce it. @jessekrubin could you create a repository to reproduce the problem? All versions of modules used by mercurius are correct.

[2022-07-29 22:13] #832 closed

[2022-07-29 22:35] jessekrubin commented on #832
@mcollina I made a repo but cannot repro; https://github.com/jessekrubin/fastify-mercurius-static-err-832

I think @mmahkamov has the problem tho so maybe they should repro it?

[2022-07-29 22:36] jessekrubin commented on #832
mercurius `~8.13.0` working good for me and I too am using type-graphql with `"@fastify/static": "~5.0.0"`

[2022-07-29 22:38] jessekrubin commented on #832
@mcollina gut says @mmahkamov is using wrong `@fastify/static`

[2022-07-30 05:37] mmahkamov commented on #832
@mcollina I'll try to reproduce the issue on a new repo today

[2022-07-30 05:39] mmahkamov commented on #832
@jessekrubin which version of fastify are you using?
I have @fastify/static 5.0.2 installed and it appears to support only fastify 3.x.

[2022-07-30 08:17] mmahkamov commented on #832
@mcollina @jessekrubin Here's a sample repo to reproduce the issue:

https://github.com/mmahkamov/mercurius-issue-832

Please let me know if I can help with anything.

[2022-07-30 08:18] mcollina commented on #832
You need to use Fastify v3 with Mercurius 8 or Fastify v4 with Mercurius 10.

[2022-08-03 04:40] andreysoktoev opened #834 "Cannot read properties of undefined (reading 'entityResolversFactory')"
Cannot get **QUERY** response data via WebSocket in Gateway mode.

Gateway error:
[code]
Client error:
[code]
Gateway:
[code]
Service:
[code]
Client:
[code]

[2022-08-03 10:10] nasainsbury opened #835 "Tests are failing on v10.1.0, but working on v10.0.0"
Hi,

On [the-graphql-workshop repo](https://github.com/nearform/the-graphql-workshop), we have some tests.

When you target a particular test, you get a timeout:

[code]

I get the following response:

[code]

However, if I downgrade to `v10.0.0`, and do the same commands, it passes:

[code]

I get the following response:
[code]

I'm a bit stumped at what's causing this, my assumption is that the

[2022-08-03 11:17] mcollina commented on #835
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-08-03 17:33] mcollina commented on #834
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-08-03 23:22] andreysoktoev commented on #834
Actually, i don't have enough expertise to find out the solution. Maybe someone more experienced can help?

[2022-08-12 00:02] tonpascual opened #838 "Mercurius not working on Dockerfile"
Sample Dockerfile

[code]
Docker commands
- sudo docker build -t test/fargate-graphql .
- sudo docker run --rm -p 4001:4001 tontest/fargate-graphql

<img width="1382" alt="image" src="https://user-images.githubusercontent.com/16769646/184261784-df520935-f6b8-4790-b928-0db28be6c2ea.png">

[2022-08-12 01:54] #838 closed

[2022-08-12 01:54] tonpascual commented on #838
Just set the localhost to 0.0.0.0
app.listen({ port: 4001, host: '0.0.0.0' })

[2022-08-17 14:30] drakhart opened #842 "Uniquely identify batched queries through all their lifecycle"
While trying to give support to https://github.com/nearform/mercurius-apollo-tracing/issues/125 we noticed that we were unable to uniquely identify each operation definition contained in batched queries through their whole lifecycle. This is needed in order to know which tracer to start or stop at any given time.

We tried two approaches and faced two different issues with them:

1. Using the `doc

[2022-08-17 15:00] mcollina commented on #842
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-08-17 18:39] flyweight commented on #777
I've been looking at #820, and it doesn't seem to cover the following case:

Imagine there there are two subgraphs, `authentication` and `posts`, behind a gateway. The `authentication` subgraph has an `authenticate` mutation that sets a cookie on success.  It seems that `set-cookie` header gets eaten by the gateway at the moment. Is it possible to passthrough specific headers when running in feder

[2022-08-21 08:46] Eomm commented on #732
I have created a plugin for this issue:
https://github.com/Eomm/mercurius-logging

[2022-08-21 09:07] mcollina commented on #732
Could you add a link in the docs?

[2022-08-27 14:53] andreialecu opened #851 "Compatibility with `graphql-ws` `keepAlive`"
I'm experimenting with switching from Apollo Express to Fastify and Mercurius.

I discovered something a bit weird. If I enable `keepAlive` in `graphql-ws`, it will send messages that look like `{"type": "ping"}` but it seems that something on the Mercurius side is not processing them correctly.

<img width="300" alt="Screenshot 2022-08-27 at 17 50 32" src="https://user-images.githubusercontent.co

[2022-08-27 15:13] mcollina commented on #851
I think there is a bug somewhere in Mercurius that requires the payload in https://github.com/enisdenjo/graphql-ws/blob/master/PROTOCOL.md#ping to exist.

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-08-27 15:30] andreialecu commented on #851
I'll take a look at submitting a PR for this. I believe this is also incorrect:

https://github.com/mercurius-js/mercurius/blob/f25d973208e6da61ab03cf6e99f35966f42b66f2/lib/subscription-protocol.js#L29

I don't think `graphql-ws` understands the `ka` message, based on the error in my original report.

[2022-08-27 15:35] mcollina commented on #851
note that you should only change the `graphql-transport-ws` subprotocol.

[2022-08-27 17:13] andreialecu commented on #851
Opened #852

[2022-08-27 21:07] #851 closed

[2022-08-29 20:00] #842 closed

[2022-08-30 14:58] drakhart opened #858 "Properly clone context for batched queries"
#849 didn't finally fix #842.

For some reason I'm still investigating, `Object.create(request)` is not creating a truly independent clone of the request object, so the Mercurius context is still getting shared among all the batched queries.

This needs further investigation to find a proper fix, and once fixed hook spies (i.e. `onResolution`) should be added to double check the context values at

[2022-08-31 14:09] drakhart commented on #858
My fault: when I moved from cloning just the context to cloning the full request I didn't take into account that `Object.create(request)` would not clone the properties inside the context, just reference them (as they sit at a 2nd level inside the request).

I'm creating a new PR that will fix this.

[2022-09-01 11:37] andreialecu opened #860 "GQL spec compliance for http status codes (200 everywhere)"
I've been migrating from Apollo to Mercurius and noticed that queries that return GQL errors have status code 500. This trips up our client code, thinking it's a Network Error instead of an application error.

I took a look at the spec here:
https://github.com/graphql/graphql-over-http/blob/main/spec/GraphQLOverHTTP.md#applicationjson

It seems to mention that:

This has already been discussed her

[2022-09-01 13:06] mcollina commented on #860
Sure thing. Would you like to send a PR?

[2022-09-01 13:51] andreialecu commented on #860
Here you go: #861 🙂

[2022-09-01 15:21] #858 closed

[2022-09-02 12:15] #543 closed

[2022-09-02 12:15] #860 closed

[2022-09-02 20:35] flovilmart opened #862 "Federating with ruby-graphql"
More a question than an issue. I am wondering what the DSL should be when integrating with an external server that isn't a mercurius federation / graphQL server, for example ruby-graphql.

I see that the server expects an [SDL](https://github.com/mercurius-js/mercurius/blob/master/lib/gateway/service-map.js#L76-L87) to be served, but how would I go about producing one?

Thanks!

[2022-09-05 08:11] mcollina commented on #862
According to https://www.apollographql.com/docs/federation/supported-subgraphs/, graphql-ruby supports it.

[2022-09-05 08:11] #862 closed

[2022-09-17 14:42] sushilkjaiswar opened #867 "NestJs, Mercurius Federation throws GraphQLError: Syntax Error: Unexpected "@"."
Nestjs + Mercurius + Federation Graphql API server when setup is throwing following error,

[code]
Below is the important piece of code and schema I used from NestJS federation example combined with Mercurius example. I have read similar issues faced by other developers but in their case error reported was different than what is shown in my codebase. I heard Mercurius also has @extends directive b

[2022-09-17 14:55] mcollina commented on #867
Thanks for reporting. We do not have the resources to support Nest.js users. Please refer to the Nest [Discord](discord.gg/NestJS) channel (support) for such questions.

[2022-09-17 14:55] #867 closed

[2022-09-17 15:09] sushilkjaiswar commented on #867
Thanks for the prompt @mcollina. I thought my issue was oriented towards Mercurius than NestJS but anyways I will try to discuss on discord channel. Thank you for referring discord channel.

[2022-09-17 21:10] mcollina commented on #867
I'll be happy to help if you can create a simple repro just using Mercuruius.

[2022-09-19 14:47] sushilkjaiswar opened #868 "Mercurius Federation throws error for Federation version 2 schema"
Hi @mcollina ,

In brief I am using Mercurius + Fastify with @nestjs but this issue I found was more related to Mercurius library.  Can you validate my understanding and check it out if have fixed the issue appropriately or more needs to be to fix the issue.

Federation V2 schema is mentioned below

users.graphql
[code]

posts.graphql

[code]

While testing federation app it threw following error

[2022-09-19 14:56] mcollina commented on #868
Mercurius does not support Federation 2.0.

[2022-09-19 15:10] sushilkjaiswar commented on #868
Yes, I read the document and never found the mercurius is supporting federation version 2 and it is surprising that above schema worked after one change. Federation 1 never worked for me  with NestJs but without NestJS it worked without issues I have raised issue in the discord channel.  This is sample github code with instructions  https://github.com/sushilkjaiswar/Nestjs-Mercurius-Federation-Sam

[2022-09-19 15:52] mcollina commented on #868
According to https://www.bloomberg.com/press-releases/2021-11-03/apollo-graphql-introduces-federation-2-to-get-more-organizations-to-the-graph, Federation v2 is patent pending. I don't think we would implement it natively in Mercurius.

[2022-09-19 16:12] sushilkjaiswar commented on #868
Okay. I think why it is working for in my Nestjs project is due to @apollo/subgraph dependency required in the nest project for federation even for Mercurius framework as well. This is my assumption because I don't think any other reason why it is working in my case.

Sad news Federation v2 won't make part of  Mercurius!

[2022-09-19 17:44] smolinari commented on #868
This is the license stipulation that would kill the usage for me.

This stipulation to me means Federation v2 is no longer open source. I understand a business has to make money, but what Apollo has done with their "work" has the stench of corporate greed all over it.

Scott

[2022-09-19 17:53] smolinari commented on #868
Hmmm... but reading further, it seems you can use Federation as part of a larger platform or service. Still, it is a bit vague in that respect.

Scott

[2022-09-20 08:11] tamland commented on #860
mercurius still returns `400` for some errors e.g. attempting to query a field that doesn't exist or invalid query syntax. Not sure if this is intentional?

[2022-09-20 08:14] sushilkjaiswar commented on #868
Since Apollo was in forefront driving the standards for Graphql Federation v1 and now federation v2(which is pending for patent). How you guys see the Mercurius and other similar libraries moving ahead in the direction of federation and what would be probable roadmap for federation feature for this library. Any thoughts?

[2022-09-20 09:30] smolinari commented on #868
Although I'd highly doubt Mercurius' team/ makers would be taken to court over any breach of the Federation license or patent, it does pose big questions to those using Mercurius for services that offer federated GraphQL APIs. I'd say, the risk isn't with @mcollina, but then again, he might not want to be in the middle of anything, so probably why he said the comment above. https://github.com/merc

[2022-09-20 09:44] mcollina commented on #860
@tamland could you send a PR to update it? No, it was not intentional.

[2022-09-20 10:46] sushilkjaiswar commented on #868
I was more worried about the roadmap of Mercurius Federation given that Federation v2 will be patented. What next will be for federation in Mercurius or development will stop at version 1 features. This concern applies to all other graphql libraries as well with federation support.

[2022-09-20 10:49] mcollina commented on #860
Then it's ok to return 400! Awesome.

[2022-09-20 10:54] tamland commented on #860
I think 200 is correct for `application/json`. Clarified here: https://github.com/graphql/graphql-over-http/issues/203 Old issue but latest draft still say: