[2018-10-04 17:00] temsa opened #3 "Support `graphql-tool` `makeExecutableSchema` to ease migrations, or document the migration process"
most GraphQL code out there is probably using Apollo, and it is probably using [`makeExecutableSchema`](https://www.apollographql.com/docs/graphql-tools/generate-schema.html#makeExecutableSchema) which results in something meaningful for Apollo ( but not for fastify-gql )

Currently, passing the list of `schema` and `resolvers` directly to `fastify-gql` won't work directly.

It could be cool to ha

[2018-10-04 18:09] #3 closed

[2018-10-16 12:39] temsa opened #7 "Error management issue on `/graphql` endpoint"
if I run this script:
[code]

then do a curl to hit `/` like this, I have http 200 +  some error reporting:
[code]

but if I go to `/graphiql` with a browser and run the same query:
[code]
I still have a http 200, `null` `data.history`, but no errors reported.

I believe I should not have a `http 200` as a result, probably an `http 500`, and it should probably detail the errors

[2018-10-16 12:44] temsa commented on #7
Moreover, the [errorHandler](https://github.com/mcollina/fastify-gql/blob/master/routes.js#L19-L32) seems not to be triggered which should probably be the case

[2018-10-16 17:17] #7 closed

[2018-11-05 12:11] DannyvanHolten opened #9 "Please add documentation"
Dat your presentation at nodeconf. And want to use it instantly. So it would be Very helpful if you could Add some documentation.

[2018-11-22 18:51] greenkeeper[bot] opened #11 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2018-11-23 11:54] greenkeeper[bot] opened #12 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2018-11-23 11:58] #12 closed

[2018-11-24 12:44] mcollina commented on #9
Added docs, finally!

[2018-11-24 12:45] #9 closed

[2018-12-14 08:45] lagmanzaza opened #19 "Can I use with realtime ?"

[2018-12-14 08:55] mcollina commented on #19
What do you mean?

[2018-12-14 09:00] lagmanzaza commented on #19
I want to use graphql with graphql subscriptions so I want to know that Can I fastify-gql use with graphql subscript ?

[2018-12-14 09:03] mcollina commented on #19
Unfortunately this feature is not supported yet.

[2018-12-14 09:03] #19 closed

[2018-12-14 09:04] lagmanzaza commented on #19
Thank you sir

[2018-12-20 19:19] PacoDu opened #20 "Fastify ecosystem ?"
Why this has not been added yet to the fastify ecosystem ?

This is considered unstable ?
Or you do not plan a long term support for this library and it was just a technical demonstrator ?

Anyway I'm using it for a personal project and I love the work you've done with the LRU cache and the jit compiler, Nice optimizations !

[2018-12-20 19:20] mcollina commented on #20
Thanks! it’s just admin work, would you like to send a PR there?

[2019-01-03 10:29] PacoDu opened #23 "User inputs validation and serialization"
I'm looking for a way to take advantage of Fastify schema validation and serialization. GraphQL allows type validation but this is not enough for user inputs validation.

For now I'm using my own architecture with a model validation through AJV and json-schemas, but I'm wondering if I can benefit from fastify validation for inputs and serialization optimization for outputs (fast-json-stringify). C

[2019-01-03 13:32] PacoDu commented on #23
Well it's true that I've mixed two subjects here (serialization / validation) ^^

For the validation: my usage of AJV is pretty straightforward, this is a simple example (independent of fastify):

[code]

For the serialization after a quick lookup I've found some libraries on NPM for graphql to json-schema convertion.

https://github.com/jakubfiala/graphql-json-schema Which seems to be the first l

[2019-01-04 13:02] mcollina commented on #23
I think https://github.com/wittydeveloper/graphql-to-json-schema could be a good starting point or as an inspiration.

I don't think the following is part of the JSON Schema spec:

[code]

Some care would need to be taken for nested resolvers.

Would you like to send a PR?

[2019-01-04 20:42] PacoDu commented on #23
Yes of course, I will take a look and try to implement that, I'll send a PR when I have something interesting !

[2019-01-06 19:03] PacoDu opened #25 "type Query and Mutation are inconsistent"
When bootstrapping `fastify-gql` without a schema in order to add schemas with `extendSchema`, the declaration of type Query makes the usage of GQL inconsistent as you have to extend Query but not Mutation. I understand that declaring `type Mutation` in fastify-gql would force the user to declare a mutation to make a valid schema. But why chose query other mutation ?

Either both shouldn't be decl

[2019-01-06 19:39] PacoDu commented on #25
Ok, after trying to implement a PR to make a proposition about this, I discovered that Query is required by GraphQL that's why you chose to define Query. So maybe just add a definieMutation option ?

This would allow consistent usage of extend in plugins that add extend the definitions.

[2019-01-07 14:42] #25 closed

[2019-01-13 10:11] bhamon commented on #23
The graphql-jit module can compute the graphQL -> JSON mapping to build a fast per-query response serializer if the `compilerOptions.customJSONSerializer` option is set to `true`.
@mcollina Can you add an option property to your plugin to control those compiler options? Also, when using this option, the fastify response schema should be disabled to avoid double serialization.

Regarding input vali

[2019-01-17 11:40] bebraw opened #29 "Support Fastify 2"
Do you have plans to support Fastify 2?

[2019-02-08 14:07] PacoDu commented on #23
Sorry but I couldn't find some time to investigate this issue for now, maybe in some months.

[2019-02-12 18:54] Tarang11 opened #33 "Using request in resolver"
Is there any way to use request inside resolver.

[2019-02-12 18:57] mcollina commented on #33
request as in the npm module? what’s stopping you from using it?

[2019-02-12 19:03] PacoDu commented on #33
I think @Tarang11 is referring to the fastify Request object that is not bound to the resolver context (only app and res are shared to the resolver context). I also faced this issue while developing this fastify-gql

[2019-02-12 19:58] mcollina commented on #33
Can you send a PR? Or at least make a full example?

[2019-02-13 05:05] Tarang11 commented on #33
fastify request object

[2019-02-13 08:37] mcollina commented on #33
Can you make a full example? I think this is _already_ supported.

I think you can do `context.reply.request` to access the request. Unfortunately that field is not documented in fastify itself (https://github.com/fastify/fastify/blob/356cf6f078a9f93b009ddb6384deaffe549d1032/lib/reply.js#L61).

[2019-02-13 09:46] Tarang11 commented on #33
Thanks, this solved the problem, but without documentation this is bit cryptic.

[2019-02-13 10:00] mcollina commented on #33
@Tarang11 would you like to send a PR and maybe add a unit test as well?

[2019-02-15 04:55] Tarang11 commented on #33
PR for documentation?

[2019-02-15 07:04] mcollina commented on #33
Yes

[2019-02-15 08:54] Tarang11 commented on #33
sure

[2019-02-25 22:53] bompus commented on #29
I think this can be closed now :)

[2019-02-25 22:56] #29 closed

[2019-02-27 02:12] bompus opened #38 "Proposal: fastify.graphql.setSchema() function"
I would like to propose fastify.graphql.setSchema() , something like:

[code]

My use case is an admin dashboard that allows adding/updating/deleting fields from types, as well as adding/deleting types.

I believe this function would allow me to make a change in my admin dashboard, call setSchema(), and then without re-starting the app, my graphql route would be utilizing the new schema.

I'd be w

[2019-02-27 15:28] mcollina commented on #38
I'm not really understanding how that plugin would be supposed to work. Specifically:

1. where would you store the schema
2. what will be your resolvers, as currently those needs to be defined in code

The general approach in Fastify is "build once and then reuse", as making things updatable at runtime is going to add complexity and slow things down.

[2019-02-27 15:34] bompus commented on #38
In my case, the schema would be generated based on a MongoDB schema, and on app startup, would generate the graphql schema.

The resolvers would also be generated on app startup based on this.

It's an odd idea, but I think it would be very powerful if it works as I have it envisioned.

This is part of the discussion in regards to if it fits in well with the fastify-gql plugin and ecosystem. If yo

[2019-02-27 19:49] mcollina commented on #38
I would recommend against it. Putting applicaiton logic in a database is an anti-pattern, and it will make it hard to migrate it between various environment. You are going to end up in trouble because the resolvers will likely require indexes in the databases and similar features. In other terms, making this work effectively requires _a lot_ of work on the side.

It probably better that you live w

[2019-03-13 02:28] blacksmoke26 opened #40 "validationRules ??"
I want to use [graphql-cost-analysis](https://github.com/pa-bru/graphql-cost-analysis), So my question is how can I use that one because it requires `validationRules` property.

Any clue?

[2019-03-13 03:10] blacksmoke26 commented on #40
`validationRules` something like:
https://github.com/graphql/express-graphql/blob/master/src/index.js#L254

[2019-03-13 05:13] mcollina commented on #40
Would you like to send a PR?

[2019-03-13 06:43] blacksmoke26 commented on #40
Yeah for sure. I have solved that myself, I think it's time to create a Pull Request.

Thanks

[2019-04-20 10:26] #38 closed

[2019-05-04 13:40] firasdib opened #47 "Enrich context"
Is it possible to enrich the context thats being sent to the resolvers?

Perhaps through a function that you supply when creating the instance, something like this:

[code]

[2019-05-05 20:22] SkeLLLa opened #48 "Add typescript typings"
In order to use this package with typescript it requires proper typings.

I've made some progress, however I've find out that for now it's not possible. That's because now in fastify typings plugin `RegisterOptions` extend `RouteShorthandOptions` for some reason not known to me. `RouteShorthandOptions` however contains `schema` field that has type `RouteSchema` that's obviously incompatible with t

[2019-05-06 05:41] Ethan-Arrowood commented on #48
Yeah the current typings are very limited. I'd be happy to help out with making this work with v3 types. Let me know if you have any questions!

[2019-05-13 13:47] mcollina commented on #47
This is already supported via the reply decorators.
Essentially the context already include the `reply` object, and so adding any decorator there will be populated.

If you are thinking about something else, feel free to raise a PR - it's a valuable feature.

[2019-05-15 11:44] SkeLLLa opened #52 "Add graphql playground alongside with graphiql"
Hi. There's graphql playground that does pretty much the same things that graphiql does. However it has more features. Here's demo page: https://www.graphqlbin.com/v2/6RQ6TM

It has standalone package https://www.npmjs.com/package/graphql-playground-html that contains several html files https://github.com/prisma/graphql-playground/tree/master/packages/graphql-playground-html that could be used jus

[2019-05-15 12:02] mcollina commented on #52
That'd be amazing, yes. I'd prefer if we didn't increase the size of this module, and maybe load the playground via unpkg, is that possible?

[2019-05-15 12:06] SkeLLLa commented on #52
@mcollina it's only one html file that loads all other stuff from CDN. We could copy only this file https://github.com/prisma/graphql-playground/blob/master/packages/graphql-playground-html/withAnimation.html and that's all.

[2019-05-15 12:30] mcollina commented on #52
+1, ok

Il giorno mer 15 mag 2019 alle ore 14:06 Alexander Kureniov <
notifications@github.com> ha scritto:

[2019-05-15 13:05] SkeLLLa commented on #52
@mcollina what route name do you suggest for that playground?

[2019-05-15 13:31] mcollina commented on #52
/playground?

[2019-05-21 21:36] wtrocki opened #56 "Making fastify-gql even faster"
# Introduction

Kudos for creating an amazing library.
I have played with it and noticed that there is another problem when dealing with GraphQL on the resolver side. GraphQL-js by default has this feature to execute query and pick what user wanted from the whole object returned from root resolver (and relationship resolvers as well)

https://github.com/graphql/graphql-js/blob/master/src/execution

[2019-05-22 17:01] #52 closed

[2019-05-24 14:36] mcollina commented on #56
This is an amazing technique! How would you integrate this in this repo?

[2019-05-24 15:09] wtrocki commented on #56
What will make sense is to have some flag in config same as `loaders` flag:

`enableRootOnlyQueries` - if true will provide helper method that

Provide helper method mounted to context:

[code]

This needs to be generic. I have done this for specific libraries before like knex so I think the key here will be to define an interface that will help people to query their own data. This method can retu

[2019-05-24 15:24] mcollina commented on #56
I love this. Would you like to send a PR?

[2019-05-24 15:25] wtrocki commented on #56
Another idea is to have `format` method that will structure query data to return results as they will come from nested resolvers.

[2019-05-24 15:27] wtrocki commented on #56
Hell yeah!
What format will be more promising?
Would it be possible to add new example as well:
https://github.com/mcollina/fastify-gql/tree/master/examples

[2019-05-24 15:27] mcollina commented on #56
Up to you, I don't have a preference right now.

[2019-05-24 15:30] wtrocki commented on #56
Perfect. I will experiment a little bit with different dialects first to check how to make this generic. With knex as target this was actually quite simple.
Leave that with me.

[2019-05-27 05:43] naseemali925 opened #60 "How To Add preHandler For /graphql and /graphiql"
I have been trying to protect the following route
/graphql
/graphiql

How can this be done?

[2019-05-27 07:50] mcollina commented on #60
You'd need to add a fastify hook to validate your credentials.
I would use the `'preParsing'` hook. https://www.fastify.io/docs/latest/Hooks/

Check out https://github.com/fastify/fastify-jwt

[2019-05-27 07:50] #60 closed

[2019-05-27 09:21] naseemali925 commented on #60
Thanks, @mcollina I Will Try. I Guess the preParsing Would Be Executed For Each Route That's There In The App. I am actually looking for a hook that executes only when a certain route is requested. For example
/api/v1/users

With the preParsing Hook i cannot limit it to only part of the url "/api/v1"
Any advice would be a great help.
Thanks,

[2019-05-27 09:26] mcollina commented on #60
You should just wrap your `/api/v1` in a plugin together with fastify-gql, and add the hooks there.

[2019-05-27 09:51] naseemali925 commented on #60
Thanks for the help @mcollina I will try.

[2019-05-27 10:24] naseemali925 commented on #60
@mcollina Wrapping It Inside The Plugin Did The Trick. Thanks For All The Help.

[2019-08-02 15:51] john-behan commented on #33
@mcollina can this be closed now?

[2019-08-02 16:04] #33 closed

[2019-08-02 16:04] mcollina commented on #33
Yes!!

[2019-08-06 12:07] mthota15 opened #65 "Authentication and Authorization Example"
Any Example on how to leverage fastify-jwt plugin with fastify-gql for authentication and Authorization example?

[2019-08-08 12:19] blacksmoke26 opened #66 "File upload?"
Can anyone provide an example of how to upload file via GraphQL?

[2019-08-08 13:23] mcollina commented on #66
I don't think uploading files over GraphQL is sensible. Use https://github.com/fastify/fastify-multipart instead.

[2019-08-08 13:23] #66 closed

[2019-08-08 13:55] thiagokroger commented on #65
Here's an example using fastify-jwt and fastify-auth

`
const fastify = require("fastify")();

const users = [
  { id: 1, name: "matteo", email: "matteo@email.com", password: "12345" },
  { id: 2, name: "thiago", email: "thiago@email.com", password: "123456" }
];

const getToken = (email, password) => {
  const user = users.find(u => u.email === email && u.password === password);
  return user ? f

[2019-08-08 17:11] Eomm commented on #65
I have started a basic example that fit your needs for authentication in the example repo.

It would be great if you would like to work together to complete that example 👍

[2019-08-19 13:24] mcollina opened #67 "Subcription support"
It would be good to have some level of _optional_ subscription support on top of fastify-gql, maybe using https://github.com/fastify/fastify-websocket.

https://github.com/graphql/graphql-spec/blob/master/rfcs/Subscriptions.md is the definition of subscriptions.

For the pub/sub layer, I'd recommend using https://github.com/mcollina/mqemitter as it has 2 backend implementations (one with Redis and

[2019-08-20 15:32] john-behan opened #68 "Depth limit for Fastify-GQL"
This plugin for express-graphql and koa-graphql address the issue of depth limiting graphql queries - https://github.com/stems/graphql-depth-limit to help with the problem of depth limiting

The rationale is explained in the readme - https://github.com/stems/graphql-depth-limit#why

This is probably only really an issue for public APIs but perhaps we could implement a fastify-gql version of this p

[2019-08-20 15:42] mcollina commented on #68
I would prefer if this got added to to fastify-gql as a first-class concept.

[2019-08-21 12:02] john-behan commented on #68
I've started looking more closely. I propose this as an approach -

On the fastify-gql options object we enable a `depthLimit` property, the value will represent the limit on recursive queries. There is an issue with this though - what if we want to allow different limits for different queries? Perhaps the value of the `depthLimit` option could then be something like `{ queryName: queryDepthLimit,

[2019-08-21 13:52] mcollina commented on #68
I see this as a settings that should be applied to the whole `graphql`  plugin.
I'll add the depth validation logic after this line: https://github.com/mcollina/fastify-gql/blob/bb9eb706648135637e442239bcc71492da46b13d/index.js#L222.

[2019-08-21 16:14] john-behan commented on #68
I'll put something together in a branch

[2019-08-25 07:31] wtrocki commented on #67
Linked to spectrum:
https://spectrum.chat/apollo/subscriptions/how-to-setup-apollo-server-fastify-to-have-subscriptions-working~631caa9c-e193-4ecb-ae62-edfb1158c22b

[2019-09-03 00:30] chaitanya-apty opened #73 "Query Running Multiple Times (Bug ?)"
Hello @mcollina
I have configured graphql by :
  // a function
    authHook(instance);
    instance.register(require('fastify-gql'), graphQlOptions);
    done();
 //

**My GraphlQlSchema**
const RootQuery = new GraphQLObjectType({
    name: 'EmployeeLocation',
     fields: {
        employee: {
             type: EmployeeType,
             args: {
                id: { type: GraphQLID }

[2019-09-03 00:40] chaitanya-apty commented on #73
instance.addHook('onRequest', async (req: Request, reply: Response, done: (err?: Error) => void) => {
        if (await 1) {
            return;
        }
        done()
    });

 **Calling done in async function is causing this Issue**
I have removed it and Issue is fixed

[2019-09-03 00:40] #73 closed

[2019-10-28 16:04] #67 closed

[2019-10-28 16:04] mcollina commented on #67
Implemented in #78

[2019-10-28 17:12] mcollina opened #81 "Add examples for using subscriptions"
With:

* [ ] redis https://github.com/mcollina/mqemitter-redis
* [ ] mongodb https://github.com/mcollina/mqemitter-mongodb
* [ ] cluster/multiple process on the same machine https://github.com/mcollina/mqemitter-child-process

[2019-10-29 05:44] #68 closed

[2019-10-31 13:39] StrongerMyself opened #82 "Error path static. Please check, there should be a step up one level."
https://github.com/mcollina/fastify-gql/blob/65e25ab638b97fa354993e1d1b35caa320af9aba/lib/routes.js#L196

[2019-10-31 13:40] StrongerMyself commented on #82
`root: join(__dirname, '../static'),`

[2019-10-31 13:44] mcollina commented on #82
Can you send a PR?

Il giorno gio 31 ott 2019 alle 14:40 StrongerMyself <
notifications@github.com> ha scritto:

[2019-11-01 04:37] StrongerMyself commented on #82
https://github.com/mcollina/fastify-gql/pull/83

[2019-11-01 09:21] mcollina opened #84 "Add tests for graphiql fastify-static config"

[2019-11-01 09:25] #82 closed

[2019-11-01 09:25] mcollina commented on #82
Thanks! Released as 2.0.1

[2019-11-12 15:17] proti opened #85 "Increase test coverage to 100%"

[2019-11-22 11:58] #85 closed

[2019-11-22 17:23] GimignanoF opened #88 "Caching query results?"
I'm using the fastify-caching npm package to cache requests, however large queries still takes 300ms to return to client, where the same query with express and memory-cache package take around 60 after being cached. So how can i efficiently cache the query results with fastify? :)

[2019-11-22 18:01] mcollina commented on #88
This module does not set any caching headers, so fastify-caching behavior does not kick in.
I'm not really convinced that using HTTP caching with GraphQL is a good idea overall, and I've never investigated it.

Anyway, would you like to send a PR to add an option to set the right caching headers for GET requests? Thanks

[2019-11-25 08:17] GimignanoF commented on #88
Why that wouldn't be a good idea? Maybe persisted queries would be the way to go? Anyway I'll see if i can do a PR any time soon ;)

[2019-11-25 08:44] mcollina commented on #88
Because each resolver could potentially need different caching strategy.
Il 25 nov 2019, 09:17 +0100, Jimi <notifications@github.com>, ha scritto:

[2019-11-25 23:54] thesrs02 opened #89 "Graphiql page isn't rendering"
Just installed Fastify GQL and I can't seem to render the Graphiql interface / page on localhost.

- Tried setting routes to true / false
- Tried the example -- didn't work

**Index.js**
![image](https://user-images.githubusercontent.com/37621213/69588014-27ff1500-1009-11ea-9383-bbb066905448.png)

**Browser:**
![image](https://user-images.githubusercontent.com/37621213/69588050-4402b680-1009-11ea-

[2019-11-27 09:31] mcollina commented on #89
GraphiQL is available at GET /graphiql (or GET /graphql)

You do not need to use `app.graphql`, you can just send your GraphQL queries to `/graphql`.

[2019-11-27 09:31] #89 closed

[2019-11-27 10:17] thesrs02 commented on #89
Didn't work - getting a different error message now.

Route: http://localhost:3000/graphql
Response: 404 - {"errors":[{"message":"Must provide Source. Received: undefined"}]}
Node V: v12.13.0

[2019-11-27 14:55] mcollina commented on #89
Run https://github.com/mcollina/fastify-gql/blob/master/examples/basic.js

and go to /graphiql

[2019-11-30 12:10] thesrs02 opened #90 "GQL Mutation - Receiving unexpected "[Object: null prototype]""
Sending payload in Mutation also returns this "[Object: null prototype]" as a reference key for the actual payload - seems to be a bug.

**Error**:
![image](https://user-images.githubusercontent.com/37621213/69900140-cab0ee00-1391-11ea-8575-e042d4fe915b.png)

**Workaround:**
`JSON.parse(JSON.stringify(payload))`

**Reproduce**:
server.js config for GQL Fastify
[code]

**Resolver**
[code]

**TypeDe

[2019-11-30 12:23] mcollina commented on #90
It would be good to get a full example to reproduce.
Moreover, if you'd like to send a PR with a fix, It would be fantastic.

[2019-11-30 17:28] thesrs02 commented on #90
Okay so the prototype is not related to GraphQL or Fastify-GraphQL. It comes from Node and I don't think they're changing it anytime soon. Ref: https://github.com/nodejs/node/issues/30183

After spending 2+ hours, I've found and tested that it just adds verbosity and doesn't actually cause any harm.

Fastify:
![image](https://user-images.githubusercontent.com/37621213/69903825-a15b8680-13c0-11ea-8

[2019-11-30 17:28] #90 closed

[2019-11-30 21:48] #48 closed

[2019-12-13 09:32] feugy opened #92 "graphiql & graphql-playground accessible simultaneously"
Hi there!

This is a very minor issue, but I've been puzzled as you can access both `graphiql.html` and `playground.html` as soon as you define `graphiql` configuration key (as long as it is not falsy).

The reason is because the two files are served from the static folder:
https://github.com/mcollina/fastify-gql/blob/ca23bb6c22d88b021a4b4503cfae321895e5dc8d/lib/routes.js#L190-L205

So when `graph

[2019-12-13 14:59] mcollina commented on #92
Thanks!

[2019-12-26 17:47] deklanw opened #95 "Poor latency?"
Just based on the benchmarks here,

https://github.com/the-benchmarker/graphql-benchmarks/blob/develop/latency.md

I noticed that both frameworks using Fastify have high latency, especially fastify-gql. Is there some bias in the benchmark? Or, is this a limitation of fastify-gql?

Thanks

[2019-12-26 18:23] mcollina commented on #95
I’m not entirely sure what’s happening. It would be interesting to debug and verify where we are losing latency.

I would recommend the benchmark methodology to pre-heat all the JS implementation, as it takes some time for V8 to optimize.

I would also recommend to use the data loader pattern for finds and enable the jit option in fastify-gql.

[2019-12-26 19:22] deklanw commented on #95
The test appears to run for 20 seconds. Is that not sufficient?

None of the other implementations use a dataloader pattern. I'm not sure if that would be a fair comparison.

Would setting the `jit` option to something like `1` or `2` suffice?

[2019-12-26 20:15] mcollina commented on #95
Run it twice, and take the second set of measurements. In my tests, 40 seconds provide more stable results.

yes, that’d be ok.

[2020-01-02 19:38] SkeLLLa commented on #95
Probably that "latency" stuff somehow related to this lines of code in benchmark: https://github.com/the-benchmarker/graphql-benchmarks/blob/develop/frameworks/fastify-gql/app.js#L72.

I don't know what's there latency shows, but here some of my results with k6:

[2020-01-02 23:04] mcollina commented on #95
It seems totally ok from your diagram.

[2020-01-03 16:36] deklanw commented on #95
@SkeLLLa

I was actually wondering if there were alternative benchmarks of fastify-gql I could look at. (Is there any more?) Thank you. That's interesting. What kind of data is going through there?

I notice `http_req_duration` max for JIT and non-JIT respectively: `1.01s` `807.95ms`. Everything else seems faster for JIT. The max and 95th percentile seem extremely disparate. Is this some database

[2020-01-03 16:47] SkeLLLa commented on #95
@deklanw That "max" duration is caused because data is fetched from 3rd-party server. And it cause this "max" value. Later those values are cached for some time and we see performance of fastify-gql.

Data is ~1Kb with nested arrays and objects + couple data loaders.

As for other frameworks benchmarks - I just have my server and run benchmarks on it. And it's written using fastify-gql.

[2020-01-06 19:36] mcollina opened #97 "Support federation protocol"
In https://www.apollographql.com/docs/apollo-server/federation/federation-spec/, the Apollo fedaration protocol is defined. We should support the federation protocol so that fastify-gql services can be exposed by the federation server.

[2020-01-06 21:39] dougg0k opened #98 "Error: plugin must be a function or a promise"
Hello, I'm trying fastify-gql but I have been getting this issue when I try to register GQL. It happens with or without the options and with or without other fastify plugins.

Every dependency is up-to-date.

[code]

[code]
`"start": "cross-env NODE_ENV=development nodemon --exec ts-node src/index.ts",`

I also tried importing with require using `const GQL = require('fastify-gql');` and when I try

[2020-01-06 22:17] mcollina commented on #98
The use of require is correct. named exports are not supported by this package.

How are you accessing /graphql? You must pass in a graphql query.

[2020-01-06 22:31] dougg0k commented on #98
Oh sorry, that was me not reading the docs properly, and going by a common occurance in other libraries of `/graphql` also being the playground.

[2020-01-06 22:31] #98 closed

[2020-01-07 14:23] berkaycimsir opened #99 "Typescript support ?"
Is there any support for typescript in fastify-gql?

[2020-01-07 14:24] mcollina commented on #99
fastify-gql include its own types.

[2020-01-07 14:24] #99 closed

[2020-01-07 15:05] PacoDu commented on #97
Do you intent to implement the gateway server or only to make fastify-gql compatible with the federation protocol ?

Note that, for now, federation is incompatible with subscriptions (Probably due to apollo gateway implementation). Because of this limitation I've not personally tested the federation yet.

I don't know why exactly, nor if we have a way to make it work but it would definitively be a

[2020-01-07 15:27] mcollina commented on #97
Step 1 is to be able to deploy fastify-gql behind the apollo gateway.
Step 2 is to build a `fastify-gql-gateway`.

[2020-01-08 22:44] deklanw commented on #95
Got PR merged with `jit` enabled over on the benchmark. Rate and latency improved. And, anyway, I was misreading those rates as being in seconds not milliseconds. Silly! Comparing subms benchmarks is of course silly

Thanks for the help

[2020-01-08 22:44] #95 closed

[2020-01-09 11:27] iviaks opened #100 "Proposal: Graphql Schema replacement"
Hey, everyone
Does `fastify-gql` have method for replacing existing graphql schema with another one?

I'm using a microservice architecture with graphql and in some cases, I need to setup schema's autorefresh. (I'm using simple recursive setTimeout)

Example of code for Apollo-Server

[code]

Could I somehow replace the existing graphql schema with a new one?

# Implementation

[code]

[2020-01-09 15:36] #100 closed

[2020-01-10 10:02] iviaks opened #103 "Graphql URI"
Hey, everyone
Could I somehow provide graphql URI?

For example, I need to set up service on `/` endpoint instead of `/graphql`.

I had next code for `apollo-server-hapi` library
[code]

I guess it can be a little bit simpler (for example, parameter `path` in the constructor).

[2020-01-10 11:48] #103 closed

[2020-01-14 12:49] feugy opened #105 "queryDepth being too strict"
Hello!
It seems the calculation for query depth is not considering only the depth of a query, but also hoy many fields it returns.
Here is a real example:
[code]

The maximum depth seems to be 3: fieldForecast > temperature > today
But when running the query in playground, I am receiving:
![image](https://user-images.githubusercontent.com/186268/72345638-90e33f00-36d4-11ea-9fd9-0d6ab5dd95a2.png)

[2020-01-14 14:43] iviaks opened #106 "Incorrect Graphql Error processing"
The current implementation of processing Graphql Errors is not compatible with [Graphql Specification](http://spec.graphql.org/June2018/#sec-Errors).

From https://github.com/rmosolgo/graphql-ruby/issues/1130#issuecomment-347373937

Current implementation includes next validation for 200 status code

[code]

Also, I noticed, that `data` can't be null.

[2020-01-14 15:04] mcollina commented on #106
Thanks for noticing this! Would you mind to send a PR to fix it?

[2020-01-14 15:09] iviaks commented on #106
@mcollina I'm doing it! :)

[2020-01-14 15:29] mihaur opened #108 "Support for Content-Type: application/graphql"
Add support for [application/graphql](https://graphql.org/learn/serving-over-http/#post-request) Content-Type.

express-graphql already supports it, while appolo-server does not.

It is true, that GQL variables can not be passed as part of the query, but it becomes much easier to use in command line, automated tests and [benchmarks](https://github.com/the-benchmarker/graphql-benchmarks).

[2020-01-14 15:33] mcollina commented on #108
Would you like to send a PR to add support for it?

[2020-01-15 18:43] guigaoliveira opened #110 "Support for Automatic Persisted Queries"
Some support for this feature would be interesting, which helps to improve network performance. But I don't know if there is any standardization to implement this.

About persisted queries:  "A persisted query is an ID or hash that can be sent to the server instead of the entire GraphQL query string. This smaller signature reduces bandwidth utilization and speeds up client loading times. Persisted

[2020-01-15 22:41] mcollina commented on #110
This would be handy! What the developer workflow look like?

[2020-01-16 18:19] #108 closed

[2020-01-17 08:36] #106 closed

[2020-01-25 09:38] greenkeeper[bot] opened #111 "An in-range update of autocannon is breaking the build 🚨"
## The devDependency [autocannon](https://github.com/mcollina/autocannon) was updated from `4.5.0` to `4.5.1`.

🚨 [View failing branch](https://github.com/mcollina/fastify-gql/compare/master...mcollina:greenkeeper%2Fautocannon-4.5.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

autocannon is a devDependency of this pro

[2020-01-26 18:16] #111 closed

[2020-02-06 19:38] #92 closed

[2020-02-06 20:35] greenkeeper[bot] opened #115 "An in-range update of fastify is breaking the build 🚨"
## The devDependency [fastify](https://github.com/fastify/fastify) was updated from `2.11.0` to `2.12.0`.

🚨 [View failing branch](https://github.com/mcollina/fastify-gql/compare/master...mcollina:greenkeeper%2Ffastify-2.12.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

fastify is a devDependency of this project. It *

[2020-02-10 18:38] greenkeeper[bot] opened #117 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.19.0` to `2.19.1`.

🚨 [View failing branch](https://github.com/mcollina/fastify-gql/compare/master...mcollina:greenkeeper%2F%40typescript-eslint%2Fparser-2.19.1).

This version is **covered** by your **current version range** and after updating it in your project **the build

[2020-02-10 18:40] greenkeeper[bot] opened #118 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.19.0` to `2.19.1`.

🚨 [View failing branch](https://github.com/mcollina/fastify-gql/compare/master...mcollina:greenkeeper%2F%40typescript-eslint%2Feslint-plugin-2.19.1).

This version is **covered** by your **current version range** and after updating it in your proje

[2020-02-10 19:05] Weakky commented on #89
Since 3.0.3, it seems like `graphiql: true` doesn't work anymore, and so does the examples. Instead, `ide: 'graphiql'` seems to do the job.

[2020-02-11 10:28] #105 closed

[2020-02-11 10:30] leorossi commented on #84
This one should be related to #114 and #119

[2020-02-11 12:28] #115 closed

[2020-02-11 12:28] #117 closed

[2020-02-11 12:28] #118 closed

[2020-02-11 12:28] #84 closed

[2020-02-12 12:06] wale-A opened #121 "Unable to find 'main.js' on '/graphiql' page"
After setting up fastify-gql, i get a 404 error relating to the main.js file whenever i go to the '/graphiql' endpoint.

here's my setup

[code]

and here's how i registered it on fastify
[code]

[2020-02-12 15:49] #121 closed

[2020-02-13 10:49] wale-A opened #123 "Using a sub-property"
In graphQL, it is possible to go create an object like this
[code]

now with fastify-gql, i'm also trying to do something like that, i know the data types are different, but i don't know how to add a resolver to the dependent property
[code]
i've tried doing something like the above (i didn't think it'd work but i wanted to try it)..it didn't.

my issue now is, how do i go about creating a resolve

[2020-02-13 11:54] mcollina commented on #123
please upload a full example

[2020-02-13 11:56] wale-A commented on #123
`
import { Adhesive, Thickness } from './dbSchema'
import { BaseRepo } from '../repo/repoBase'
import { ShapeRepo } from '../repo/shapeRepo'

export const schema = `
  type Thickness {
    code: String,
    name: String
  }

  type Adhesive {
    code: String,
    name: String
  }

  type ShapeLevelThickness {
    adhesive: Adhesive,
    thickness: [String]
  }

  type Shape {
    code: String,

[2020-02-13 14:28] mcollina commented on #123
This should do the trick, however that is hard to know because I cannot run that:

[code]

[2020-02-13 14:50] wale-A commented on #123
yh, sorry about that. i'm not sure you understand what i'm trying to do.

i'm trying to create a resolver for the 'adhesives' property....so i can just get the full values of the adhesives from the db.

like in the image below

![image](https://user-images.githubusercontent.com/10295167/74446715-97eaa200-4e78-11ea-9beb-b85e547ba30f.png)

[2020-02-13 15:15] mcollina commented on #123
This should do what you need: https://github.com/mcollina/fastify-gql/blob/master/test/query-depth.js#L8-L87.

[2020-02-13 15:19] wale-A commented on #123
I honestly apologize for the stress.
I just looked through the fastify-gql package and what i wanted is what you referred to as *loaders*.

i was able to solve my own problem

![image](https://user-images.githubusercontent.com/10295167/74449271-a33fcc80-4e7c-11ea-8ab0-1c449854857b.png)

[2020-02-13 15:30] mcollina commented on #123
I would recommend to avoid the queries.map and define a single database operation to get them all. Otherwise loaders would be useless.

[2020-02-13 15:30] #123 closed

[2020-02-15 03:40] LILU-WEB opened #124 "Got 500 error: Unexpected end of JSON input"
Hi
I use throw new Error("XXXX"), however looks like i got a 500 error for first requst everytime when program start,  but the next requst is OK (i got 200 reponse for next time, the same request, the same error message without 500 error, shows username or password is wrong)
the error message shows something wrong from index.js:299:19... guys any idea for this?

I'm a newbie, please suggestions, t

[2020-02-15 07:03] mcollina commented on #124
I don’t understand what is the question. Would you mind to upload a full runnable example to reproduce your problem?

It seems the problem is in your resolver.

[2020-02-15 08:20] LILU-WEB commented on #124
Thank you so much for reply.

I did some research, looks its the problem in resolver. I use the lastest type-graphql.. i found code "throw new error" in resolver doesnt trigger setErrorHandler in fasitfy-gql except the first visit. The first hello query is 500 error due to something wrong, show "Unexpected end of JSON" and if i try to hello query again, it works and respond 200.  It makes me so co

[2020-02-15 08:21] mcollina commented on #124
As I said, I would need a *full runnable example to reproduce your problem* in JavaScript. Something similar to https://github.com/mcollina/fastify-gql/blob/master/examples/basic.js.

[2020-02-15 08:45] LILU-WEB commented on #124
Here you are.. please remember to reStart or reRun program before try query hello
https://github.com/LILU-WEB/askforhelp/blob/master/index.ts

[2020-02-15 09:04] mcollina commented on #124
Can you please add the required dependencies and a command to run the typescript file. Thanks.

[2020-02-15 09:36] LILU-WEB commented on #124
Hi
i use yarn...  run command: yarn start, i upload package.json and others files, project structor:
-------------------
src/index.ts
package.json
tsconfig.json
tslint.json
----------------------
package.json
https://github.com/LILU-WEB/askforhelp/blob/master/package.json
tsconfig.json
https://github.com/LILU-WEB/askforhelp/blob/master/tsconfig.json
tslint.json
https://github.com/LILU-WEB/askforhe

[2020-02-15 15:04] #124 closed

[2020-02-15 15:29] LILU-WEB commented on #124
opss~~ After couple of hours research, i found this is not fastify-gql issue at all, it‘s the problem in type-graphql error message.

For onlyone who have the same issue intergrity with type-graphql and wants customize error message by HTTP response status codes.

for example: my error message is  400: xxxxxxxxxxx

1. use type-graphql globalMiddleware
`globalMiddlewares: [errorMiddleware]`

2. gre

[2020-02-17 15:08] artecoop opened #125 "File Upload"
Hey, thanks for this great tool.

I'm having difficulties to integrate an upload service.
These are the packages installed:

[code]

and setup my server as:
[code]

But every time I try to upload i get this error
`Must provide Source. Received: undefined`
as if the server does not recognize the post with multipart/form-data.

Thanks for any help!

[2020-02-17 15:24] mcollina commented on #125
I'm not sure what you are trying to achieve. Can you please describe it a bit more and include an example of something that is not working as expected? Include a sample request, possibly with `got` or similar.

(schema is missing in your example).

[2020-02-17 15:34] artecoop commented on #125
Bella Matteo,
what I'm trying to achieve is file upload thru graphql.

This is the schema I use to define the upload.
Before all, import grapqhl-upload:
`import { GraphQLUpload } from 'graphql-upload';`

then

[code]

And then when needed:
[code]
In the resolvers, file is managed as standard file
 `const { filename, mimetype, createReadStream } = await file;`

I'm migrating from apollo-server and

[2020-02-17 15:39] mcollina commented on #125
I'm still not sure what you are trying to achieve. I'm probably missing some context regarding file uploads and graphql, as I always thought they were two very separate concepts (there is nothing special here to handle them).

Having an example including a sample request would be extremely helpful.

(I'm currently boarding a long haul flight, so I'll reply when I get a chance).

[2020-02-17 16:24] artecoop commented on #125
Ok I digged a little bit more and every POST with multipart/form-data to the endpoint returns 400.
I'll make some more test and then I'll try to create a codesandbox or minimal repo for you

Have a nice flight!

[2020-02-17 22:35] artecoop commented on #125
Hey @mcollina, I hope your trip was flawless.

here's a way to reproduce the problem:
add those dependencies to package.json

[code]

and then in a index.js:
[code]

If you try to post a file
[code]

You'll get
`Uncaught (in promise) Error: Network error: Response not successful: Received status code 400`

[2020-02-18 08:17] mcollina commented on #125
Your problem is that https://github.com/jaydenseric/graphql-upload/blob/master/readme.md does not support fastify.

[2020-02-18 08:56] artecoop commented on #125
Well, this sucks. I have to roll back to apollo-server because file upload is a core feature for my app.
But I can try to spare some time to make fastify-gql compatible with graphql-upload. Any hints will be appreciated.
You can close this issue if you think.

[2020-02-19 11:03] artecoop opened #126 "File upload plugin"
Hello again,
following #125 I'm trying to create a plugin to make possible to upload a file thru this amazing library, based on [GraphQL multipart request spec](https://github.com/jaydenseric/graphql-multipart-request-spec).

I'm using fastify-plugin and fastify-multipart. I have created this stub:

[code]
With this code, I'm able to see the body in the console, like this:
[code]

Now, the endpoin

[2020-02-20 01:27] mcollina commented on #126
You should be able to access that in your resolver as `context.reply.request.body`.

[2020-02-20 08:20] artecoop commented on #126
Ciao Matteo,
thanks for your reply.

The problem is the request never hit the resolver. the error
`Must provide Source. Received: undefined`
happens earlier in the fastify pipeline.

[2020-02-20 10:30] artecoop commented on #126
Well, I did it.
Thanks to the debugger and the ability to step upward during debug, I understood my mistakes.
Body was not compliant with `fastifyGraphQl` function in order to be parsed correctly.
I'll do some refinements now and then I'd love to share my work with you.
@mcollina Do you prefer that I send the code to you or I publish the plug in on my own?

[2020-02-20 10:34] bmullan91 commented on #126
@artecoop Nice one! Do you have a branch somewhere where I can look? I'm also digging into this issue :)

[2020-02-20 10:40] artecoop commented on #126
@bmullan working on it.
The code is now a bit of a mess, and for debugging purposes I've copied files from grapqhl-upload package that needs to be imported (as dependencies should work lmao)

[2020-02-20 13:04] bmullan commented on #126
Youu sent is to the wrong bmullan

The person you want is "bmullan91" not me "bmullan"

On Thu, Feb 20, 2020, 5:40 AM Art & Coop <notifications@github.com> wrote:

[2020-02-20 13:34] artecoop commented on #126
Yeah sorry for that!

[2020-02-20 14:27] bmullan91 commented on #126
@artecoop After a lot of head scratching and try and error... I got it working with this before registering the `fastify-gql` plugin:

[code]

Here's a codesandbox with the code https://codesandbox.io/s/fastify-gql-upload-eg-7gsz9 - note It fails to write the file on sandbox, not sure if that's possible on codesandbox.

When I moved the code into a separate plugin it no longer worked - not sure wh

[2020-02-20 14:35] artecoop commented on #126
@bmullan91 how could this work? graphql-upload's processRequest uses, for example, `request.once` and `response.once` that aren't available in fastify's request/response.

I'm prepping a repo with my code to share with all of you.

[2020-02-20 14:39] bmullan91 commented on #126
@artecoop Im passing the raw req, and resp via:

[code]

[2020-02-20 14:55] bmullan91 commented on #126
@artecoop I've pushed up that sandbox into an actual repo: https://github.com/bmullan91/fastify-gql-upload-eg

[2020-02-20 15:10] artecoop commented on #126
@bmullan91 this is beatiful. Please publish it as npm package. It's way better than my implementation that rewrite the body.

[2020-02-20 15:13] bmullan91 commented on #126
@artecoop Will do, once I figure out why fastify doesn't like it when I put it inside its own plugin 😅

[2020-02-20 15:20] artecoop commented on #126
@bmullan91 check this out:
https://github.com/kennyrulez/fastify-gql-plugin
this is my implementation, maybe will help you

[2020-02-20 15:50] bmullan91 commented on #126
@artecoop https://www.npmjs.com/package/fastify-gql-upload - still need to write tests etc, but this should unblock you 😄

[2020-02-20 16:02] artecoop commented on #126
Thank you, it works like a charm

[2020-02-21 21:43] ericlewis commented on #125
@mcollina seems resolved by #126

[2020-02-21 21:48] ericlewis commented on #97
I am highly interested in step 2! The work required for it could be greatly improved upon from how Apollo-server currently works.

[2020-02-21 21:50] ericlewis commented on #88
I would recommend this be closed, the reasoning for not implementing caching in this regard is similar to why you would cache an api that takes something like: `query=1,2,3,4` then `query=1,4`.

[2020-02-21 21:55] ericlewis commented on #110
@mcollina from my knowledge there isn't really a set-in-stone workflow around this- it differs wildly depending on server implementation and client implementation.

The primary idea behind it is that: at build time of the client application you "compile" or "hash" the given graphql query and then upload or store that hash somewhere else. Then, instead of sending up an entire query, the client will

[2020-02-22 02:13] mcollina commented on #88
Thanks!

[2020-02-22 02:13] #88 closed

[2020-02-22 14:35] mcollina commented on #110
What is the best way to set those from your point of view? A JSON file with the query/sha combination?

[2020-02-22 14:36] mcollina commented on #125
Closing then!

[2020-02-22 14:36] #125 closed

[2020-02-28 10:43] StevenVerbiest commented on #65
The example of @Eomm authenticates  a url endpoint in fastify. Is there a way to authenticate a resolver? Like in [type-graphql](https://github.com/MichalLytek/type-graphql/blob/master/docs/middlewares.md#how-to-use).

[2020-02-28 10:48] mcollina commented on #65
Not at this point, but it would be great to support something.

[2020-03-19 04:23] pranaypratyush opened #128 "Custom subscription module"
I need to subscribe to a nats server, so I was looking into integrating https://github.com/moonwalker/graphql-nats-subscriptions into fasrify-gql. Is that possible?

[2020-03-19 07:14] mcollina commented on #128
Unfortunately it's not. You'll have to write a new transport implementing http://npm.im/mqemitter.

[2020-03-25 18:04] mcollina commented on #97
Step 1 has shipped in v3.1.0

[2020-04-06 19:57] greenkeeper[bot] opened #133 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.26.0` to `2.27.0`.

🚨 [View failing branch](https://github

[2020-04-09 17:50] dougg0k commented on #65
@StevenVerbiest Maybe you are looking for something like this? https://github.com/kkemple/graphql-auth

Another way to authenticate is through schema fields, you can do so by using Schema Directives.

[2020-04-13 19:09] #133 closed

[2020-04-14 14:42] dougg0k opened #134 "Issue with Query Depth - Bad Request in Playground"
Hello!

If I try to set queryDepth, the /graphql endpoint no longer load in the Playground, I get an Bad Request error.

It's a infinite loading with repeated errors.
[code]

[2020-04-14 15:01] mcollina commented on #134
Are you passing any specific option to fastify-gql? Which version where you running before it stopped working?

[2020-04-14 15:07] mcollina commented on #134
Is `// queryDepth: 5` that is causing the error?

[2020-04-14 15:09] dougg0k commented on #134
Yes, only in the IDE, if I try to POST query outside IDE, it works.

[2020-04-14 15:15] frikille commented on #134
I think it is because the playground runs an introspection query when it starts up. And the introspection query fails the query depth validation and the query is rejected. However the playground keeps sending the same query until it gets a response, that's why it is an infinite loop.

[2020-04-14 16:03] #134 closed

[2020-04-17 14:20] orthimnas opened #138 "Support non-default path in Playground"
First, thanks for the great library - it is amazing.

I've noticed that when I use the `path` property when registering `fastifyGql` that the playground can no longer post successfully.  It appears that the route in the `Playground.html` is hard coded to `/graphql` - the default path.  Can this be updated to use the path specified when registering `fastifyGql`?

Example:
[code]

Hard coded endpoin

[2020-04-18 08:54] mcollina commented on #138
I think this might require some rework of how we serve the files, but it'd definitely be a good addition. Would you like to send a PR?

[2020-04-20 11:15] salmanm commented on #110
@ericlewis Generating a query+hash map at build time comes at the cost of maintaining a static file (or even a shares space like redis) and keeping it in sync between client and server. While it saves a little bit of processing at run-time, I think the overhead of keeping the client/server in sync isn't a good trade-off.

@mcollina @frikille
I like how the Apollo has kinda implemented a protocol f

[2020-04-20 16:31] frikille commented on #110
Thanks @salmanm  to picking this up!

After discussion with @mcollina we agreed that as a first version it would be better to have support for persistent queries via a JSON file (or it can be a function that loads the data from a remote location).

[2020-04-23 09:43] #128 closed

[2020-04-23 09:44] mcollina commented on #97
Step 2 has shipped in v3.2.0

[2020-04-23 09:44] #97 closed

[2020-04-23 21:10] RenatoFranze opened #141 "Load schema based upon request url parameter"
Hi,

First of all, thanks for this plugin and this is not a bug report or a sugestion, hehe!

Can anyone help me with this scenario:
I would like to make an universal route in fastify with an url parameter. Based upon this parameter, my route loads the specific graphql schema and only after that, exposes the graphql/graphqli interface. Is it possible?

Example:
- Route is localhost/a/:name/graphql

[2020-04-23 22:38] mcollina commented on #141
I don't think this is possible right now. However you could have a preHandler hook to return an early 404 in case it is disabled.

I don't understand the usecase anyway, so I would love to know more.

[2020-04-23 23:32] RenatoFranze commented on #141
Hi @mcollina , thanks for answering.

Basically, I have this:

- I work at a company that each costumer has his own mysql database.
- I'm using a library (graphcraft) that dinamically converts Sequelize models into Graphql schema.

So, the ideia behind an url parameter is to tell me which database should I connect using Sequelize,  and, with graphcraft, creates the right schema for Graphql works p

[2020-04-24 06:29] mcollina commented on #141
Unfortunately, I don't think this library would support you well. It assumes the schema does not change during the lifetime of a server.

I would also recommend to rethink some part of your architecture because what you propose would not perform well both for latency and scalability.

[2020-04-24 09:23] #138 closed

[2020-04-24 14:35] tHBp opened #142 "Consider adding graphql-tools as a dependency"
Typescript build fails if the project is using `fastify-gql` without `graphql-tools` [because of this line](https://github.com/mcollina/fastify-gql/blob/6ccf69519bc30effb467dab69551b34378860cb3/index.d.ts#L3).

A workaround is using `--skipLibCheck` with `tsc`, but it beats the purpose of using Typescript, in my opinion.

Requesting to add it as a dependency rather than devDependency or mark it as

[2020-04-24 14:38] mcollina commented on #142
We don't use graphql-tools internally, so I don't know why it is in the types. The right PR is to embed that type in here. Would you mind to send a PR to get that done?

[2020-05-01 05:10] yndc opened #143 "A method to throw Bad Request (400) errors by using `throw` inside resolvers"
I can't find a way to throw `Bad Request (400)` errors from resolvers to indicate that the error is caused by the client sending bad or invalid input data (I need a way to indicate whether the error is coming from a server issue or invalid input data). At the moment `throw`s inside resolvers will return `Internal Server Error (500)` errors.

Coming from Apollo, I could use their customized errors

[2020-05-01 06:39] mcollina commented on #143
You should be able to use all of https://www.npmjs.com/package/http-errors. Let us know if it worked well for you.

[2020-05-01 11:58] yndc commented on #143
I tried using that package but got the same result (`500 Internal Server Error`).

I found these lines that causes all errors to be thrown as `InternalServerError`.
https://github.com/mcollina/fastify-gql/blob/6ccf69519bc30effb467dab69551b34378860cb3/index.js#L363-L368

If I changed the hard-coded error instance creation to:
[code]

Throwing errors from resolvers using `http-errors` works really w

[2020-05-01 12:11] yndc commented on #143
I just found something interesting.

Seems like using `throw` inside resolvers with `fastify-gql` would stop the execution of the whole query.

In this example, I've made a simple schema:
[code]
In the resolvers, `throw1` query would throw `BadRequest` exception, while `throw2` query would throw `Forbidden` exception.

Here's the code using `graphql-js` library:

[code]

When run, both resolvers w

[2020-05-01 20:15] mcollina commented on #143
GraphQL does not follow the REST pattern, as far as I know.

[2020-05-02 03:40] yndc commented on #143
Yes that's right, I think the current implementation is more logical and my original intention isn't. `Internal Server Error` should be the response when the server is unable to return a value to a field that is not nullable. I'm closing this now, thanks!

[2020-05-02 03:40] #143 closed

[2020-05-02 10:02] yndc opened #144 "Support for extended errors in results"
Hello, it's me again 😁

In the [GraphQL's spec in errors result format](https://spec.graphql.org/June2018/#sec-Errors), GraphQL services may provide an additional entry to errors with key `extensions`.

Example:
[code]
Apollo supports this through their custom error, `ApolloError`. I think it'll be really useful for this library to have the same kind of method to provide additional information on

[2020-05-03 13:43] #144 closed

[2020-05-04 09:54] mcollina opened #146 "Split test/gateway/methods.js into multiple files"
Running that test takes about 20s in my machine. It would be great to split it across multiple files so they could be run in parallel.

[2020-05-04 21:58] bvanneerven opened #151 "Enable building context for subscriptions"
This issue looks like a duplicate of #47 (which is already implemented :tada: ), but differs because it requests adding a similar API to allow building the `SubscriptionContext` instead of the context for queries/mutations.

A possible way of doing this would be like:

[code]

The main use case for this, in my case, is creating the possibility to subscribe to user-specific content. That is, when a

[2020-05-05 07:45] #142 closed

[2020-05-05 07:47] #146 closed

[2020-05-05 18:49] mcollina commented on #151
It would be great to add support for this!

@frikille what do you think?

[2020-05-05 19:22] frikille commented on #151
I think it's a good idea and should be implemented (I looked into it earlier today if the `options.context` function is passed to the subscription, but no, it's not).

I think the main question is whether we want to add a separate context builder function or re-use the one that can be already set in the plugin options.

[2020-05-05 20:15] mcollina commented on #151
Would the API be different?

[2020-05-05 20:45] bvanneerven commented on #151
Very cool that you guys are willing to add this functionality! :smiley:. I went ahead and created a first prototype for this in #153.

[2020-05-06 08:15] nekuz0r opened #154 "[3.6.0] Cannot find 'Request'"
Hello,

After upgrading to 3.6.0 a typescript error popped-up.
Here's the output of the tsc command.

[code]

Looking to the index.d.ts file, no Request type seems to be imported or declared or aliased.

The issue was introduced by this pull request : https://github.com/mcollina/fastify-gql/pull/149

[2020-05-06 15:50] #154 closed

[2020-05-07 12:55] dougg0k commented on #65
Nevermind, `graphql-auth` doesn't seem to be compatible with `fastify-gql` at the moment.

[2020-05-07 16:31] dougg0k commented on #65
I actually built one myself, with the same idea.

[code]
[code]
[code]

[2020-05-10 08:58] yndc opened #158 "Error on federated queries with scalar return types"
I can't execute any federated queries with scalar return types such as `String` through the gateway service. I'm using `fastify-gql` gateway & services.

Reproduction:
1. Using the `gateway.js` example, insert a new query type inside `extend type Query { ...` block in `users` service with a scalar return type such as ``` hello: String!```
2. Add a simple resolver for that  ```hello: () => "world"`

[2020-05-10 09:51] mcollina commented on #158
Would you like to send a PR to fix this? Otherwise we'll get to it as soon as we can.

[2020-05-10 11:50] yndc commented on #158
Not at this time. I do not understand the gateway logic so I can't provide a fix for it 😅

[2020-05-10 13:12] mcollina commented on #158
Can you please include an example to reproduce your problem?

[2020-05-10 13:57] yndc commented on #158
Sure, here's a quick example:

[code]
Running the code above I got this result:
[code]

[2020-05-10 20:02] mcollina commented on #158
@frikille would you mind to take a look?

[2020-05-11 04:05] yndc commented on #158
I got it working by adding a check if the current field is a query in `defineResolvers`. Seems like queries that return scalars are processed as object fields before.

[code]
But I feel it's kind of too _hacky_.

[2020-05-11 09:28] #158 closed

[2020-05-13 18:25] tHBp commented on #142
My bad, didn't get a chance to raise a PR. Glad the issue got resolved.

[2020-05-13 18:32] tHBp opened #164 "Error extensions not available when query is jit'ed"
While using `ErrorWithProps`, the extensions is not available when query is not jit'ed.

This happens because `graphql-jit` [expects extensions property inside the originalError](https://github.com/zalando-incubator/graphql-jit/blob/d2048c8c37e43f04a1589f6eba5fa0c8935f7d09/src/error.ts#L18).

A simple fix would be to not have explicit `code` field in `ErrorWithProps` and rename `additionalProperti

[2020-05-14 07:51] #164 closed

[2020-05-15 08:53] PacoDu opened #166 "Subscription client authentication"
What is the recommended authentication flow for subscription ?
The documentation suggest:
[code]

But it's not possible to add custom headers to the websocket http request from a browser (see: https://stackoverflow.com/questions/4361173/http-headers-in-websockets-client-api/41521871 and https://github.com/apollographql/apollo-client/issues/3967). So basically it's not possible to authenticate an i

[2020-05-15 08:54] mcollina commented on #166
Good spot. Would you like to send a PR that add that support?

[2020-05-18 07:18] tHBp commented on #164
@mcollina Would you mind publishing the latest version to npm as well?

[2020-05-20 16:57] dougg0k opened #169 "Question/Request: errorHandler"
Hi,

Is there a way build a more specific errors array?

It seems that anything returned to `error` argument from `errorHandler` are very strict to the exact graphql specs which doesn't seem very useful in some cases, it returns pointless information that it's not necessary in the frontend.

A good example, `locations` and `path` has no use, only `message`, and I cannot get more details that would

[2020-05-20 17:23] mcollina commented on #169
I'm not really sure how that will be implemented here. Note that we are somewhat limited to what graphql-jit can do. Would you like to give it a go and send a PR?

[2020-05-20 17:35] dougg0k commented on #169
Hm, I understand. If I get the time, I will let you know.

[2020-05-25 15:01] asciidisco opened #171 "Error propagation/serialization when using Gateway mode"
## Situation

I've added a new resolver to the `lib/gateway.js` example, in addition to the `me` resolver
there's now also a `you` resolver that looks like this:

[code]

I've, of course, also extended the schema:

[code]

## Expectation

I've looked for a common pattern/specification on how a federated service should deal with these kind of errors,
which are being propagated from a federated serv

[2020-05-25 15:23] mcollina commented on #171
Thank you @asciidisco! Your analysis seems correct and the code sound, would you like to send a PR? Just one thing, could you add tests for this?

[2020-05-25 15:43] asciidisco commented on #171
@mcollina Thank you for the quick response, I should be able to add the missing test cases tomorrow & to open a PR.

Just a question, as I'm not able to find some contribution information:
how would you like to have the commits sliced, everything around this fix as one single commit or changes/additions to the example and/or tests as separate commits?

[2020-05-25 16:05] mcollina commented on #171
As many as you like, I will squash the PR into one commit when landing.

[2020-05-27 07:26] #171 closed

[2020-06-07 18:40] tHBp opened #179 "Feature Request: Tracing support"
Consider adding tracing support to enable checking runtime performance of queries and downstream API/Database calls.

Apollo supports the same [via a plugin](https://github.com/apollographql/apollo-server/tree/master/packages/apollo-tracing).

It can be either directly part of the core, or be implemented as a plugin. But for the latter, I guess we'd have to roll out a plugin architecture.

[2020-06-07 22:13] mcollina commented on #179
Would you like to work on this? I think it would be a nice feature to add.

[2020-06-09 09:30] artecoop opened #183 "4.0.0: Unknown operation named "".""
Hello all!,
after updating a side project to version 4.0.0, the code compile normally, but every query I execute returns: `Unknown operation named \"\"."`

Rolling back to 3.9.0 solves the issue.

Relevant dependencies of my project:
[code]

[2020-06-09 11:40] mcollina commented on #183
Can you provide an example on how to reproduce the problem? We just bumped graphql-js to the latest so it might be that you need to adjust your schema.

[2020-06-09 13:46] artecoop commented on #183
Ciao Matteo,
here's a minimal repro on codesandbox
https://codesandbox.io/s/keen-sara-hs6f5

please start it with npm start or yarn start and open the embedded browser to
https://hs6f5-4000.sse.codesandbox.io/playground
to access.

There are two query:

[code]
and
[code]

change the id to 1...50

[2020-06-09 17:34] mcollina commented on #183
Can you create a repro without the use of all those extra modules? I have a feeling one of them is incompatible with graphql 15.

[2020-06-09 20:49] tHBp commented on #179
Sure, will try to complete a first revision over the weekend.

[2020-06-10 07:52] artecoop commented on #183
Excluding the fastify ecosystem, what remains is
[code]
and those are the bare minimum for using [GraphQL-Modules](https://graphql-modules.com/). Once removed these packages and refactored the code, the remaining is a bare fastify server which I'm sure its working because I have another fastify + fastify-gql (without any extra package beside these) project and work like a charm.

I tried to see in

[2020-06-10 08:39] mcollina commented on #183
Keep me posted!

[2020-06-10 08:40] numToStr commented on #183
I am also getting this error w/ `type-graphql` and I reproduced the same with raw `graphql-js`.

CodesandBox:
https://codesandbox.io/s/fastify-gql-error-r4wlt

[2020-06-10 08:42] mcollina commented on #183
I would recommend you to open an issue in type-graphql or graphql-js as it's definitely _not_ related to this module.

[2020-06-10 08:44] numToStr commented on #183
I already open am issue in `type-graphql` repo.

Here it is: https://github.com/MichalLytek/type-graphql/issues/651

[2020-06-10 09:33] artecoop commented on #183
I can confirm that the issue is not related to fastify-gql. I forced the package manager with npm shrinkwrap to resolve `"graphql": "^15.0.0"` but keeping `"fastify-gql": "3.9.0"` and the error is shown.
Since the other problem is Graphql-Modules, I'll investigate with the guys over here!

Thank you for pointing me on the right direction.

[2020-06-10 10:29] artecoop commented on #183
@ardatan in the mentioned issue got the solution for this problem. IDK why now graphql.js mandates the query name

[2020-06-10 10:36] numToStr commented on #183
@artecoop Thanks a lot for investigating the issue. Indeed @ardatan solution also fixes the issue with `type-graphql`.

[2020-06-12 14:39] dougg0k commented on #169
I actually solved this another way.

By using `ErrorWithProps` from `fastify-gql`, I sent the the object in the extensions and just modified the response.

[code]

[2020-06-12 14:39] #169 closed

[2020-06-12 23:13] flux627 opened #184 "Using fastify-gql in place of Apollo Gateway does not work"
Hi,

As a proof of concept, I tried taking [this demo repository](https://github.com/apollographql/federation-demo) and replace Apollo Gateway with fastify-gql. The federated services start fine (as expected). Then, when I try to start the Gateway server, I get this error:

[code]

My guess is that both the original definition for `Product` and its extended clause have a `@key` directive, which ar

[2020-06-13 11:35] mcollina commented on #184
Wow, good finding and thanks for checking this out.

I’m a bit unsure how that would work... would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-06-13 16:49] flux627 commented on #184
I would help, but I don't know the proper expected implementation of the Gateway (in this case the expected way to handle conflicting directives when creating the combined schema). I tried looking for a specification, but could only find an [implementation specification for the Federated services](https://www.apollographql.com/docs/apollo-server/federation/federation-spec/), and an [API specificat

[2020-06-13 17:25] flux627 commented on #184
I just found [this](https://www.apollographql.com/docs/apollo-server/federation/gateway/#type-system-directives):

So, I guess we can strip directives from the service schemas before merging them? I'll see if doing that seems to bring parity in behavior.

[2020-06-13 17:42] mcollina commented on #184
Amazing, I think that would work!

[2020-06-13 17:53] phr3nzy commented on #56
There will be a problem once you try to get `children` of a `parent `using a specific field like `childId`. When the `parent` is passed from the main parent query, the child query will receive only the fields that the `parent` resolves, which in the main Query the `child_id` field isn't specifically asked for, your child resolver (if it uses the `child_id`) won't work.

Here's an example:
[code]

[2020-06-13 18:31] wtrocki commented on #56
@phr3nzy This issue outdated really fast. We have now numerous frameworks that resolve problem with dataloading and fetching specific fields. Same with the compiling client side queries.

As for this specific issue. In approach above we are using native database capabilities (old good SQL joins and MongoDB denormalized collections) to fetch children - totally ignoring GraphQL execution plan.
Resol

[2020-06-13 18:35] phr3nzy commented on #56
Yes it does depend on the way you resolve the children, as you stated above, using the native database capabilities. Love your query mapper btw :)

[2020-06-13 22:22] flux627 commented on #184
Did some work on this today. The problem seems to be that, as stated above, the Gateway should not expose `TypeSystemDirective`s (however `ExecutableDirective`s will be exposed, and they need to match between services). We can exclude `TypeSystemDirective`s from within `getStubTypes()`, and then the server starts up. But since `makeResolver()` references the built schema for this directive informa

[2020-06-14 16:25] flux627 commented on #184
The problem seems to be partially resolved by passing `true` to `assumeValid` to the last `extendSchema()` call in `buildFederationSchema()` when building for the Gateway:
[code]

This change allows the service to run and successfully execute queries. However, I'm not sure if this is opening up the system to problems due to skipping validation. Furthermore, the `TypeSystemDirective`s are still bei

[2020-06-14 18:55] mcollina commented on #184
Would you like to attempt a PR? I would not be able to help much in the coming weeks :(. I think your hot fix is feasible and should unstuck you.

[2020-06-15 04:34] pscarey opened #185 "Support Batched Queries"
I'd like to submit a PR to implement this. First I wanted to raise the issue and see if you'd be willing to accept a PR or if you had any feedback.

---

We're currently migrating from Apollo Server to Fastify GQL because of the performance benefits.

Our mobile app makes use of [apollo-link-batch-http](https://www.apollographql.com/docs/link/links/batch-http/) for performance. This batches GraphQ

[2020-06-15 05:29] mcollina commented on #185
Sure thing, send it over.

[2020-06-15 13:51] flux627 commented on #184
I'm not stuck per-se. I'm shopping around for a solution that can offer Federation as well as subscriptions, and am willing to put work into bridging gaps. I don't feel comfortable submitting a PR that might introduce bugs and/or repercussive implications due to not fully understanding the system.

I really do think that the current implementation needs to change from depending on schema directive

[2020-06-15 14:36] flux627 commented on #184
I am still curious as to what the answers are to questions I asked originally:

[2020-06-15 15:53] mcollina commented on #184
@frikille might be able to answer that.

[2020-06-21 15:10] aldis-ameriks opened #188 "Integrating graphql-query-complexity"
Hello,
I'm looking at the option of switching from apollo fastify to fastify-gql. I'm using [graphql-query-complexity](https://github.com/slicknode/graphql-query-complexity) which I'm able to install via apollo plugins like so

[code]

What would be an equivalent version with fastify-gql?

Thanks!

[2020-06-21 17:04] mcollina commented on #188
In order to integrate this we’ll need to add the equivalent of validationRules. Would you like to send a PR for that?

[2020-06-22 16:33] aldis-ameriks commented on #188
@mcollina I see. Unfortunately, I'm a bit swamped right now. If time permits, I may engage at a later time. Thanks!

[2020-06-22 19:27] #185 closed

[2020-06-28 03:48] awebi opened #191 "How to use with a .graphql file"
Hello,

I'm trying to switch from graphql-yoga to fastify-gql, but I'm having difficulties setting up with the .graphql file that has all my type definitions.

[code]

I'm getting this error

[code]

Please, what am i doing wrong or how do i get this working?
Thanks.

[2020-06-28 07:19] mcollina commented on #191
I have no idea how to use with a .graphql file. Likely you need to have some transpiler support to be able to use with require, and this module does not provide that. If you just need the content of the file, you can use fs.readFileSync().

[2020-06-28 20:34] awebi commented on #191
Alright, thanks. Using fs.readFileSync() works.

[2020-06-28 20:34] #191 closed

[2020-07-06 09:42] devotox opened #194 "Cannot set a different path for playground"
I have tried using 'path' & 'prefix' as I would like the playground to be on '/graphql/playground'

[2020-07-06 18:14] mcollina commented on #194
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-07-07 16:14] lazharichir opened #195 "How to allow queries and mutations over a WebSocket connection?"
Hello!

So I use `fastify` and `fastify-gql` for my API gateway. I have some subscription enabled via the option flag `subscription: true`. The react client uses `import { ApolloClient, HttpLink, InMemoryCache, split } from "@apollo/client"` and `import { WebSocketLink } from "@apollo/link-ws"`. And everything works.

A part of my app is a real-time text editor and pushing operations using POST is

[2020-07-07 16:31] aldis-ameriks commented on #188
This is is now resolved via #189 and #193

Here's an example how to integrate graphql-query-complexity.
[code]

[2020-07-07 16:31] #188 closed

[2020-07-07 16:33] aldis-ameriks commented on #40
I believe this is similar to #188 which was resolved via #189 and #193. In which case the issue could be closed.

[2020-07-07 18:39] #40 closed

[2020-07-07 23:08] mcollina commented on #195
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-07-08 02:59] pscarey opened #196 "Error Formatting Improvements"
The `errorHandler` option controls the Fastify App Error handler directly, meaning:

- Users must fully rewrite the formatting of GraphQL errors in order to do error formatting.
- Batched query errors can't be formatted, as the overall response is a success. Errors should be formatted for each individual query, and the current implementation just sends the message of the error.

I propose a new op

[2020-07-08 03:13] pscarey commented on #196
@mcollina Happy for feedback on this - it'll be easier to see the proposed changes once we get #187 in.

We're using this solution in production, alongside Automatic Persisted Queries, and Batched Queries, with no issues.

[2020-07-08 15:09] dependabot-preview[bot] opened #202 "Your .dependabot/config.yml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

[2020-07-08 15:48] #202 closed

[2020-07-08 17:15] aldis-ameriks commented on #196
I haven't familiarized myself with the code examples, but based on the title, I thought to plug-in my use case (wished feature) too.

I'm using type-graphql with class-validator. When combined with apollo-server, upon validation error, it spits out the following response.

[code]

However, the validation error doesn't seem to be passed down within fastify-gql, even to errorFormatter.

I was thinki

[2020-07-09 06:10] mcollina commented on #196
Thanks for taking this issue. It seems there is not a uniform way of representing errors with GraphQL as we have received a lot of contrasting issues in the past and moved the needle between a few different designs. I'm +1.

@pscarey do you think your PR could handle @aldis-ameriks case as well?

[2020-07-09 06:53] pscarey commented on #196
I think the non-standard representation of errors has hit us too - in the above we are able to:
- Send middleware errors (e.g. authentication) directly as the appropriate status code (i.e. not as a GraphQL error).
- Send specific errors for persisted query support (also with differing status codes).
- Format known errors, so the client can use the `error.message`.
- Obfuscated unexpected errors in

[2020-07-09 14:20] iviaks opened #205 "[question] Refresh / Reload schema inside Gateway mode"
Hi,

We want to use Federation + Gateway on our project, but we need to use polling or refresh schema on change.
Could you tell me, is it possible to do polling / refreshing schema inside Gateway mode?

Thank you.

[2020-07-09 15:41] mcollina commented on #205
Unfortunately it's currently not possible. However it would be a great feature to add! Would you like to send a PR?

[2020-07-09 15:43] iviaks commented on #205
@mcollina

I have found a way how to do it, but I don't know how to solve test issues :(

# Implementation

## index.js

[code]

## lib/gateway.js

[code]

# lib/gateway/service-map.js

[code]

# How to use?

## Polling interval

[code]

## Manually replacement

[code]

[2020-07-09 15:47] mcollina commented on #205
I would recommend to send a PR, I think there are a few things to change/improve.

[2020-07-09 15:51] iviaks commented on #205
I will send a PR when I fix all test issues, thanks

[2020-07-10 11:03] SkeLLLa opened #207 "Federation subscriptions: check socket state before sending data."
https://github.com/mcollina/fastify-gql/blob/master/lib/subscription-client.js#L138

Here before sending anything to socket it needs to be checked if it's in ready/connected state. Otherwise it will throw an error that is not cached anywhere properly.

[2020-07-10 11:08] SkeLLLa opened #208 "Federation: Handle situation when graphql subscribe result is not AsyncIterable."
https://github.com/mcollina/fastify-gql/blob/master/lib/subscription-connection.js#L88

Graphql's subscribe method doesn't return AsyncIterable always. It also may return simple ExecutionResult. And if it will return it, we'll get an error.

It's pretty much the same case as in https://github.com/mcollina/fastify-gql/pull/174, when ExecutionResult just ignored.

[2020-07-10 12:11] mcollina commented on #208
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-07-10 12:12] mcollina commented on #207
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-07-11 11:01] simoneb opened #211 "emitWarning error when upgrading to fastify packages"
After upgrading various fastify packages the application won't start anymore due to an error being thrown:

[code]

This can be traced back to this package trying to add a content type parser with a signature that fastify considers deprecated but eventually the error is happening in Node's `process.emitWarning` because fastify is providing to it something that's not what it expects.

I tried updat

[2020-07-11 18:25] mcollina commented on #211
This has not shipped a version compatible to fastify v3 yet :(.

[2020-07-12 10:12] pscarey commented on #110
@mcollina Thanks for merging the PR & working to get it over the line.

I believe this issue can be closed now, as there is full support for a range of persisted queries implementations?

[2020-07-12 15:23] #110 closed

[2020-07-12 15:23] mcollina commented on #110
Yes you are right! Good job!

[2020-07-12 18:31] simoneb commented on #211
Understood, yet it seems that there's an issue with how deprecation warnings are raised in fastify itself. Looking at the error above, it seems that Node breaks when fastify raises a warning.

[2020-07-12 18:39] mcollina commented on #211
Can you open an issue in fastify itself with a small repro?

[2020-07-12 20:24] simoneb commented on #211
I tried to reproduce it in a standalone repro but couldn't, and I figured that the warning is emitted correctly when running the app, but it crashes the process when the warning is emitted during automated tests using Jest, and the cause seems to be [this](https://github.com/facebook/jest/issues/8246#issuecomment-588345329).

[2020-07-12 22:42] mcollina commented on #211
Closing, it's a jest problem :(.

[2020-07-12 22:42] #211 closed

[2020-07-14 12:17] dougg0k opened #214 "v5 missing resolver error"
Hi,

I just upgraded to v5 and I am getting this error. I was using `makeExecutableSchema` and that was enough until this version.

[code]

[code]
And a second error that appeared with v5. Yet when I try to import, the option `ErrorWithProps` is there.
[code]

[2020-07-14 12:38] mcollina commented on #214
Are you using fastify v3?

[2020-07-14 13:04] dougg0k commented on #214
Yes, all up-to-date, in fact, `fastify` v3 worked without issues with `fastify-gql` v4.3.0.

[2020-07-14 13:07] dougg0k commented on #214
I already fixed the problems above, but they happen.

1 - I just exported `resolvers` and added there.
2 - I imported `ErrorWithProps` directly from `fastifyGql.ErrorWithProps`.

Issue can be closed in my case.

[2020-07-14 13:18] #214 closed

[2020-07-15 18:42] dougg0k opened #215 "Random error happening on API startup (Error: schema issues)"
Hi,

I've been getting this error randomly in my API startup. I'm using the latest `fastify` and `fastify-gql`. I need to restart when that happens. But the API continues working normally if the error doesn't happen.

[code]

[2020-07-15 21:14] mcollina commented on #215
which version are you using? Can you paste an example to reproduce?

[2020-07-15 21:41] dougg0k commented on #215
Latest available for both. Not really because it's happens randomly, I'm unsure of the cause, it doesn't happen when `ts-node-dev` refreshes the instance, only happened when starting the first time.

[2020-07-16 10:06] asciidisco commented on #215
@dougg0k It reads like you have a setup which contains quite a few variables (at least from reading your latest comment, Typescript is involved as well as a 3rd party dependency to steer the compilation process).

I also seems, that your log output isn't copmplete, the `schema issues` Error has a property called `errors` which should contain the more interesting bit, specifying why your schema has

[2020-07-16 12:27] dougg0k commented on #215
@asciidisco That's correct, it's similar to that starter. It's one service with a local schema.

[2020-07-16 12:36] #215 closed

[2020-07-16 12:39] asciidisco commented on #215
@dougg0k As described, try to log the full error object, especially the contents of the `errors` property, as this will most likely reveal why the schema validation failed & might be the best pointer.

[2020-07-16 12:43] dougg0k commented on #215
Yes, I will, thanks.

[2020-07-16 14:39] mcollina commented on #215
https://github.com/mcollina/fastify-gql/pull/216 I'm making that error easier to detect. I've been bitten by this a few times myself.

[2020-07-17 01:42] PabloSzx commented on #126
Made a fork of `fastify-gql-upload` with updated syntax for **Fastify v3**, updated dependencies + TypeScript support.

https://www.npmjs.com/package/fastify-gql-upload-ts

https://github.com/PabloSzx/fastify-gql-upload-ts

[2020-07-17 06:39] artecoop commented on #126
Brilliant work @PabloSzx !!!

[2020-07-17 09:00] #196 closed

[2020-07-17 09:36] voslartomas opened #219 "Federated schema is not merging Queries and Mutations"
Hello,

trying to define federated schema like this, but only last service Queries and Mutations are show in final schema. If I change order of services, it will always generate only last one (Types get merged though). Any ideas what can be wrong? I am using apollo federation and it is merging correctly, I would love to move to fastify-gql as you guys are supporting subscriptions and it seems like

[2020-07-17 10:22] mcollina commented on #219
Can you please create a full example to reproduce? Or even better, send a PR to fix with a test? Thanks

[2020-07-17 10:24] voslartomas commented on #219
Unfortunately I don't have any idea how fastify or this plugin works, I just randomly find that this might be another solution instead of using apollo server. But I guess it's not working for anyone right? I can see some issues and always with the response, can you create PR with the fix :) You should mention in docs, that this feature is not fully working. Not even example works :/

[2020-07-17 10:27] voslartomas commented on #219
I guess this library would be first to have subscription and federation support (gateway). Was so excited this could work :)

[2020-07-17 10:33] mcollina commented on #219
I don't know, you are the first one reporting this. Overall, I asked for a full repro __which you did not provide__.

@pscarey is using federation in production and it's working for them, it's working for us, so I'm not sure I would claim it's not working. _It's working well enough for my uses_.

[2020-07-17 10:36] asciidisco commented on #219
@voslartomas It does work for my projects.

In regards to your problem, can it be that your `Query`, `Mutation` & `Subscription` definitions don't contain an `@extends` directive?
It might be helpful to see the corresponding bits of your partial schemas & the federated endresult.

[2020-07-17 10:44] voslartomas commented on #219
@mcollina Sorry, I was just trying your example with subscriptions and it was not working. I created PR to fix example #220

[2020-07-17 10:45] voslartomas commented on #219
@asciidisco Great to hear, thanks. Have you been using apollo server before, so can you compare performance? And are you using subscriptions with federation?

I am using type-graphql to define schemas in services, I will send schemas of each service. And create example.

[2020-07-17 11:15] voslartomas commented on #219
@asciidisco Here are the definitions of schemas

Schemas definition
[code]

[2020-07-17 11:20] asciidisco commented on #219
@voslartomas

Yes, we are currently transitioning from Apollo Federation to a Fastify based one. As we are dealing with a rather large project, which also contains work by other teams building parts of the application in Kotlin, Scala etc. it'll take us some time & we're talking about months rather than weeks to put this into production.

In regards to your other questions, I'm not very prolific i

[2020-07-17 11:25] voslartomas commented on #219
@asciidisco Thank you very much, for your explanation, I will give it a try. I was hoping it would be possible to get rid of schema-stitching server in front of apollo federation, because it is our solution at the moment and it's not performing very well, in fact it causing us trouble in production when there is high load for longer time. But right now we have apollo-server as schema stitching ser

[2020-07-17 11:37] voslartomas commented on #219
@asciidisco When added extends to all services I got this error `(node:58676) UnhandledPromiseRejectionWarning: Error: The directive "@extends" can only be used once at this location.` Is this code you sent in each service, or in federation server?

[2020-07-17 11:40] asciidisco commented on #219
@voslartomas Yes, this is due to this issue: https://github.com/mcollina/fastify-gql/issues/184
Issue comment https://github.com/mcollina/fastify-gql/issues/184#issuecomment-643789399 has a fix for this, you can apply manually for the time being, until the PR is merged.

[2020-07-17 12:23] voslartomas commented on #219
@asciidisco  Ok fixed, thank you very much for the support. Now I am on subscriptions, I know you are using schema stitching server for subscriptions, but will give it a try here, it's giving me this error

[code]

[2020-07-17 12:36] asciidisco commented on #219
@voslartomas I haven't seen that error before, it might be interesting to see what's the concrete error here (coming from the concrete service), can you log the full `data` object here, please: https://github.com/mcollina/fastify-gql/blob/master/lib/subscription-client.js#L165

Also, in regards to Apollo Engine (or whatever it is called today), this is actually one of the reasons we're moving away

[2020-07-17 14:58] voslartomas commented on #219
@asciidisco It was wrong address, but now I am getting this `result is not async iterable`, I've created fastify-gql federation server and then one fastify-gql service which has subscriptions, if I connect directly to service subscriptions are working fine, but via federation server it throws error mentioned above.

Changing schema at runtime is possible via apollo studio nowadays, but I agress it

[2020-07-17 15:04] paolochiodi commented on #219
I tried to replicate the errors @voslartomas is experiencing here and these are my results:

1. the gateway subscriptions example doesn't work
Calling `node examples/gateway-subscription.js` will results in an unhandled exception:
[code]

2. I was not able to replicate the error where queries and mutations do not show up. If I "fix" the error at point 1 and run the example, query and mutations see

[2020-07-17 15:06] voslartomas commented on #219
1) is because of this #184
2) Is because I am using type-graphql in services, which does not extend Query, Mutation and Subscription @asciidisco suggested solution above.

[2020-07-17 15:09] asciidisco commented on #219
@paolochiodi

1.) If you apply the "fix" (or workaround, what you prefer to call it) mentioned [here](https://github.com/mcollina/fastify-gql/issues/184#issuecomment-643789399) it should work. So yes, it's a known bug & afaik. due to the reasons discussed in #184 there's no PR for it yet. Basically waiting for more information to not release a fix which could have some unforseen implications.

[2020-07-17 15:23] asciidisco commented on #219
@voslartomas The async iteratable problem is described in https://github.com/mcollina/fastify-gql/issues/208; so far it seems like there's no PR for it yet, so, if you want to have a go, please, that would not only help you 🙂

To emphasize again on the Apollo situation. I'm absolutely fine with the model Apollo as a company pursues. Think about it that way, they are a company that releases a lot o

[2020-07-17 15:31] voslartomas commented on #219
@asciidisco Agree, it is just surprising that they were doing all of this open source and for some reason they go with closed source studio. I believe they could go the way Gitlab went, so you have SaaS which generates you money, but also it's open source and you can host it yourself if you want. It seems working.

[2020-07-17 15:40] asciidisco commented on #219
@voslartomas I don't feel equipped to dicuss or judge business decisions like this (and kinda think that this issue might not be a good place to dicuss this further).

Not yet public, because not yet working at all & I don't want to mislead people in thinking there is a working solution, nor could I handle supporting potential contributers at the time being, sorry.

[2020-07-17 15:42] voslartomas commented on #219
@asciidisco You are right, not right place to discuss thinks like this.

Ok, will subscribe to your profile then. Thanks

[2020-07-17 16:06] paolochiodi commented on #184
I've done some investigation on this whilst I was looking at https://github.com/mcollina/fastify-gql/pull/220

I think I have found the underlying issue, these are my findings:

1. The issue is not with service B extending a type from service A nor the fact the the extend also includes the same @key directive as the type it is extended
2. It is actually expected that service B extending a type fro

[2020-07-17 16:15] paolochiodi commented on #184
I've created a quick PR to demonstrate the issue and a potential fix.

[2020-07-17 16:41] flux627 commented on #184
I don't have time to look into this, but just wanted to comment on

While this is true that this is expected, that doesn't mean that it's valid to attach the same directives to extended types. The way Federation defines how separate services need to attach directives to their own schemas does not dictate what is valid within the same schema.

Based on what I remember when testing, this is not the

[2020-07-17 16:50] voslartomas commented on #219
@asciidisco Trying to continue with sockets and it seems it depends on order of services defined in federation, I am not able to make everything working, because of the order, I have errors like this

[code]

This one is trying to createSubscription in service which does not have defined wsUrl
[code]

Not sure why should depend on order of services, any idea?

[2020-07-17 19:37] asciidisco commented on #219
@voslartomas Pulling in these changes should mitigate your first error: https://github.com/mcollina/fastify-gql/pull/174

Not sure about the second, haven't seen it before tbh.

[2020-07-20 02:41] pscarey opened #223 "Error Formatting Breaks with GraphQL JIT Enabled"
Error formatting and GraphQL JIT cannot both be enabled.

**Observed behaviour:**
- Apply custom error formatter
- Enable GraphQL JIT (`jit: 1`)
- First error is formatted correctly
- Following errors are returned directly i.e. not formatted

Happy to look into this when I get some time later in the week, JIT is showing a worthwhile performance improvement for us.

[2020-07-20 08:39] #223 closed

[2020-07-20 12:06] asciidisco commented on #219
@voslartomas Have you had a chance to pull in the mentioned fix & retest again? I‘d like to see if the other error vanishes with it, and if not, try to trace that one down.

[2020-07-20 12:09] voslartomas commented on #219
Hello, first error was fixed, but still there were errors with createSubsription and also I have another errors when you have same ENUM in two services, there was another error when you switched order. So after all I gave up and went with apollo federation/gateway and created websocket server with fastify.

[2020-07-20 12:14] asciidisco commented on #219
@voslartomas Okay, I suggest to close the issue then & I‘ll have a dedicated look and will open issues once I was able to replicate the errors on my own. I think there are one or two which should be dedicated issues. I have a rough idea which setup you‘re sporting, so I should be fine with tracking them once I find the time.

[2020-07-20 12:20] voslartomas commented on #219
Ok cool, closing. Thanks for your help

[2020-07-20 12:20] #219 closed

[2020-07-20 13:16] asciidisco commented on #56
@mcollina Is that still something you'd like to see in `fastify-gql` itself, if it can be solved using 3rd party libs as good as?
If this shouldn't be a core feature, maybe it would be nice to document a solution in the README, then I'd politely ask @wtrocki to PR it, as he seems to have quite some knowledge in this area.

[2020-07-20 13:19] asciidisco commented on #126
Could this be something that should be documented in the README, with a reference to @PabloSzx npm package?
Once documented & accessible to everyone, we should be able to close this, I believe.

[2020-07-20 13:22] asciidisco commented on #47
@mcollina As this seems to be stale & the status of https://github.com/mcollina/fastify-gql/pull/153 is tracked in #151 I think it can be closed. You're with me on this?

[2020-07-20 14:59] paolochiodi commented on #184
Let me rephrase that. The Apollo docs clearly state that when extending entities, the `extend` must include the same `@key` directive as the original type definition. This is the case for stubs and actual extensions.

As far as I can see, this is not the case - or at least it's not enforced at the `graphql-js` level.
Fastify-gql builds the schema in `buildFederationSchema` (https://github.com/mcol

[2020-07-20 21:28] mcollina commented on #56
A PR with some docs would be nice, yes!

[2020-07-20 21:30] #47 closed

[2020-07-20 21:41] mcollina commented on #126
Should we support this natively?

[2020-07-21 00:13] PabloSzx commented on #126
Apollo Server has out of the box support for File Uploads using graphql-upload, I think it would be nice to support it too, and it's not much code needed anyways, but there are some gotchas, like node version compatibility.

[2020-07-21 06:51] artecoop commented on #126
IMHO, no. Keep going with the single responsibility principle, and let other packages, yours or made by other developers, plugs extra features.
Dont waste the "pluggable" effort you did with fastify

[2020-07-21 20:28] asciidisco commented on #126
Might be a good idea to do a quick Pro/Con list (please complete it, if I miss something important)

**Pro**
* Be compatible with `apollo-server`, which supports this out of the box (https://www.apollographql.com/docs/apollo-server/data/file-uploads/)
* Necessary changes are minimal, judging from https://github.com/PabloSzx/fastify-gql-upload-ts/blob/master/index.ts

**Neutral**
* Might have a (mi

[2020-07-23 04:56] carvincarl commented on #211
The work-around I used is mocking process.emitWarning().
`
describe('test mock process emit warning', () => {
  let spy = null;
  beforeAll(() => {
    spy = jest.spyOn(process, 'emitWarning');
    spy.mockReturnValue('warning');
  }
  afterAll(() => {
    spy.mockRestore();
  }
  test('some library accesses a deprecated property like request.req', () => {
    // run the test
  }
}
`

[2020-07-23 14:56] asciidisco opened #225 "Proposal: Implement cache-control & last-modified headers/directives"
This issue is more about picking your folks brains than "just" requesting a feature.
I do have a prototypical version of this running, but would like to get your input on the

* config interface
* hints about flaws in the logic of this proposal
* ideas how to improve/modify the proposal *before* its final implementation

before I'm going to issue a PR. Generally speaking, it adds features to `fast

[2020-07-23 16:45] mcollina commented on #225
This would be amazing to add!

[2020-07-24 15:40] paolochiodi commented on #184
I've spent more time debugging this, and I have come to the conclusion that my understanding of the issue as expressed in the previous message was incomplete.

Here's my new understanding:

1. Apollo-server is indeed stripping directives, but only the directive definitions from the implementing service schemas, not the directive usages in extensions. I.e.
[code]
get's added to the schema as is, st

[2020-07-25 00:07] xamgore commented on #179
Precious information can be found in the [apollo-tracing](https://github.com/apollographql/apollo-tracing) repository.

[2020-07-27 14:42] #184 closed

[2020-07-29 07:23] paolochiodi opened #229 "Federation: strip common directives from federate services schema"
While working on https://github.com/mcollina/fastify-gql/pull/227 and https://github.com/mcollina/fastify-gql/issues/184 I have noticed that the fastify-gql implementation is lacking at least two features from Apollo server.

One of them is that apollo server strips common and type system directives definitions (i.e the definition of `key` directive) from federated services sdl before combining th

[2020-07-29 07:24] paolochiodi commented on #229
Tests: https://github.com/apollographql/apollo-server/blob/main/packages/apollo-federation/src/composition/__tests__/normalize.test.ts#L147

[2020-07-29 07:31] paolochiodi opened #230 "Add more validations for federated schemas"
While working on https://github.com/mcollina/fastify-gql/pull/227 and https://github.com/mcollina/fastify-gql/issues/184 I have noticed that the fastify-gql implementation is lacking at least two features from Apollo server.

One of them is that Apollo server performs additional validations on the federated schema that fastify-gql doesn't.
It also skips more validations then fastify-gql.

In #227

[2020-07-30 07:29] aldis-ameriks commented on #196
@pscarey @mcollina
I'm a bit confused by the presence of both `errorFormatter` and `errorHandler`.
Looking at the code, it looks like I `errorHandler` uses the `errorFormatter`, I'm a bit unsure why I would use `errorFormatter` if I could technically just use the `errorHandler` to catch and transform the error?
Maybe I'm missing something here.

[2020-07-30 07:33] pscarey commented on #196
Hi @aldis-ameriks,

The `errorFormatter` has been implemented to allow for:
- Errors in batched queries to be formatted, as all errors are caught and formatted into an array, and the overall response is returned as success (200), regardless of the individual errors (e.g. one query might error, another might not).
- Simpler formatting of errors which would also be raised to `errorHandler`.

[2020-07-30 07:44] asciidisco commented on #196
@pscarey Should this explanation be added to the README maybe? I think there could be more folks who could be confused with using what & when.

[2020-07-30 07:56] pscarey commented on #179
@xamgore @tHBp

I'd like to flag that the only solution here isn't just Apollo's approach, but also the tracing could be implemented with [OpenTelemetry](https://opentelemetry.io/). Adding an OpenTelemetry exporter would be a viable way of supporting many more tracing backends in a performant way.

Wrapping all resolvers in a Schema to achieve detailed tracing (by analysing the GraphQL `info` obje

[2020-07-30 07:59] aldis-ameriks commented on #196
@pscarey Thanks. Now that there is `errorFormatter`, is there any use case where I would want to use `errorHandler` now?

[2020-07-30 08:16] pscarey commented on #196
@asciidisco Good suggestion, thanks. I'll make an issue & look later this week.

@aldis-ameriks That very much depends on your specific use case. The `errorFormatter` option is likely sufficient for most use cases, such as:
- Handling errors from middleware (e.g. auth errors) and returning the appropriate status codes.
- Formatting GraphQL errors in order to obfuscate unknown errors ('Internal Ser

[2020-07-30 08:17] pscarey opened #231 "Improve Documentation for Changes in #196"
- `errorFormatter` vs `errorHandler` usage should be clarified in the README
- This may be a case of deprecating the `errorHandler` depending on discussion in #196

[2020-07-30 08:54] mcollina commented on #196
I think we can deprecate errorHandler and remove in a follow up

[2020-07-30 08:58] mcollina commented on #179
I would actually prefer adding OpenTelemtry support.

[2020-07-30 21:03] PeteSolid opened #232 "Documentation for gateway"
Hi, I am a beginner and would like to use this with my GraphQL Endpoint from Hasura.
How would that be possible?

[2020-07-31 06:53] mcollina commented on #232
Hi @PeteSolid! I have never tried to use this to gateway to Hasura. Hasura does not support Federation, so maybe it's not an easy topic for a beginner. Hasura can act as a gateway itself and call your own endpoint.. it's well documented so I would recommend that.

[2020-07-31 07:39] PeteSolid commented on #232
@mcollina Ok, many thanks. I will read through it 👍

[2020-07-31 07:39] #232 closed

[2020-07-31 08:16] PeteSolid commented on #232
@mcollina One more question: is there an example / guide / tutorial to use it together with a database? For example with your repo fastify-postgres?

[2020-07-31 10:50] #166 closed

[2020-08-01 15:25] PabloSzx opened #235 "Async subscription context kills the subscriptions."
I opened a draft PR (#234)  showing a bug that happens when the context for the subscriptions is an async function, I discovered it trying to make the context based on an database request, so I simulated the situation adding an artificial delay on a existing test and it did fail as expected.

In theory the code is awaiting (https://github.com/mcollina/fastify-gql/blob/master/lib/subscription.js#L2

[2020-08-03 08:49] asciidisco commented on #151
Closing as it has been merged in https://github.com/mcollina/fastify-gql/pull/233

[2020-08-03 08:49] #151 closed

[2020-08-04 08:50] asciidisco commented on #141
@RenatoFranze It does sound like an unusual usecase, definitely. You're probably better off with using a dedicated `http` server (you can use `fastify` for this) & roll your own GraphQL response/request handler.

You can have [a look here](https://github.com/benawad/node-graphql-benchmarks/blob/master/benchmarks/core-graphql-jit-str.js), how you could even do that with `graphql-jit` support, if pe

[2020-08-04 11:08] #141 closed

[2020-08-04 17:53] #205 closed

[2020-08-04 18:03] mcollina opened #237 "Slow test: test/gateway/pollingInterval.js"
This suitte is really slow: https://github.com/mcollina/fastify-gql/blob/master/test/gateway/pollingInterval.js takes up to 8 seconds on my machine. We should speed it up

cc @iviaks

[2020-08-05 09:28] iviaks commented on #237
I will take a look at this issue :+1:

[2020-08-05 10:14] schickling commented on #231
Please don't deprecate `errorHandler` as there's currently no way (I'm aware of) to access the `request` object in the `errorFormatter` which I need in some use case (e.g. implementing tracing).

[2020-08-05 10:33] mcollina commented on #237
Thanks!

[2020-08-06 09:10] iviaks commented on #237
Hey, @mcollina
.close() method from fastify takes long time

[code]

Can I somehow avoid this problem? like a provide a parameter for forcing, etc.

[2020-08-07 11:06] #237 closed

[2020-08-07 11:13] mcollina opened #242 "Log errors before rewriting them"
In https://github.com/mcollina/fastify-gql/blob/aa8ef7eb2fcfea1838fff5563c502ff2bcd25966/index.js#L458 we rewrite the errors and we display those in the GraphQL result. In case of a _developer error_, we should log it out.

I think we should log the errors as `warn` or `error` level, so that a developer could diagnose the problem if it exists.

[2020-08-07 11:13] mcollina commented on #242
what do you think @asciidisco @pscarey ?

[2020-08-07 15:13] #208 closed

[2020-08-07 15:13] #235 closed

[2020-08-07 15:15] mcollina opened #243 "Switch to fake timers for test/subscription.js"
As titled.

[2020-08-08 03:09] pscarey commented on #242
I have mixed views on this:
- I don't think the server should force logging (which isn't customisable / can't be disabled).
- It's useful to log things for developers who haven't chosen to customise things.

The `originalError` property is populated on the `GraphQLError` which is created, so it should get escalated up to the `errorHandler` and therefore the `defaultErrorFormatter`.

If logging was

[2020-08-08 11:38] mcollina commented on #242
That's ok, good idea!

[2020-08-11 04:52] gtolarc opened #245 "playground path does not work with custom path"
I wish that the playground/graphiql path also works based on the custom path.
It is necessary when routing multiple services based on url path in kubernetes.

[2020-08-11 06:03] mcollina commented on #245
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-08-11 07:10] gtolarc commented on #245
#246 If you think this is correct, it would be nice to apply this PR.
This is to avoid problems when routing other services using the same domain in kubernetes with path as a separator.

[2020-08-11 08:53] gtolarc commented on #245
#247 It seems that the problem can be solved by combining the path/prefix option with this PR.

[2020-08-11 10:05] smolinari commented on #126
My vote goes to not adding it in the core and leaving it as a plugin (and yes, I'm new to fastify-gql and my 2 cents probably isn't worth much). 😊

Thing is, how one handles uploading files with a GraphQL server can differ depending on needs and nailing down one way into the core is sub-optimal for everyone else not needing that method. The upload feature is then just bloat. Using plugins means a

[2020-08-12 03:49] gtolarc opened #249 "external subscriber"
The current pubsub implementation cannot subscribe to multiple topics at the one subscription.
The pubsub implementation of [graphql-subscriptions](https://github.com/apollographql/graphql-subscriptions) implements its own asyncIterator to handle this.

It would be nice if we could use an external pubsub.

Maybe replacing this part with pubsub of graphql-subscriptions seems to work fine. How about

[2020-08-12 03:55] #245 closed

[2020-08-12 08:12] mcollina commented on #249
Would you like to send a PR to add that support? It should be very simple to add.

---

Having worked _a lot_ on pubsub system and having reviewed that code, I'm not entirely comfortable in adding a dependency on graphql-subscriptions.

[2020-08-12 08:39] gtolarc commented on #249
I just want to use the asyncIterator and withFilter implementations that are already well built in graphql-subscriptions.

Do you think it's not a good idea to allow users to choose the pubsub backend? @mcollina
I initially thought I would simply add an option to allow the use of an external pubsub backend.

[2020-08-12 09:12] mcollina commented on #249
No, not really. It'd be very hard to provide a good production experience in that way.

[2020-08-13 08:38] gtolarc commented on #249
I ported the asyncIterator of the existing graphql-subscriptions as follows, but there seems to be a problem in the part of fetching data when publishing.
Since you know the behavior of mqemitter best, it would be nice if you fix it. @mcollina

And apart from this, if you send an object of deep-depth to the payload of publish, you got a stack error. There seems to be a problem with the readable qu

[2020-08-13 08:49] mcollina commented on #249
Can you please send a PR? I don't really understand the difference between that and what is in the repo.

---

I imagine the change to alter https://github.com/mcollina/fastify-gql/blob/60ef01f8ce82522403e6088c7dabd71e9d293bdc/lib/subscriber.js#L10 so that it calls itself multiple times for all the topics. An end user can quickly implement it as well with a `Promise.all`.

[2020-08-13 09:23] gtolarc commented on #249
I thought asyncIterator would be good because simple iteration would be such a weird look.

[code]

And there are cases when publishing to pubsub outside of fastify. Wouldn't it be better to just separate pubsub for this case?

[2020-08-13 09:28] gtolarc commented on #249
In fact, I am using graphql-subscriptions as a standalone pubsub with fastify-gql. The pubsub of the internal context is a burden.

[2020-08-14 19:08] paul590 opened #252 "Incorrect Error object returned"
Hello fastify team @RafaelGSS , the issue that i am seeing is when i run a query and receive an error it looks as follows:

[code]

however, if i run the same query again I see the error as below:

[code]

Notice how there is an error object that wraps the actual error at first but then disappears with the cache of the error. The issue happens when using custom errors. is there a way to remove thi

[2020-08-14 19:11] paul590 opened #253 "Unable to handle 500 errors"
Hi team,

I am currently unable to custom handle errors that have a status code of 500. I tried adding a custom log to get the error information and it currently only works with other error codes except 500 status codes. If more information is required please let me know. I have the following open repo to reproduce this error: https://github.com/paul590/toSendGraphQL. Thank you for your help!!

[2020-08-15 00:25] RafaelGSS commented on #252
ref: https://github.com/fastify/help/issues/227 I'll take a look later.

[2020-08-15 11:46] RafaelGSS commented on #252
@paul590 I could not reproduce your first example. Always return the same value (expected) for me:

[code]

However, I think I understand your other problem, is about your error handler, not works for `throw new Error...` but works when you pass a function that not already defined right? e.g: `query { anyFunctionThatNotExistsHere(code: "test") }` in your code.

Some considerations on that, I think

[2020-08-15 11:49] RafaelGSS commented on #253
Discussing on #252

[2020-08-15 11:50] mcollina commented on #252
@RafaelGSS I don't understand the question.

[2020-08-15 11:59] RafaelGSS commented on #252
Runtime errors not pass by `errorHandler` property sent in:
[code]

[2020-08-15 12:03] santiagoalmeidabolannos commented on #81
looks like there is a redis example in the Readme file, are you looking for something different?

[2020-08-15 16:29] mcollina commented on #81
I think this is done

[2020-08-15 16:29] #81 closed

[2020-08-15 16:41] mcollina commented on #252
The error format for a graphql endpoint is known. If a resolver throws, the error is captured and converted to said format. The error handler is invoked for all other cases.

You can customize the format with the error formatter.

[2020-08-15 17:34] gtolarc commented on #249
#256

[2020-08-15 18:38] RafaelGSS commented on #252
So @paul590. My answer can help you :smile:

[2020-08-16 13:58] laurisvan opened #257 "Instructions on using with SubscriptionServer (subscriptions-transport-ws)"
First of all, thanks for the great work this far - I have been almost able to migrate our largish apollo-server project to fastify-gql. Currently we face hurdles in getting subscriptions working. Our previous implementation relies on Apollo SubscriptionServer (https://github.com/apollographql/subscriptions-transport-ws) which we took into use as that plays well together with graphql-modules. We di

[2020-08-16 17:30] mcollina commented on #257
I have no tested this particular combination, nor I know how to make that work.

[2020-08-16 20:29] laurisvan commented on #257
Ok, it appears the whole SubscriptionServer can be skipped by just using PubSub as in #195 . This issue can be closed.

I got another problem - exposing websocket payload when creating context for web sockets. It appears this is the mechanism used e.g. by GraphQL Playground (and our app, too). I vaguely remember there was a reason for doing it so. The README sample shows how to expose it from with

[2020-08-16 20:29] #257 closed

[2020-08-16 23:23] mcollina commented on #257
what do you mean by payload?

[2020-08-16 23:46] GavinRay97 commented on #194
You can do this with config like below:
[code]

It has a bug where the path to the GraphQL endpoint in Playground isn't right through, you need to manually correct it in the URL bar.

[2020-08-17 06:31] laurisvan commented on #257
I meant the web socket data frame. However, I did a bit of investigation and noticed that onConnect receives that, and the output of onConnect() and context() calls get merged. So, no changes are needed to the API

I could supply a bit to the docs to explain this a bit better, so that the others do not need to do this research again.

[2020-08-17 07:53] #194 closed

[2020-08-20 15:16] wemakeweb opened #258 "Question: Access pubsub outside of resolvers"
Hey, is there a way to access the pubsub from outside of any resolver function to publish events?

[2020-08-20 15:23] mcollina commented on #258
I couldn't find it but there is no reason why it's not exposed as a decorator in the fastify instance.

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-08-20 18:57] paul590 commented on #252
@RafaelGSS  and @mcollina thank you for your help with this issue! A couple of questions:

- I read the documentation regarding the error formatter and it seems no matter what information I add it does not like and get the error 'No overload matches this call.'. For example I am looking to do something like this:

       errorFormatter: (error) => {
            statusCode: 400,
            message

[2020-08-20 19:31] RafaelGSS commented on #252
Can you update the reproduction code in your repository? It helps to discover the behavior. Don't forget of comment the expected result

[2020-08-21 17:01] dependabot-preview opened #260 "Your .dependabot/config.yml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

[2020-08-21 17:17] #260 closed, assigned to nobody

[2020-08-24 10:06] #258 closed

[2020-08-24 17:27] paul590 commented on #252
@mcollina thank you! Sorry what do you mean by PR? I can definitely contribute to make changes if that works!

[2020-08-24 20:52] mcollina commented on #252
PR = Pull Request on Github.

[2020-08-24 21:14] paul590 commented on #252
@mcollina perfect thank you for the clarification

[2020-08-25 07:17] mcollina commented on #126
closing, I think we have some sort of conclusion :).

[2020-08-25 07:17] #126 closed

[2020-08-25 07:18] #56 closed

[2020-08-25 07:18] mcollina commented on #56
Closing for no activity

[2020-08-25 07:19] #249 closed

[2020-08-25 07:20] mcollina opened #263 "Switch to undici for federation"
https://github.com/nodejs/undici is significantly faster than nodejs http client.

[2020-08-26 05:46] jemikanegara opened #264 "Variable is not defined by operation"
Hello :) Can anyone help me? I got this error when using variables on gateway (it works fine if run without gateway or without variables)

[code]

The error:
[code]

[2020-08-26 15:48] santiagoalmeidabolannos commented on #230
I can take it

[2020-08-26 16:27] paul590 commented on #252
@mcollina @RafaelGSS I believe I have found the possible issue. Having added the error formatter, when I run a query that produces a 500 error, I will see the error go through the error formatter first, the go to the error handler. The issue is that it will fail if I try to use the error object on the error handler due to the data variable being null. Is this a bug?

If I have a query that produce

[2020-08-26 23:25] RafaelGSS commented on #252
Hey @paul590!

Is a pleasure to help you, but the repository provided is not a reproducible code for some reasons:
- Your code has much more than an example code -- `mongodb-memory-server` and other dependencies that are not related to the current issue.
- When I just try to run the example provide from README the application not start (for problems in the dependencies said above)

I recommend tha

[2020-08-27 20:52] paul590 commented on #252
Hi @RafaelGSS ,

thank you for looking into this. I added the memory server since I am able to reproduce a 500 error with that library. I can remove the library if needed, however, as per your answer the 400 and 500 errors are treated differently and separately from the error handler and error formatter? In this case if I want create a custom error I have to ensure it is both added to the handler

[2020-08-28 00:42] RafaelGSS commented on #252
I just saying that is harder to discover the problem without a minimal reproduction code. For example, you can reproduce 500 errors with a simple `throw new Error`.

[2020-08-28 04:27] #264 closed

[2020-08-28 14:19] PacoDu opened #268 "Federation: subscription protocol, websocket and authentication"
I'm experimenting with federation and subscriptions and I noticed a flaw in the current implementation.

### Problem
When the gateway starts and `services.wsUrl` is defined, the gateway will open a ws connection with each services and send the `connection_init` payload.
Once a client creates a websocket connection and sends the `connection_init` payload, the gateway will instantiate a `Subscriptio

[2020-08-28 14:48] mcollina commented on #268
Good spot.

I think there are two cases:

1. the server is aware that is talking to a gateway, and they negotiate the auth in some app-specific way - this is essentially how the gateway currently work. We might want to add some extension on this protocol to be able to trace the user details for each message. The connection from the gateway to the server is privileged.

2. The server is not aware t

[2020-08-28 15:16] PacoDu commented on #268
I also thought to this solution but I removed it before posting the issue because:

If the server is aware of the gateway this kinda breaks the 'pug-and-play' aspect of the federation, I mean that the service will need some custom logic in the resolvers to handle message coming from the gateway. It also doesn't work well with the current design of graphql subscriptions (inspired by apollo implemen

[2020-08-28 15:23] PacoDu commented on #268
Hum I think I understand better your point 1 now.

We could extend the `gql_start` message with a field like `initPayload`, the gateway could automatically inject the `connection_init` payload and from the `SubscriptionConnection.handleGQLStrat` we could use the `onConnect` handler if `initPayload` is defined in the message, then reject or accept the subscription. This wouldn't change the current

[2020-08-28 15:27] mcollina commented on #268
+1

[2020-08-28 21:00] paul590 commented on #252
Hi @RafaelGSS Thank you I understand! I have updated the repo with the new code. If more information is required please let me know. https://github.com/paul590/toSendGraphQL

[2020-08-30 15:47] aldis-ameriks opened #269 "Automatic persisted queries (useGETForHashedQueries: true)"
I'm attempting to set up the "Automatic persisted queries" according to [Using GET requests with APQ on a CDN](https://www.apollographql.com/docs/apollo-server/performance/apq/#using-get-requests-with-apq-on-a-cdn).

Given fastify-gql config
[code]

And apollo-client setup according to [apollo docs](https://www.apollographql.com/docs/apollo-server/performance/apq/).
[code]

Apollo client attempts

[2020-08-31 15:35] saostad opened #272 "[Playground] set header and dark theme setting"
hi,
is there any way to set Http headers in the playground?
also, is there any way to change the default light theme to a dark theme?

[2020-08-31 15:52] asciidisco commented on #272
I guess you're referring to the settings mentioned here: https://github.com/prisma-labs/graphql-playground#settings

There's currently no way to do this via the `fastify-gql` settings; channeling my inner @mcollina here, leads to the question:
"would you like to send a PR to fix/improve this?"

There are basically 2 code parts you would need to spend your attention on, if you'd like to integrate t

[2020-08-31 23:06] PacoDu opened #273 "Gateway does not merge services schemas correctly"
The gateway doesn't merge services schema correctly if `extend` is not used.
The following schemas:
[code]

[code]

Produces:
[code]

Current workaround: always use `extend type Query/Mutation/Subscription` for federated services.
Related to: #262

[2020-09-01 07:50] mcollina commented on #273
Would you like to send a PR?

[2020-09-01 14:22] PacoDu commented on #273
I don't have the time right now to investigate this issue, I'll try to fix the issue later if it hasn't been fixed yet.

[2020-09-03 16:51] heri16 opened #276 "Jit problems when operationName empty"
When operationName is not provided...

This line succeeds:
`buildExecutionContext(fastifyGraphQl.schema, document, root, context, variables, operationName)`
https://github.com/mcollina/fastify-gql/blob/23ac7db38c50642b67a6213b2de7458b35537a64/index.js#L435

But this line fails:
`compileQuery(fastifyGraphQl.schema, document, operationName)`
https://github.com/mcollina/fastify-gql/blob/23ac7db38c506

[2020-09-03 16:53] heri16 commented on #276
Relates to #275

Should we check for compilation failure, or should we solve this root cause?

[2020-09-03 17:27] mcollina commented on #276
Maybe both?

[2020-09-06 14:38] dotansimha opened #278 "Allow to setup a custom `execute` and `subscribe` functions?"
At the moment, this library is hardcoded for `execute`  and `subscribe` from `graphql-js` library.

Some tooling from the GraphQL ecosystem requires to setup a custom functions for optimal performance (such as `graphql-modules`).

Is it possible to add support for it? I can open a PR :) @mcollina

[2020-09-06 17:20] mcollina commented on #278
We need to separate the two concerns of `execute` and `subscribe`.

I'm not necessary in in agreement of making `execute` injectable because it would likely break our integration with graphql-jit  as well as our caching logic: the whole reason of using this module in the first place would be gone as we would loose all the performance benefit. Why cannot this be achieved by using the `schema` and t

[2020-09-06 17:21] #272 closed

[2020-09-07 06:02] dotansimha commented on #278
Thank you for the quick reply @mcollina !

In `graphql-modules` (https://github.com/Urigo/graphql-modules) we provide a separate `execute` and `subscribe` methods in order to have the ability to control the lifecycle of executed GraphQL operations.
This way we are able to tell when an execution of operation has started, and when it ended, so it's basically just a wrapper around the original `execu

[2020-09-07 06:11] mcollina commented on #278
I would recommend to take a look at the code and see where you could inject this behavior. I'm happy to have a few lifecycle calls if that helps! Note that you can also rely on fastify own hook/lifecycle system.

I truly don't have a clue if what you'd like to do with subscribe is even possible here. It would also break federation support for websockets.

[2020-09-08 17:37] paul590 commented on #252
Hi @RafaelGSS is there an update to this issue? Also, is there a way to allow GraphQL to also return extensions? as per the documentation? it does not seem to be included in the errors by default.

[2020-09-08 21:40] mcollina commented on #252
You can always send a PR to fix this.

[2020-09-10 07:49] dotansimha commented on #278
@mcollina Turns out that in `graphql-modules`, @kamilkisiela implemented a way to wrap an existing `execute` and `subscribe`, just with the needed lifecycle hooks, so I think this could be integrated with `fastify-gql` without effecting the custom `execute` it uses. What do you think?

[2020-09-10 07:52] mcollina commented on #278
I'm not convinced it would work because of the usage of `graphql-jit`, see https://github.com/mcollina/fastify-gql/blob/d4b6cab7dc9c6f4806fce3aa1ce3a7c1243d9a32/index.js#L423-L429. If `jit: true` we skip `graphql-js` completely. We probably need some hook system to help you plug something before/after that call.

[2020-09-15 20:52] paul590 commented on #252
@mcollina @RafaelGSS I pulled the code as well on my end, I am looking to implement the ability for errors to also display the GraphQL Error extensions. is there a reason why we didnt have this ability? Also, it seems this fix would be on the fastify library and not fastify-gql is this correct?

[2020-09-15 20:57] RafaelGSS commented on #252
@paul590 follow the PR linked above

[2020-09-15 21:34] paul590 commented on #252
@RafaelGSS Thank you shoud l I post my question about the GraphQl Error extension there as well?

[2020-09-15 23:19] blimmer commented on #272
Is this fully implemented as part of 5.7.0? The type definitions don't seem to support `playgroundOptions` as of 5.7 for me.

[2020-09-15 23:28] mcollina commented on #272
I think the types just need to be updated, want to send a PR?

[2020-09-16 03:27] nabsofken opened #281 "How do I use fastify-gql with TypeScript type safety"
I wanted to use TypeScript but I am having issues updating my resolvers arguments with types. E.g. whats is the type for the object, argument, context, info arguments?

[2020-09-16 12:53] mcollina commented on #281
I'm not a typescript user and I can't really help.

[2020-09-16 12:53] #281 closed

[2020-09-18 16:35] nabsofken opened #283 "unable to run subscriptions"
I am tying out the example for subscriptions but I am getting no luck. The mutation works fine, however, the subscription resolver never seems to get executed. Not sure what I am doing wrong. Any ideas?.
 Here is my code:
[code]

[2020-09-18 16:45] mcollina commented on #283
Can you please upload a full example to reproduce?

[2020-09-18 18:27] nabsofken commented on #283
[demo_backend_copy.zip](https://github.com/mcollina/fastify-gql/files/5247516/demo_backend_copy.zip)
@mcollina I have uploaded the example

[2020-09-18 18:32] nabsofken commented on #283
node version v14.9.0 if this helps as well

[2020-09-18 19:07] mcollina opened #284 "Incoming change, new name, organization"
A few folks recommend me to change the name of this module as it's not really recognizable.

The new name will be [`mercurius`](https://www.npmjs.com/package/mercurius), which was recently transfered to me.

I would soon move this repo to the new org so we can have a slightly better collaboration model around this new project.

[2020-09-19 20:16] benbender commented on #278
Hey, I may have another use-case which I was thinking about today. I'm using http://github.com/graphile/postgraphile/ in a project and I wondered if there might be a way to integrate this wonderful plugin and postgraphile.

The problem is that, even postgraphile offers a `schema only`-mode, it expects to take over the query execution because it wraps them in a postgres-transaction via context and

[2020-09-20 07:00] mcollina commented on #278
...maybe :). I'm not really convinced, but this could work.
As long as it does not slow things for the normal case,it should be good to land.

[2020-09-20 09:26] benbender commented on #278
To minimize performance-impact, we could check if there are any plugins defined on register(). If not, we could skip the logic to execute the hooks completely. This way the impact would boil down to a boolean-check - unless you are using the system, but more work comes logically with a performance hit.

The more interesting question from my perspective is how the event-flow (like: https://www.apol

[2020-09-20 09:56] mcollina commented on #278
I think it's feasible however hard to implement.
You can check fastify own hook system as it's zero overhead if not in use.

[2020-09-20 22:30] blimmer commented on #272
@mcollina Yep, no problem. See #285.

[2020-09-21 13:57] frikille commented on #283
I've run your code and it works fine.

<img width="1300" alt="Screenshot 2020-09-21 at 15 54 15" src="https://user-images.githubusercontent.com/569278/93775604-e6d49300-fc22-11ea-9f92-122b3f0fb7cd.png">

(You can access this screen if you change the `graphiql` option from `true` to `'playground'` and the visit `localhost:3000/playground` instead of `localhost:3000/graphiql`)

As soon as you create

[2020-09-21 18:23] nabsofken commented on #283
@frikille thanks for that! Yes I got it to work by setting graphiql to playground. Thanks!

[2020-09-21 18:23] #283 closed

[2020-09-24 08:30] PacoDu opened #286 "federation: Nullable type reference is not properly resolved"
This kind of schema:
[code]

Produces the following error on the gateway if group is null:
[code]

I'm going to open a PR to fix the issue

[2020-09-24 08:31] mcollina commented on #286
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-09-24 08:34] PacoDu commented on #286
Sure, already working on it.

[2020-09-24 09:52] #286 closed

[2020-09-25 12:41] cope opened #291 "Refused to load the stylesheet / Refused to connect to "https://unpkg.com/...""
I tried adding the basic mini setup, as described:
[code]

but got these errors for graphiql:
![image](https://user-images.githubusercontent.com/112515/94268112-f7e01580-ff3c-11ea-9e0e-4573443058b3.png)

The specific locations in code are:
![image](https://user-images.githubusercontent.com/112515/94268212-20680f80-ff3d-11ea-9199-b1e1eb4ed4f3.png)

and
![image](https://user-images.githubusercontent

[2020-09-25 13:04] cope commented on #291
I was able to get the playground working, by adding:
[code]
but I am not really happy about opening these, tbh...

and for graphiql I needed to add 'unsafe-eval' as well:
[code]

[2020-09-25 13:04] #291 closed

[2020-09-29 00:50] RafaelGSS commented on #252
I think that this issue could be closed since the current behavior is expected as explain [here](https://github.com/mercurius-js/mercurius/pull/280#issuecomment-700358125).

[2020-09-29 06:04] #252 closed

[2020-09-29 07:44] PacoDu commented on #268
Closed by #271

[2020-09-29 07:44] #268 closed

[2020-09-29 11:00] katsanva opened #294 "[question] How to handle the personalized subscriptions?"
Hello. I've been using the `mercurius` for some time and got a question on how to resolve the personalized subscriptions?

The part that handles this is located [here](https://github.com/mercurius-js/mercurius/blob/master/lib/subscription-client.js#L244).

## Use case 1:

Users should obtain personalized content by making the subscription query.

This is not working as far `operationId` is resolve

[2020-09-29 17:06] mcollina commented on #294
I don't really understand the question. What do you mean by personalized content, and how you model it?

[2020-09-30 06:55] katsanva commented on #294
@mcollina lets say its something like news feed. the subscription query will look like (pseudocode)
[code]
with no variables.

When the anonymous user makes that query he will get some default stream of events
But when the logged-in user subscribes he need to get not the default stream, but more relevant news, that he is interested in.

Does that sound better?

But currently, they will obtain the

[2020-09-30 07:37] PacoDu commented on #294
Hi @katsanva, regarding the user authentication, mercurius exposes two options: `subscription.onConnect` or `subscription.verifyClient`, with these options you can authenticate/identify the request and extend the subscription context with any useful information related to the current user (like a decoded JWT token). Your resolver implementation can then change its behavior depending on the context

[2020-09-30 07:39] katsanva commented on #294
@PacoDu thank you. I know how to auth the user. The issue is that subscription-client ignores on the second call is the user authenticated or not.

[2020-09-30 09:04] mcollina commented on #294
Can you please make an example to reproduce your code with a failing test?

[2020-10-01 10:37] mcollina opened #295 "Create logo!"
It would be great to have an awesome logo!

[2020-10-01 10:37] mcollina opened #296 "Website"
It would be great to have a proper website!

[2020-10-01 10:39] asciidisco commented on #296
I really like the focused simplicity of https://getpino.io/ - do you have any docs about the stack on how this is build?

[2020-10-02 11:32] mcollina opened #297 "Nexus Schema plugin"
It would be great to have a companion library on this same organization that combine mercurius with https://nexusjs.org/.

[2020-10-02 11:33] mcollina opened #298 "PostGraphile Plugin"
It would be great to create a companion module/plugin for https://www.graphile.org/postgraphile/.

[2020-10-02 11:34] mcollina opened #299 "Prisma Plugin"
It would be great to have a companion plugin for https://www.prisma.io/.

[2020-10-02 21:40] aldis-ameriks opened #300 "Custom directives and federationMetadata"
I'm looking into using custom directives within a graphql services that's part of a federation.
This is how I'm initializing mercurius

[code]

To add custom directives, I could use the `makeExecutableSchema` and pass the directive configuration there.
[code]

But the `federationMetadata` is included only when `schema` is a string, which it is not when using `makeExecutableSchema`.

Is there a way

[2020-10-02 21:59] mcollina commented on #300
I'm certain this is doable, but I do not have time to research it. It would be good to have a PR so it's added using objects, not strings.

[2020-10-06 08:53] artecoop opened #303 "[Feat] Custom execution function"
Hello all!

I'm here to ask if is possible, in future release of this lib, to have access to a custom execution function. This will be useful for a better integration with [GraphQL Modules](https://github.com/Urigo/graphql-modules) for example.

I'll attach here the issue opened in that repo for cross reference.
https://github.com/Urigo/graphql-modules/issues/1366

[2020-10-06 09:10] mcollina commented on #303
Thanks for reporting, this is a duplicate of https://github.com/mercurius-js/mercurius/issues/278.

[2020-10-06 09:10] #303 closed

[2020-10-06 21:19] paul590 opened #304 "display GraphQL Error extensions"
Hello Fastify team,

I am looking to implement the ability for errors to display the GraphQL Error extensions. Is there a reason why we didnt have this ability? Will this functionality be implemented in the near future? If more information is required please let me know. Thank you for your help!

[2020-10-06 22:19] mcollina commented on #304
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-10-07 14:18] PabloSzx commented on #126
btw, the package was renamed to **mercurius-upload** following the rebranding

https://github.com/PabloSzx/mercurius-upload

https://www.npmjs.com/package/mercurius-upload

[2020-10-07 15:34] mcollina commented on #126
@PabloSzx would you like to move it inside the org to give it an official blessing?

[2020-10-07 20:13] PabloSzx commented on #126
Sure 😁 I added you (matteo.collina) as a mantainer in the npm package, but when I try to "Transfer ownership" of the GitHub repository, this error comes up:
![image](https://user-images.githubusercontent.com/8672915/95382414-fe1cad00-08bf-11eb-82f2-3b1b550504cf.png)

I just added you as a collaborator of the repo and maybe then you can transfer it 🤷‍♂️

[2020-10-07 22:19] PacoDu opened #306 "Drop playground and update graphiql"
I think we should drop `graphql-playground` support because the repo will be archived and integrated as a preset for graphiql (see https://github.com/graphql/graphql-playground/issues/1143), and there is already other great package like: [altair-fastify-plugin ](https://github.com/imolorhe/altair/tree/staging/packages/altair-fastify-plugin) if some user want a different interface from the default

[2020-10-07 22:26] mcollina commented on #306
I agree!

[2020-10-08 07:29] mcollina commented on #126
Could you add me as an owner on npm as well?

[2020-10-08 09:52] mcollina opened #309 "Replace JSON.parse with secure-json-parse"
We do a few JSON.parse() that we should replace with https://github.com/fastify/secure-json-parse. It's not strictly a security issue, but it would be great to do it to protect against possible attacks.

[2020-10-08 09:54] PacoDu opened #310 "fix: prevent _entities query for `LIST_TYPE` if representations variable is empty"
Gateway entities resolver should not send `_entities` query if there is no representations.

It shouldn't even be possible based on the definition of the query : `_entities(representations: [_Any!]!): [_Entity]!`. This is strange but, for now, it doesn't produce any error if the gateway sends: `variables: { representations: [] }` (maybe related to the `_Any` scalar that cas be equal to `undefined`

[2020-10-08 11:20] lucadonnoh commented on #309
working on this

[2020-10-08 13:43] PabloSzx commented on #126
Done 👌

[2020-10-08 13:47] mcollina commented on #126
Great!!!!

[2020-10-08 13:47] mcollina commented on #126
Maybe we can link the plugin from this project README as well?

[2020-10-11 09:52] wesselvdv commented on #298
I’ve actually already built this for NestJS with the Fastify adapter. I hooked up the PostGraphile watch functionality to the reload schema functionality. I used PostGraphile as a library in this case.

[2020-10-11 09:57] wesselvdv opened #315 "investigate graphql-jit fork of hoangvvo"
I just stumbled upon a what I think is an interesting fork of [graphql-jit by hoangvvo.](https://github.com/hoangvvo/graphql-jit)

What mainly triggered my interest is the addition of supporting jit subscriptions. Might it be interesting to see how mercurius could benefit from this? If so, in what form?

[2020-10-11 10:39] mcollina commented on #315
Is development of graphql-jit stopped? Why was it forked?

[2020-10-11 10:39] mcollina commented on #298
Is this Open Source?

[2020-10-11 11:18] wesselvdv commented on #315
I believe he forked it for his own minimal graphql server implementation [Benzene](https://github.com/hoangvvo/benzene), but this is purely a deduction on my part. He did open up several PRs ([[For discussion, do not merge] Remove fast-json-stringify and allows customJSONSerializer to be a function](https://github.com/zalando-incubator/graphql-jit/pull/88), [Add Subscription support](https://githu

[2020-10-11 11:20] wesselvdv commented on #298
I can share what I had to built in order to make it work. I did hook up subscriptions as well, and the main area of attention was creating a context function that would provide the required context for the PostGraphile resolvers.

[2020-10-12 20:39] mcollina commented on #298
I think sharing what you got would be of extreme interest!

[2020-10-13 09:19] mcollina commented on #315
I would not switch to a fork at this point. If we have to, we'll do ours. I don't think there is any blockers right now on our end for which we'll need a fork.

[2020-10-13 19:40] paul590 commented on #304
Sure thing! I can take a look into this thank you!

[2020-10-14 07:56] gboston commented on #297
@mcollina Can you elaborate on this one? So you want a Fastify plugin that make the use of Nexus schema easier?

[2020-10-14 09:55] mcollina commented on #297
It probably just need an example and some docs - I'm not sure. It's really nice from the docs but J have no experience with it.

(I don't really want anything, I just wrote a few ideas).

[2020-10-14 09:57] gboston commented on #297
Yeah, currently looking into Mercurius in combination with Nexus. I'll check if I can make an example or something.

[2020-10-14 14:52] #297 closed

[2020-10-14 15:49] blimmer opened #320 "Deprecate fastify-gql package to inform users of the new name"
I just happened to stumble upon the rename today. An [npm deprecation](https://docs.npmjs.com/deprecating-and-undeprecating-packages-or-package-versions) could point users at the new name.

[2020-10-14 19:59] sastan commented on #269
This should be fixed with #307

[2020-10-14 20:35] #269 closed

[2020-10-17 10:30] mcollina commented on #320
Done.

[2020-10-17 10:30] #320 closed

[2020-10-18 02:33] nabsofken opened #324 "federation mandatory field is not working"
When starting a federated service with one non mandatory federated service down, the entire federated service doesn't start. This is the error I see:
[code]

[2020-10-18 09:08] mcollina commented on #324
Can you provide steps to reproduce?

[2020-10-18 14:11] aldis-ameriks commented on #324
I believe the `mandatory` flag is used only when the schema is being refreshed. Meaning that if any of the (even non-mandatory) services are not running when starting the gateway, there will be a promise rejection during the init phase.
I also just stumbled on this and was wondering if it would make sense that the non-mandatory services do not throw an error during init if the schema refresh (via

[2020-10-18 15:18] mcollina commented on #324
Non-mandatory should not throw if missing during init.

[2020-10-18 20:40] nabsofken commented on #324
[code]

[2020-10-18 20:40] nabsofken commented on #324
And the federated service is as follows:

[code]

[2020-10-18 20:42] nabsofken commented on #324
@mcollina the docs for the mandatory flag mentioned that one service is necessary does that mean I need at least 1 mandatory service?

[2020-10-19 16:25] robmcguinness commented on #296
Can this be closed with https://mercurius.dev/ now? Also would be nice if the README was updated with website.

[2020-10-19 17:34] #296 closed

[2020-10-19 17:42] mcollina commented on #324
Maybe @asciidisco or @pscarey might help you more.

[2020-10-19 19:14] asciidisco commented on #324
@nabsofken

It's not really possible to further debug your problem with the code samples you uploaded, not for a problem which contains that much variables like the one you're describing...
So, if you could create a [minimal reproducible testcase](https://stackoverflow.com/help/minimal-reproducible-example) & upload that one to a public place, it will be much easier to help you.

To elaborate a it

[2020-10-19 22:17] PacoDu commented on #310
needs reproduction

[2020-10-21 02:29] nabsofken commented on #324
@asciidisco here is the sample code https://github.com/TheBrainFamily/cypress-cucumber-webpack-typescript-example.
To reproduce the issue run `npm run serviceA` only then run the `npm run gateway`. The gateway throws an error even though serviceB is set as not mandatory.

[2020-10-24 14:43] aldis-ameriks commented on #300
Support added in #322. Closing issue.

[2020-10-24 14:43] #300 closed

[2020-10-25 18:43] hoangvvo commented on #315
Please don't switch to my fork - it is for experimentation only. I just made a PR to add subscription here: https://github.com/zalando-incubator/graphql-jit/pull/94

[2020-10-26 07:03] #315 closed

[2020-10-26 14:47] nabsofken commented on #324
@asciidisco did you get a chance to look into the test case?

[2020-10-26 19:07] asciidisco commented on #324
@nabsofken Not until now; I scheduled some time within the next 2 days to do so; will get back to you with more details once I have them. At a first glance, your code looks fine.

[2020-10-30 15:38] PacoDu commented on #179
I think we will just need some documentation that explains how to use opentelemetry with mercurius. Some packages are about to be released for graphql instrumentation: [@opentelemetry/instrumentation-graphql](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/master/plugins/node/opentelemetry-instrumentation-graphql). I've not tested this package yet.

[2020-10-31 01:04] PacoDu commented on #179
I'm not sure this should be a module, from what I understand about opentelemetry, the tracer definition is for the end user. What we can do on our end is to add some mercurius specific span, maybe on loaders, cache, jit ?

https://open-telemetry.github.io/opentelemetry-js/#library-authors

[2020-10-31 09:41] mcollina commented on #179
I think it would be awesome to wrap resolvers and loaders.

[2020-10-31 10:13] PacoDu commented on #179
I think it needs more expérimentation but the resolvers are already covered automatically via graphql-instrumentation, a parameters allows to configure the depth of the tracing

[2020-10-31 10:19] mcollina commented on #179
I have a feeling it won't work for graphql-jit, but maybe I'm too pessimistic.

[2020-10-31 12:16] PacoDu commented on #179
Yes it wont.

About fastify and opentelemetry, the current landscape is a bit confusing because there is multiple initiative like https://github.com/autotelic/fastify-opentelemetry and https://github.com/mkinoshi/fastify-opentelemetry.

see https://github.com/open-telemetry/opentelemetry-js-contrib/issues/41

fastify-opentelemetry doesn't seem up to date with the latest version of fastify (it uses

[2020-10-31 13:48] mcollina commented on #179
https://github.com/autotelic/fastify-opentelemetry should do the trick.

[2020-11-01 12:36] alemagio commented on #298
I'll try to integrate [fastify-postgraphile](https://github.com/alemagio/fastify-postgraphile) if no one else is working on this.

[2020-11-01 15:59] wesselvdv commented on #298
It might be interesting now that some additional changes have been applied in how the http part of postgraphile is dealt with. See this PR: https://github.com/graphile/postgraphile/pull/1361

[2020-11-01 17:17] PacoDu opened #342 "feat: Implement @live, @stream, @defer"
It would be awesome to support these directives, see: https://www.apollographql.com/blog/new-features-in-graphql-batch-defer-stream-live-and-subscribe-7585d0c28b07/

I haven't found any implementation yet but I read this will be part of apollo 3.0.

I have no idea how to achieve this feature yet, and this is probably linked to a client implementation. Maybe also a mercurius-client package ?

[2020-11-01 17:38] mcollina commented on #342
That article is 2016. I'm not sure what happened to those but they are likely outside of their plans or already implemented.

[2020-11-01 18:34] PacoDu commented on #342
It's on the 3.0 roadmap of Apollo, I'm on the phone right now i don't have the link

[2020-11-01 20:49] PacoDu commented on #342
https://github.com/apollographql/apollo-client/blob/master/ROADMAP.md#after-apollo-client-30

[2020-11-01 20:57] PacoDu commented on #342
not sure about  `@live` and `@stream` they are covered by subscriptions but @defer seems quite handy and it's implemented in apollo client https://www.apollographql.com/docs/react/v2.4/features/defer-support/

spec: https://github.com/apollographql/apollo-server/blob/defer-support/docs/source/defer-support.md

[2020-11-02 16:21] asciidisco commented on #324
@nabsofken So, I was able to check your problem.
The `mandatory` flag/feature seems to be not working as advertised; meaning it only does 50% of the job it is supposed to do. It works when the schema needs to be `refreshed`, meaning a non-mandatory service (your `ServiceB`) is allowed to not respond when an already running federation does request/refresh its schema, then there'll be no error. Whic

[2020-11-04 09:38] adamovittorio commented on #263
I'm in late.. it has been already worked out

[2020-11-04 11:24] adamovittorio opened #343 "Federation gateway authentication and authorization"
I would like to handle authentication and authorization per GraphQL operation at the Gateway level.

This is quite a complex feature, and I don't have a clear solution in mind; I would like to start the discussion for a possible implementation method.

## General considerations

- Pluggable RBAC method
- The services are responsible for defining the RBAC at schema level to inform the Gateway

[cod

[2020-11-04 11:56] mcollina commented on #343
I've been doing some research on the topic. Most of this revolves around https://www.openpolicyagent.org/ and https://casbin.org/.

If'd like to work on this, I'll be happy to create a new repo in the org... I think this one has way too many features already.

I _think_ we might need to define how the auth token is modelled - or maybe you are already assuming that we'd use JWT. In the case, we dev

[2020-11-04 11:57] mcollina commented on #263
https://github.com/mercurius-js/mercurius/pull/327 is ready to land. However I feel it's a semver-major change and I'd like to bundle it with a few others.

[2020-11-04 12:02] adamovittorio commented on #263
Thanks, it makes complete sense to me; I'm looking forward to trying it!

[2020-11-04 12:52] adamovittorio commented on #343
I like the idea of having different auth strategies that the user can choose.

We could start with the most common-auth method to verify the user token and to decorate the request context with the credentials. Export the GraphQL directives to use in the schema definition, and as you suggested using something like open policy or casbin to define and check the RBAC.

All of that could live in the ne

[2020-11-06 15:48] PacoDu commented on #342
About the stream version:

I'm experimenting with inter service communication or background tasks with federated services, and I would like to reuse the existing graphql interface available for the federation to avoid the addition of an other communication layer.

And I've some cases where I would like to pull a large amount of data from an API for example to do some batch processing, and currentl

[2020-11-07 10:42] mcollina commented on #343
I think you'll need to add some _hooks_ to plugin into some of the internals to achieve this. It's fine and we should definitely add them when they are needed.

[2020-11-07 10:47] mcollina commented on #342
I think we'd need to implement a server-to-server client as well to take use of that properly. I'm overall ok with the idea, however the implementation is complex.

Would you like to kickstart a repo in the org and try to experiment?

[2020-11-07 11:11] hsluoyz commented on #343
Hi, I'm from Casbin team:) I noticed that Nearform has just released two plugins for Casbin based authorization. Does it help on our GraphQL scenario?

- https://github.com/nearform/fastify-casbin
- https://github.com/nearform/fastify-casbin-rest

[2020-11-07 11:42] adamovittorio commented on #343
@mcollina should we start defining the events to emit in mercurius? You mentioned that all the **hooks** logic, it's really similar to the work already done for Fastify, and that we can reuse a lot from there.

@hsluoyz I think this is exactly what we should do here too, adapting it to the GraphQL operation instead that to a route based service.

cc @projectjudge @aleccool213

[2020-11-07 11:43] mcollina commented on #343
That's a good approach!

[2020-11-07 17:10] alemagio commented on #298
Hi, I just made an attempt described [here](https://github.com/alemagio/fastify-postgraphile/blob/master/test/mercurius.test.ts).
The only issue is I was not able to avoid using the postgraphile function so the only way I could to make it work is to use my decorator `postgraphileGQL`.
I'm open to ideas and if anyone wants to jump in I'll be more than happy to collaborate. :smiley:

[2020-11-07 19:19] mcollina commented on #298
@alemagio that's essentially the problem described above, take a look. Your example is not really integrating them in any way.

[2020-11-07 19:34] alemagio commented on #298
@mcollina
Sorry, should have mentioned [this](https://github.com/alemagio/fastify-postgraphile/blob/master/src/index.ts) too.
It basically uses the decorator created by mercurius instead of the simple `graphql` function after replacing the `schema` created by postgraphile in mercurius.
I know it's not ideal, it's just an attempt.

[2020-11-09 08:41] PacoDu commented on #342
Sure, I'll take a look when I've some time available.
Should it rely on https://github.com/ndjson/ndjson-spec or something similar ?

[2020-11-09 15:01] tvvignesh commented on #278
OOPS. I migrated everything away from apollo to mercurius and fastify and then got stuck on how to call execute with `graphql-modules`. Then happened to see this and https://github.com/Urigo/graphql-modules/issues/1366

Looks like I have to end up using something else with fastify to use graphql-modules 😭

[2020-11-09 18:08] mcollina commented on #342
I would do that, yes.

[2020-11-09 18:12] mcollina commented on #278
This really need someone who takes a look and start working on this feature :).

---

FWIW, this module as significant optimizations that are not easy to replicate. Those same optimizations makes implementing this _hard_.

[2020-11-09 18:15] mcollina commented on #298
You are not really verifying this works: https://github.com/alemagio/fastify-postgraphile/blob/1d1ca4290f9433f616951e51b2b1bb0dcbf8480a/test/mercurius.test.ts#L45-L77.

You are still calling `postgraphileGQL` which does not use mercurius.

[2020-11-09 18:17] kamilkisiela commented on #278
We just need a way to wrap the async flow where `contextValue` is created and an execution phase of GraphQL is started and completed (can be `execute` can be graphql-jit, doesn't matter).

[code]

[2020-11-09 18:23] alemagio commented on #298
Maybe I'm not understanding it well, so feel free to slap me in the face if I'm wrong :sweat_smile:

I added an option specific for mercurius (a dirty job actually) and in this scenario I use the decorator of mercurius to execute the query (https://github.com/alemagio/fastify-postgraphile/blob/1d1ca4290f9433f616951e51b2b1bb0dcbf8480a/src/index.ts#L46)
That is injected in the `QueryPerformer`
If `m

[2020-11-09 18:59] mcollina commented on #298
Your test should cover:

1. remove this route handler https://github.com/alemagio/fastify-postgraphile/blob/1d1ca4290f9433f616951e51b2b1bb0dcbf8480a/test/mercurius.test.ts#L45-L47

2. call `/graphql` route provided by Mercurius routes to https://github.com/alemagio/fastify-postgraphile/blob/1d1ca4290f9433f616951e51b2b1bb0dcbf8480a/test/mercurius.test.ts#L52

[2020-11-10 09:31] alemagio commented on #298
@mcollina
Thanks for your help!
I'll try to fix it.

[2020-11-10 13:25] simoneb opened #345 "Create list of open source GraphQL implementations using mercurius"
It would be cool to have a list of OS APIs built on top of mercurius!

[2020-11-11 16:38] simoneb opened #347 "Create an open source implementation of a Federated Schema Registry"
Netflix is publishing how they're approaching implementing GraphQL Federation on [their blog](https://netflixtechblog.com/how-netflix-scales-its-api-with-graphql-federation-part-1-ae3557c187e2).

An interesting element is the existence of a schema registry (picture taken from the blog post, highlight is mine).

![image](https://user-images.githubusercontent.com/20181/98838258-47729600-2444-11eb-90

[2020-11-11 16:39] mcollina commented on #347
cc @adamovittorio

[2020-11-11 16:56] asciidisco commented on #347
I've been working something like this for quite some time now (after we realized, that we can't handle a large graph properly without one).
We've tried https://github.com/pipedrive/graphql-schema-registry but it has quite some limitations that render it impossible to use for us, and even if we would continue to use `Apollo` (which is something we want to trade in for `mercurius` early next year),

[2020-11-11 17:24] adamovittorio commented on #347
This is a fascinating topic for us too.
cc @projectjudge @aleccool213 @edno

[2020-11-11 21:12] mcollina commented on #347
also @lucamaraschi is very interested!

[2020-11-12 17:58] PacoDu opened #348 "fix: extendSchema does not work with federationMedata set to true"
The `_service { sdl }` is not updated on extendSchema with federationMetadata set to true, which means that extendSchema does not work at all if federation is enabled because the sdl does not reflect the changes.

My current workaround is to merge schemas and resolvers from different module before registering mercurius. But that makes it difficult to split code in different modules without some cu

[2020-11-12 19:16] mcollina commented on #348
I think the correct path is to throw in `extendSchema` if federation is enabled and then have a better fix that adds support for it.

[2020-11-13 11:37] #179 closed

[2020-11-14 12:53] aldis-ameriks opened #350 "PubSub, SubscriptionContext and types"
I'm trying to wrap my head around the subscription implementation and typescript types.

Looking at TS types:
[code]

We have the `pubsub` field on the `context`, which is then passed inside the resolvers and loaders.
However, it seems that it's not typed as `PubSub`, but instead as `SubscriptionContext`?

But then interestingly, the same `context` is used as a type for context in `subscription.su

[2020-11-14 13:41] mcollina commented on #350
I would recommend to make the change in JS first, and then adjust the types to support said changes later.

[2020-11-14 16:03] PabloSzx commented on #281
Now we have official docs about TypeScript usage https://mercurius.dev/#/docs/typescript 🎉

[2020-11-14 18:03] PabloSzx commented on #284
Shouldn't this issue be closed? 👀

[2020-11-14 21:54] #284 closed

[2020-11-14 21:54] mcollina commented on #284
yes! If you see stuff that can be closed, go ahead and close it!

[2020-11-15 01:42] PabloSzx commented on #243
fixed in #254

[2020-11-15 01:42] #243 closed

[2020-11-16 14:33] aleccool213 commented on #347
@asciidisco

It would be fascinating to know what the limitations you encountered when using [graphql-schema-registry](https://github.com/pipedrive/graphql-schema-registry). That could really influence the decisions made here.

[2020-11-16 16:38] mcollina commented on #347
One option might be to fork https://github.com/pipedrive/graphql-schema-registry and make the changes we want?

[2020-11-17 15:10] aleccool213 commented on #347
That's a great idea. Its either fork or develop a close relationship with the maintainer to have pull requests go into that repo. Its using fairly standard tech (react/node) so should be fairly easy for everyone who would be contributing to mercurius to also contribute there.

[2020-11-19 07:59] PeteSolid opened #352 "Docs: Database Integration"
Hi, I am a beginner and it is not quite clear to me how to combine it with a Database like PostgresQL to read and write?
Are there docs for that?
Many thanks!

[2020-11-19 16:30] mcollina commented on #352
Unfortunately there are not! It would be great to create such content - I'll leave this  open  as a Good First Issue.

[2020-11-19 17:44] voxpelli commented on #352
I can leave a small description here right away, in a few steps:

1. Add something like [`fastify-postgres`](https://github.com/fastify/fastify-postgres):
[code]

2. Add `mercurius` and a schema:

[code]
3. And then to complete it: In your GraphQL resolver, you will (unless you have changed the default) find the Fastify app instance as `app` on the GraphQL context. And on the Fastify app instance

[2020-11-20 12:38] projectjudge opened #353 "fix: arguments not passed to fields on reference types"
The Mercurius gateway does not pass through arguments to fields requiring arguments of federated service reference types. For example, for this scenario:

User Service schema:

[code]

Post Service schema:

[code]

Federated schema:

[code]

When sending up the following query to the gateway:

[code]

The query that gets sent to the Post service (extending the User type) does not contain the origi

[2020-11-20 16:33] #353 closed

[2020-12-02 18:20] simoneromano96 opened #355 "Fastify 3.9.0 doesn't work"
Hello, I'm working on a simple api with mercurius and fastify.

I saw that after the 3.9.0 fastify release the plugin is not working anymore.

I tested on both windows and linux.

The repository is public and available here: https://github.com/simoneromano96/graphql-todo-backend/tree/update-deps

The error is this:
[code]

[2020-12-02 20:31] mcollina commented on #355
It's a regression in fastify, we'll fix it in 3.9.1 shortly.

https://github.com/fastify/fastify/pull/2718

[2020-12-02 20:34] #355 closed

[2020-12-05 12:30] projectjudge opened #356 "fix: gateway doesn't strip non-service types when querying with inline fragments"
The gateway doesn't strip non-service types when querying federated services using inline fragments.

For the following schema:

Service 1:

[code]

Service 2:

[code]

Gateway:

[code]

If we query using an inline fragment:

[code]

We get the following error:

[code]

Looking into the Mercurius code, the issue appears to be with the `removeNonServiceTypeFields` function which doesn't strip non-s

[2020-12-05 14:27] mcollina commented on #356
Go ahead and open a PR!

[2020-12-05 20:00] #356 closed

[2020-12-07 00:09] bRRRITSCOLD opened #358 "Graphiql not loading"
***UPDATE***:
Here is the [repo/personal template](https://github.com/bRRRITSCOLD/ts-typegraphql-fastify-graphql) ([entry file](https://github.com/bRRRITSCOLD/ts-typegraphql-fastify-graphql/blob/master/src/index.local.ts)) I am using. README should get it going locally with minimal effort. Let me know if it does not and I will help out.

I also started to look into if it is a local browser setting

[2020-12-07 01:15] PabloSzx commented on #358
can you make an example reproducing the error (github repo or codesandox)? it seems to be a csp security policy configuration issue in your fastify instance rather than a mercurius error

[2020-12-07 01:38] bRRRITSCOLD commented on #358
@PabloSzx 100% my fault for not doing that from the beginning.

Here is the [repo/personal template](https://github.com/bRRRITSCOLD/ts-typegraphql-fastify-graphql) I am using. README should get it going locally with minimal effort. Let me know if it does not and I will help out.

[2020-12-07 13:54] PabloSzx commented on #358
![image](https://user-images.githubusercontent.com/8672915/101358869-3ddd2200-387a-11eb-9b85-2e8915be0a9d.png)

![image](https://user-images.githubusercontent.com/8672915/101358801-21d98080-387a-11eb-8b6a-d1a4090006ca.png)

It is a [fastify-helmet](https://github.com/fastify/fastify-helmet) configuration issue, by default it uses strict contentSecurityPolicy, [check here](https://helmetjs.github.i

[2020-12-07 13:54] #358 closed

[2020-12-07 15:13] bRRRITSCOLD commented on #358
@PabloSzx You are amazing. I had a hunch it was something configuration wise, I was having trouble finding anything in the stack trace to lead me in the right direction though :( Cheers!!!

[2020-12-07 17:40] edno commented on #342
It would be great to support @defer and @stream since the [RFC](https://github.com/graphql/graphql-spec/blob/master/rfcs/DeferStream.md) is making good progress.

- https://github.com/graphql/graphql-js/issues/2848
- https://github.com/graphql/graphql-js/pull/2839

[2020-12-07 21:18] PacoDu commented on #342
@edno I didn't even know about the RFC ! I don't have time to work on this feature right now, feel free to open a PR !

[2020-12-08 11:55] HosseinAgha opened #359 "ErrorWithProps is not exported from the TypeScript types"
We have an example for using `ErrorWithProps` in the documentation but it looks like it is not exported from the TypeScript types.

[2020-12-08 12:48] mcollina commented on #359
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-12-08 14:15] PabloSzx commented on #359
`ErrorWithProps` is being exported, it's just inside the default namespace ([check here](https://github.com/mercurius-js/mercurius/blob/master/index.d.ts#L365)), which is how the library is actually exporting the class.

[code]

[2020-12-08 14:15] #359 closed

[2020-12-09 05:46] dantehemerson opened #360 "Error on build using typescript"
![image](https://user-images.githubusercontent.com/18385321/101590135-d88f4b00-39b7-11eb-8711-29fdd6939923.png)

[2020-12-09 07:45] #360 closed

[2020-12-10 18:37] ebello opened #362 "Best practice for using params in loaders"
I'm wondering how best to treat params in a loader. For example, let's extend the example in the [loaders test](https://github.com/mercurius-js/mercurius/blob/master/test/loaders.js#L52) so that dogs can have multiple caretakers with different roles. We want to extend the owners query with a param to filter by role:
[code]

In the loader function itself, I'm wondering how best to extract the role.

[2020-12-11 22:18] mcollina commented on #362
I don't think you can assume the role would be identical as you can include two GraphQL queries in the same payload with different roles.

[2020-12-14 19:53] aleccool213 commented on #347
An update here, from the sounds of it, The Guild will be releasing "Hive" which is their version of an open-source graphql schema registry. Might be good just to wait for that.

[2020-12-14 19:57] aleccool213 opened #366 "Question: Validating headers"
Hi there!

I would like to validate some headers on the request. I see in [Fastify](https://www.fastify.io/docs/latest/Validation-and-Serialization/#validation) you can do this using the `schema`config but that is already being used for the GraphQL schema. What is the best way to go about doing this?

Right now, we throw errors when constructing the `context` object but those are not getting bubbl

[2020-12-14 20:15] aleccool213 commented on #366
After doing some more research, I'm wondering if this should be even handled at a gateway or context creation level. Does this make more sense to always have at a `query` or `mutation` level? Then have decorators around those functions in your resolvers.

[2020-12-15 10:19] mcollina commented on #366
Can you make a use case of validating the headers?

[2020-12-15 15:45] aleccool213 commented on #366
I thought I had a valid one but I think just defining it on the query/mutation level is better on all accounts. I can't think of a scenario that we have currently where I would need to validate a header on every request for every single query/mutation. I was thinking `Accept-Language` or some to do with authentication but its still not a catch-all, only certain operations support these.

[2020-12-15 15:45] #366 closed

[2020-12-23 14:36] acro5piano opened #369 "How to use subscriptions with fastify-websocket?"
First of all, thank you for the great library.

I'm trying to work both mercurius + fastify-websocket using `subscription: true`, but stacking.

My code is like this:

[code]

Then connect to ws://127.0.0.1:6767/ws and I'm seeing the following output:

[code]

I've created reproductive repo.

https://github.com/acro5piano/mercurius-with-fastify-websocket

Do you have any hints on it?

Possible sol

[2020-12-23 15:31] acro5piano commented on #369
Oh I've found a way to do it.

If I edit this line and

https://github.com/acro5piano/mercurius/blob/c835596557e867d990a009a95ef3e7ff5f7c7c54/lib/subscription.js#L8

https://github.com/acro5piano/mercurius/blob/master/lib/subscription.js#L8

[2020-12-23 16:16] kuznetsov-online commented on #225
@asciidisco any news, please? It's a very needed feature.

[2020-12-23 16:32] asciidisco commented on #225
I‘ve just worked on it yesterday (had a very busy quarter at work that left me no space for any side quests) as I‘m on vacation right now. I wanted to finish the Cache Control feature before we celebrate new years. There are just a couple of unit tests left to be written.

[2020-12-23 16:34] kuznetsov-online commented on #225
wow! good news!

[2020-12-23 17:29] acro5piano commented on #369
I've saw the whole code and my assumption is the following. (I'm not so familiar with Fastify plugins)

- fastify-websocket adds WebSocket route using `onRoute` hook
- Fasity does not fire `onRoute` hook from plugins. However, if we wrap the plugin with `fp`, it fires.
- Currently plugins are multi-layers.
    - 1. mercurius (index.js)
    - 2. routes.js
    - 3. subscriptions.js
    - 4. fasitfy-

[2020-12-23 17:42] acro5piano commented on #369
Sorry to post too much comments. I've confirmed adding `fp` to every plugins solved my issue. I'll create a PR soon.

[2020-12-26 15:45] 0x77dev opened #370 "gateway subscriptions is trying to get subscription from his own resolvers"
gateway is seeing subscription schema from another service, but i think it is trying to resolve subscription from it's own resolvers.

### Gateway Screenshot
![Gateway Screnshot](https://user-images.githubusercontent.com/46429701/103154672-93359080-47a1-11eb-8d93-045859fbba0d.png)

### Service Screenshot
![Service Screenshot](https://user-images.githubusercontent.com/46429701/103154691-c1b36b80-47

[2020-12-26 17:41] mcollina commented on #370
Could you please add a full example to reproduce?

[2020-12-26 18:10] mcollina commented on #369
I don't think this use case was originally supported. Unfortunately you can't use fastify-websocket more than once on a given instance. We should be able to detect if it has been loaded already and not load it twice. Would you like to implement this?

[2020-12-27 14:56] acro5piano commented on #369
@mcollina
Thank you for the hint. I'll try to implement it.

[2020-12-27 22:34] #369 closed

[2020-12-28 20:46] Urigo commented on #347
If someone wants to meet with us and discuss their needs to make sure we are covering it, feel free to [reach out](https://github.com/Urigo) and let's meet early next year!
We want to hear as much feedback, use cases and most importantly workflows you are having and make sure that by the time we open source it, it fits to the important workflows people are having

[2020-12-29 08:58] mcollina commented on #347
@Urigo we have not defined our requirements at NearForm - I'll likely ping you in the coming weeks.

[2021-01-03 23:06] capaj opened #376 "any advice how to deploy this using serverless framework?"
I'd love to use mercurius instead of apollo-server-lambda, so if someone has done this, please contribute even a short guide.

[2021-01-04 01:59] acro5piano commented on #376
@capaj

I'm using aws-lambda-fastify.

https://github.com/fastify/aws-lambda-fastify

I created an example project including mercurius and Netlify functions. Netlify functions are wrapper for AWS lambda, so you can find a way to deploy it AWS Lambda.

https://github.com/acro5piano/fastify-netlify-lambda-example

[2021-01-04 04:01] mcollina commented on #376
Having a short guide would be nice! I'd recommend using aws-lambda-fastify.

[2021-01-09 00:15] stolinski commented on #65
Along these same lines, I'm trying to integrate with https://github.com/fastify/fastify-cookie and not having any luck settings cookies via the reply passed into context.

[2021-01-09 12:47] mcollina commented on #65
This probably needs some docs and a well built example. I have mercurius in production with both authentication and authorization.

[2021-01-09 19:10] jkirkpatrick24 commented on #347
We would love to have something like this. I'm very interested in following along and contributing!

[2021-01-11 10:59] 0x77dev commented on #370
@mcollina https://gist.github.com/0x77dev/af60ef51e5405393c311f652ddd14289

[2021-01-11 21:46] valdestron commented on #324
This mandatory flag would be awesome feature, if only gateway could start without mandatory services, otherwise it is absolutely not usable because we can not trust the flag and have to implement schema querying for each service before starting up the gateway. All services becomes hard dependencies. E.g. non-mandatory service is down and gateway pod restarting at that time, we as users can not use

[2021-01-12 10:19] vimutti77 commented on #376
@acro5piano Does it support subscription?

[2021-01-12 10:38] acro5piano commented on #376
@vimutti77
Unfortunately no.
In terms of severless, my idea is to use Pusher as a subscription transport. However, I haven't tried it yet and there should be lots of work...

c.f.) https://lighthouse-php.com/master/subscriptions/client-implementations.html#apollo-for-pusher

[2021-01-14 17:04] nigelhanlon commented on #370
I managed to get the sample code working with some small changes. I have put it together in this [Gist](https://gist.github.com/nigelhanlon/defbf4f34e6993bbcad623df6ca5be98).

It seems that if you try and return a scalar type directly in the subscription it causes a format error, but if you return a type with the scalar inside it, the error disappears. Not sure why it’s the case but that’s a possi

[2021-01-15 11:40] 0x77dev commented on #370
@nigelhanlon

Yup, works for me!

[2021-01-19 05:07] jmfury commented on #65
Figured I would drop a note here that [`graphql-shield`](https://github.com/maticzav/graphql-shield) works as expected with `mercurius`.

It's one path for authorization, as a `graphql-middleware`, which may work for some use cases.

I could contribute an example if that'd be of interest.

[2021-01-19 07:56] mcollina commented on #65
An example would be amazing!

[2021-01-20 15:37] franck-romano opened #379 "Gateway schema refresh issue with TypeGraphQL"
Hey there,

First thank you for the good work on this awesome library 🙏 , the fastify eco-system is just neat !

----

I have an issue that's making me crazy and I'm seeking your help on this.

I have a gateway running in federation mode like this:

[code]

And a downstream service using mercurius (not in gateway mode) with schema generated through [type-graphql](https://github.com/MichalLytek/typ

[2021-01-21 11:05] projectjudge opened #380 "Add hooks to Mercurius"
In order to define gateway authentication and authorization as discussed in https://github.com/mercurius-js/mercurius/issues/343, we should add GraphQL hooks support to Mercurius so we can process data at different points in the request lifecycle.

## Requirements

- [ ] All necessary hooks triggered in Mercurius at the correct stage of the GraphQL request lifecycle
- [ ] One can define multiple h

[2021-01-21 11:16] mcollina commented on #380
Thanks for the long description, it's fantastic. SGTM with the plan, are you going to work on it?

A few notes: fastify supports both callbacks and promises. We should just support promises for this as the whole GraphQL ecosystem is all promise-based.

[2021-01-21 11:32] projectjudge commented on #380
Yep, I planned on starting the implementation today if that's okay with you?

Thanks for the tips about the callbacks/promise support - I'll make sure just promises are supported :)

[2021-01-21 11:34] mcollina commented on #379
Thanks for reporting this. I do not know what type-graphql does differently and what is causing this.... we have tests in place to verify this behavior, so it _should_ work. You are probably in the best position to diagnose what's the root cause of this and send a PR to fix it. Would you like to give it a go?

[2021-01-22 08:09] jbpin commented on #347
For sure, I'm in !

[2021-01-22 09:13] franck-romano commented on #379
Hello !

You're welcome.

Yup I can give it a try, however I need some time to setup a dummy repository so I can iterate on it.
I'll keep you up-to-date :)

:wave:

[2021-01-23 17:34] franck-romano commented on #379
I found something very strange: the schema is properly refreshed once something is added to the downstream service but I keep on having this error: "Cannot return null for non-nullable field Query...".

I noticed that the query/mutation  never reaches the downstream service.

Here is the hypothesis that I will try to follow:

- There might be a difference between the gateway's boostrap behaviour a

[2021-01-23 20:08] mcollina commented on #379
Seems promising, keep going!

[2021-01-23 21:33] franck-romano commented on #379
I managed to find a little difference:

As we can see [here](https://github.com/mercurius-js/mercurius/blob/master/lib/gateway.js#L307) `Query`, `Mutation` and `Subscription` fields are set to `null` before defining the resolvers.

However, if we have a look at the [`refresh()` method](https://github.com/mercurius-js/mercurius/blob/master/lib/gateway.js#L371), those fields are not set to  `null`.

[2021-01-25 07:52] mcollina commented on #379
I'd recommend to make a PR!

[2021-01-25 15:10] vnStrawHat opened #382 "Error: subscription with redis"
I try to implement graphql subscription using Fastify and mercurius follow this example (https://github.com/mercurius-js/mercurius/blob/master/docs/subscriptions.md#subscription-support-with-redis) but have error:
[code]
when start, app run successfully but when publish a message to channel NOTIFICATION, application crash with error above.
Here is my code:
[code]
package.json:
[code]
Reproduce:
-

[2021-01-25 17:41] mcollina commented on #382
You should publish using the internal API and not use the redis cli.

[2021-01-26 01:04] vnStrawHat commented on #382
Thanks @mcollina for your response,

In my case, other application will publish data and this application will only subscribe data. How can I make it work like this ?

[2021-01-26 09:47] mcollina commented on #382
You should use https://github.com/mcollina/mqemitter-redis and provide them in the required format (msgpack).

[2021-01-26 09:47] #382 closed

[2021-01-26 16:20] PabloSzx commented on #376
If it's useful, I made a template for deploying mercurius/fastify in serverless [Vercel](https://vercel.com/)/[Next.js](https://nextjs.org/), using a similar strategy as "aws-lambda-fastify"

https://github.com/PabloSzx/next-fastify-mercurius-vercel

https://next-fastify-mercurius.vercel.app/

https://next-fastify-mercurius.vercel.app/api/altair

[2021-01-26 20:41] #379 closed

[2021-01-28 17:25] ramiel opened #384 "Usage with typegraphql"
Is it possible to use the schema generated by [typegraphql](https://typegraphql.com/)? The type exported by typegrahql is `GraphQLSchema`, the same expected by mercurius, but it doesn't work and there's no error message.

[2021-01-28 17:44] mcollina commented on #384
I'm not personally a user of Typegraphql... so I would leave it to the community. Maybe you can send a PR to fix this and/or add an example.

[2021-01-28 19:00] ramiel commented on #384
Indeed. I was hoping in some previous experience by any of the users here :)

[2021-01-29 08:50] ramiel commented on #384
Ok, I found out there's actually no problem to use mercurius with type-graphql which produces a consumable schema. The only problem is that graphql versions mismatch and the produced schema cannot be used because of this. A solution would be to have `graphql` as a peer dependency instead of being a normal dep. I propose a PR if this makes sense to you.

[2021-01-29 09:00] mcollina commented on #384
I don't see graphql as a dependency in https://www.npmjs.com/package/type-graphql

[2021-01-29 09:26] voxpelli commented on #384
@mcollina It's a `peerDependency`: https://github.com/MichalLytek/type-graphql/blob/d50861399d8ea6b32328d667e38ff1562e270366/package.json#L22-L25

[2021-01-29 09:31] voxpelli commented on #384
I've generally also found this to be true for complex types like this, having them as direct dependencies can easily cause errors as multiple versions of the module then easily can exist side by side and the tiniest of differences between types in the them are enough to make types rejected.

[2021-01-29 09:40] mcollina commented on #384
I don't understand this, as the two ranges of mercurius and type-graphql overlaps, so only one dependency should be installed.

[2021-01-29 09:49] ramiel commented on #384
I agree with you, this shouldn't be a problem, nonetheless it was during my test. I'll check later if I did any other mistake, maybe some other deps included graphql or, most probably, in development type-graphql still install graphql and the version mismatch happens. Note that graphql is a dev dependency for type-graphql: https://github.com/MichalLytek/type-graphql/blob/d50861399d8ea6b32328d667e3

[2021-01-29 09:53] mcollina commented on #384
Thanks, a reproduction repo would be good!

(I also recommend to remove lockfiles and node_modules and reinstall everything from scratch)

[2021-01-29 11:35] voxpelli commented on #384
Does the current npm ensure that?

I know that at least Yarn `1.x` doesn't when one has a lockfile in place – installing a new module or a new version of a module only installs the latest dependencies for that module, it doesn't change the version used by other modules, so one can easily end up with multiple versions of the same module.

Of course one can fix this by running a `yarn upgrade`, as t

[2021-01-29 11:37] mcollina commented on #384
I think this is about good maintainance of the the lockfiles. We can't really support a combination of every version with every other version of our dependency that fit our ranges. The most common approach is to only support the last.

[2021-01-29 12:19] voxpelli commented on #384
Sure, eg. running `yarn add graphql mercurius typegraphql` (if one has all three added at the top) should solve it.

Though I wouldn’t go as far as saying that duplicated modules are necessarily a sign of bad lockfile maintenance.

But maybe npm is solving it better than yarn 1?

[2021-01-29 12:51] mcollina commented on #384
I don't know.

Anyway, this is not a bug.

[2021-01-29 12:51] #384 closed

[2021-01-30 17:36] ramiel commented on #384
It looks like installing dependencies all in one shot fixes the problem, so

[code]

Anyway this issue has never been opened as a bug report, but just as a way to investigate how to use mercurius with type-graphql. This may be helpful to other people using tools in the graphql ecosystem.

[2021-02-01 04:03] kodeine opened #386 "Nestjs support"
Hello, is this supported with nestjs? Any example i can take a look at ?

[2021-02-01 08:25] mcollina commented on #386
I have never tried to run this with Nestjs. It _might_ work

[2021-02-01 11:31] benbender commented on #298
@wesselvdv any news on publishing your try on the integration? Sorry to be pushy, but I would love to have a look! :)

[2021-02-02 08:02] smolinari commented on #386
I'd just like to add, with the neglect Apollo Server has had the past couple of years and seeing this project looking pretty lively and interesting with decent docs, AND being a NestJS user, this issue caught my eye directly. Apollo Server's Fastify support is broken AFAIK or it requires a good bit of patching to get working and overall the situation with Apollo Server is distressing, and almost d

[2021-02-02 08:32] mcollina commented on #386
If anybody would like to work on an adapter inside this github organization, let us know and we'll set up a repo!

[2021-02-02 18:28] #380 closed

[2021-02-10 18:14] #263 closed

[2021-02-12 04:33] stephenh opened #390 "Allow setting graphql-jit's customJSONSerializer / fast-json-stringify"
I'd like to use graphql-jit's `customJSONSerializer` option, to use `fast-json-stringify` instead of `JSON.stringify`, but it looks like that isn't possible:

https://github.com/mercurius-js/mercurius/blob/361e9534f8c5e0dd693e16c7943b74b0d4c20e1e/index.js#L483

Could this be supported by mercurius's API?

I'm also a little curious if `customJSONSerializer` should just always be passed true, i.e. i

[2021-02-12 14:59] mcollina commented on #390
`flatstr` is done automatically by fastify.

Historically graphql-jit had fast-json-stringify backed in. However they removed it in one of the latest versions.
Would you like to send a PR to add it back to mercurius?

[2021-02-12 20:20] mhf-ir opened #391 "Cannot load playground"
[code]

API work using https://github.com/imolorhe/altair

[2021-02-12 20:31] mhf-ir commented on #391
BWT seems be plane is replacement of playground on https://github.com/mercurius-js/mercurius/issues/306

[2021-02-12 23:33] moonkev opened #392 "Closing out subscription does not execute return() on async iterator from subscription resolver"
Hi

I am working on a new application and looking to use mercurius to serve up graphql subscriptions.  During development, I noticed that if I close the the subscription client either abruptly or gracefully by sending a `GQL_STOP` the underlying async iterator from the subscription resolver will keep running.  In my working program (unable to share this particular code as it is  private code from

[2021-02-13 08:22] mcollina commented on #392
I haven't run the example, but the problem seems that in https://github.com/mercurius-js/mercurius/blob/master/lib/subscription-connection.js the iterator loop is never exited when the connection errors.

Would you like to send a PR?

[2021-02-13 09:30] mcollina commented on #391
You need to enable the playground o graphql by passing an option. Check docs https://mercurius.dev/#/docs/api/options?id=plugin-options.

As of altair, and replacements, would you mind to send a PR?

[2021-02-13 09:30] #391 closed

[2021-02-13 14:17] wesselvdv commented on #298
@benbender I ultimately dropped the approach, I was having major performance issues with the hybrid approach. I never really managed to find out where the issue was coming from, but my guess is that I was not able to release objects correctly after a request. I suggest you use their builtin route handler for fastify. It has much better performance.

[2021-02-13 18:52] Davide-Gheri commented on #386
Hey all, I just started working on it:
https://github.com/Davide-Gheri/nestjs-mercurius

It is still an early work in progress but a simple GraphQL server "works" (queries/mutations/field resolvers) with code first approach.

I reused a lot of the official **@nestjs/graphql** module, basically writing only a new MercuriusModule that register mercurius to the Nestjs Fastify instance.

I managed to

[2021-02-14 20:47] moonkev commented on #392
@mcollina I would be happy to open a PR, I will tuck the iterator into the map with the subscription context and will call return on the iterator when the context is also closed.  I will try to get a PR out tonight or tomorrow.

[2021-02-14 22:05] valdestron commented on #392
This is related to: https://github.com/apollographql/graphql-subscriptions/issues/99#issuecomment-508520944

Mercurius is based on custom Subscription implementation not subscriptions-transport-ws. Those who try to migrate from apollo/gateway to mercurius gateway often faces a memory leak in subscription because pubsub does not fire asyncIterable.return(). Instead mercurius subscriptions is based

[2021-02-14 23:02] jonnydgreen opened #394 "Tests intermittently failing"
Hi! As mentioned in this conversation https://github.com/mercurius-js/mercurius/pull/385#issuecomment-770115379, I've taken a closer look at the intermittently failing tests and identified a few potential fixes for the intermittent errors that I've come across:

 - For test [`subscription server works with fastify-websocket`](https://github.com/mercurius-js/mercurius/blob/master/test/subscription.

[2021-02-14 23:16] jonnydgreen commented on #394
I have also noticed just now that the test [`https://github.com/mercurius-js/mercurius/blob/master/test/gateway/pollingInterval.js#L534`] also occasionally fails in the CI only with the following error:

[code]

Happy to take a look at this one as well :)

[2021-02-14 23:17] mcollina commented on #394
Amazing, could you send PRs?

[2021-02-14 23:19] jonnydgreen commented on #394
For sure, will send the first one now with the 3 fixes I mentioned in the original description! I'll follow up with a PR for the other failing test as well :)

[2021-02-15 01:12] #392 closed

[2021-02-15 09:32] nigelhanlon commented on #347
Just wanted to mention the availability of a new schema registry reporting plugin for Mercurius: https://github.com/nearform/mercurius-apollo-registry.

[2021-02-16 16:52] PacoDu opened #397 "Unstable gateway entities resolution"
I'm experiencing an instability from the gateway:

Once the gateway is started, some queries that need to resolve a shared entity (with the _entities query) fail with a `SocketError: other side closed`. The error is random and other queries that depends on the same service are working.
And there is no error on the service side (running on fastify/mercurius - healthchecks working) as the gateway do

[2021-02-16 20:40] mcollina commented on #397
Try checking it lowering https://github.com/mercurius-js/mercurius/blob/3948c6e305efda650e3afbd72c17ed7aabcb3d48/lib/gateway/request.js#L10 to 5-30 seconds removes most of these problems (I think it should). Please test and let us know so we will lower this default

However we should still investigate why you are seeing the high CPU spikes

[2021-02-17 11:09] PacoDu commented on #397
Thanks ! But it didn't fix the issue, it seems that it reduced the occurence but it's hard to assess..

About the CPU usage:
![image](https://user-images.githubusercontent.com/1575833/108195865-b2ed9300-7118-11eb-8964-b4ced9c25ac0.png)

When the error occurs the CPU usage rises and takes a really long time before going down (if the gateway is not stimulated, otherwise it increases until it can't r

[2021-02-17 11:15] PacoDu commented on #397
![image](https://user-images.githubusercontent.com/1575833/108196751-c64d2e00-7119-11eb-902f-83fca0dfd3f8.png)
And memory leak apparently

[2021-02-17 12:46] mcollina commented on #397
Can you reproduce in the lab and generate a flamegraph of what's happening? It seems it's a bad interaction between our loader implementation and socket errors.

[2021-02-17 14:25] PacoDu commented on #397
Sure : [Clinic flame archive](https://scw.s3.exwexs.net/exwexs-public/220.clinic-flame.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=FginarfMchZsK4Zbvd%2F20210217%2F%2Fs3%2Faws4_request&X-Amz-Date=20210217T142404Z&X-Amz-Expires=432000&X-Amz-SignedHeaders=host&X-Amz-Signature=66304b6d56816c9aaeb431c2d7a0f11b0800d4ddbfa8f486ce249a53a2a42c95)

[2021-02-17 15:21] PacoDu commented on #309
Resolved by https://github.com/mercurius-js/mercurius/pull/311

[2021-02-17 15:21] #309 closed

[2021-02-17 16:50] mcollina commented on #397
the flame archive does not contain the file.

I have a feeling it's because of `safe-stable-stringify` that is used from https://github.com/mcollina/single-user-cache/blob/ce555fef21168ebcfd68e431b9dc235173fe6fb2/index.js#L4 in https://github.com/mcollina/single-user-cache/blob/ce555fef21168ebcfd68e431b9dc235173fe6fb2/index.js#L59.

This should called by https://github.com/mercurius-js/mercurius/b

[2021-02-17 17:15] PacoDu commented on #397
Strange I do see the files if I download it (it's the full collect archive not the html file). Here is the [html file](
https://scw.s3.exwexs.net/exwexs-public/220.clinic-flame.html?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=FginarfMchZsK4Zbvd%2F20210217%2F%2Fs3%2Faws4_request&X-Amz-Date=20210217T171031Z&X-Amz-Expires=432000&X-Amz-SignedHeaders=host&X-Amz-Signature=b6214a09aea624a6278fa970e

[2021-02-17 17:25] mcollina commented on #397
Would you work on a PR? This is a great bug!

[2021-02-18 00:21] #394 closed

[2021-02-18 10:22] PacoDu commented on #397
Ofc, I'm not sure that I see exactly the way to fix this, but I'll give it a try !

[2021-02-18 11:26] Davide-Gheri opened #398 "Disabling cache breaks replaceSchema"
Passing `cache: false` as Plugin option makes `buildCache` return `null`, so LRUs instances are null.

But the `replaceSchema` method does not check if LRUs are null and throws
[code]

It's necessary to wrap each LRU call with an if :
[code]

[2021-02-18 12:15] PacoDu commented on #397
I've implemented a way to customize the id in single-user-cache but I'm not sure it matches the solution you wanted..

I don't see how we can handle an id per entity, what I proposed in single-user-cache will just allow us to define a custom cache id instead of using the whole query object as a key. I feel like I'm not going in the right direction 😅

[2021-02-18 17:09] #398 closed

[2021-02-18 18:04] mcollina commented on #397
That's exactly the right direction!

Yes, that's the idea!

[2021-02-18 21:03] PacoDu commented on #397
I'm currently testing #401 in the lab... it's fast ! really fast !!

The query that was causing the issue is a lot faster with this fix, it's always <100ms (mostly ~60ms), this query was taking from 250ms to >5s without the fix.  (this is a rough estimate based on some quick tests)

[2021-02-18 21:36] PacoDu commented on #397
Autocannon report for the same query on two freshly booted gateways:

without fix:
[code]

with fix #401 :
[code]

And the first benchmark would be worst for a longer test as the issue was stacking up

[2021-02-19 08:43] PacoDu commented on #397
It's hard to guaranty that it fixed the issue but we are not seeing it anymore in the lab, we will see in production once #401 is released. I think that it was probably delaying the keep-alive, thus closing the socket on the service side.

[2021-02-19 11:28] #397 closed

[2021-02-21 22:15] SkeLLLa opened #404 "[types] reply object is missing in context"
Hi.

In types `context` (`MercuriusContext`) doesn't contain `reply` object. Likely in js it's done here: https://github.com/mercurius-js/mercurius/blob/master/index.js#L242

Also in test `request` and `reply` are just declared in this interface https://github.com/mercurius-js/mercurius/blob/master/test/types/index.ts#L53, so they should be present in it?

So is missing `reply` a bug or it's done

[2021-02-21 22:26] mcollina commented on #404
It's likely a bug! PR?

[2021-02-22 00:56] #404 closed

[2021-02-23 22:57] jonnydgreen opened #406 "Add subscription hooks to Mercurius"
Hi! As discussed in the original [hooks PR](https://github.com/mercurius-js/mercurius/pull/385#issuecomment-771872613), we could add GraphQL subscription hooks to Mercurius so we can process data at different points in the subscription lifecycle.

## Proposed solution

The subscription hooks to add will be:

- `preSubscriptionParsing`: before subscriptions are extracted from the input websocket da

[2021-02-24 01:56] mcollina commented on #406
Go for it!

[2021-02-24 11:48] rajagopalx opened #408 "Add schema directives support"
I think schema directives are currently not supported.

https://www.apollographql.com/docs/apollo-server/schema/directives/

or Is there any alternative?

[2021-02-24 11:50] mcollina commented on #408
Why do you think they are not supported? I think they are: https://github.com/mercurius-js/mercurius/blob/2cb57b0da3903e8f54e3327558d4fcea10ee63ac/test/directives.js

Maybe we are missing docs.

[2021-02-24 11:52] mrazauskas opened #409 "Mark 'schema' optional in 'MercuriusSchemaOptions'"
At the moment `fastify.register(mercurius, { path: '/' })` trows `Property 'schema' is missing in type '{ path: string; }' but required in type 'MercuriusSchemaOptions'`.

Here is how I am using Mercurius (based on a sample from [docs](https://mercurius.dev/#/docs/api/options?id=appgraphqlextendschemaschema-appgraphqldefineresolversresolvers-and-appgraphqldefineloadersloaders)):

[code]

The code

[2021-02-24 12:05] rajagopalx commented on #408
Thank you. Is there any example using `SchemaDirectiveVisitor`?

https://www.graphql-tools.com/docs/legacy-schema-directives/#implementing-schema-directives
https://www.apollographql.com/docs/apollo-server/schema/directives/#using-custom-schema-directives

Thank you.

[2021-02-24 12:47] mcollina commented on #408
I don't think so, the tests are probably the most reliable source.

[2021-02-24 12:48] mcollina commented on #409
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-02-24 12:53] rajagopalx commented on #408
Okay. Thank you.

[2021-02-24 12:54] #408 closed

[2021-02-25 00:54] #406 closed

[2021-02-25 04:58] #409 closed

[2021-03-01 09:15] valdestron opened #413 "Subscriptions in federation mode with different pubsub works does not work"
I am trying to migrate apollo gateway to mercurius gateway.

Federated service schema is built using @apollo/federation.

Using remote rabbitmq pubsub based on graphql-subscriptions and susbcriptions-transport-ws.

Subscriptions works correctly over federated server. If subscription is used over gateway, GQL_STOP event is not forwarded to the federated server, thus federated server resolver is han

[2021-03-01 09:20] mcollina commented on #413
Good spot! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-03-01 11:57] FedericoBiccheddu opened #414 "Improve PubSub typescript typings"
I'm using the default `mercurius`' PubSub implementation, but typings do not help working with Typescript and code-first libraries like `gqtx` or `nexus` because every `subscribe` or `publish` call needs to be manually typed.

The following should cover most of the use cases without breaking old implementation:
[code]